<template>
  <b-container fluid>
    <b-card>
      <b-head>
        <h3 class="text-center">Resultados del Día </h3>
      </b-head>
      <b-card-text class="text-center">
        En este modulo pueden realizar al consulta de los resultados del día anterior o anteriores.
      </b-card-text>
     <div class="row">
     <div class="col-12 col-sm-6">
     <SelecDate title="Fecha a Buscar"  v-bind:dd="ResultDate" v-on:input="ResultDate = $event"></SelecDate>
     </div>
     <div class="col-12 col-sm-6">
      <b-button block variant="primary" @click="searchResults">
        <span class="simple-icon-magnifier px-3"></span>
        <span class="pr-3">Buscar</span>
      </b-button>
     </div>
     </div>
     <b-row v-if="loadData">
        <b-col >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
     <b-row>
     <b-col>
      <b-table responsive :fields="fields" :items="items">
        <template  #cell(logo)="row" style="height:auto;">
        <div class="align-middle d-flex justify-content-center align-self-center">
            <img :src="ap +'/../../imglottery/'+ row.item.ab_lottery + '.png'" alt="" width="100px" class="">
        </div>
        </template>
        <template  #cell(name_lottery)="row" style="height:auto;" class="align-middle">
          <div class="strong d-flex justify-content-center align-self-center" style="height:auto;">{{row.item.name_lottery}}</div>
        </template>

        <template  #cell(number)="row" class="align-middle">
          <div class="strong2 d-flex justify-content-center align-self-center" style="height:auto;">{{row.item.number}}</div>
        </template>
      </b-table>
     </b-col>
     </b-row>
    </b-card>
  </b-container>
</template>

<script>
import results from "./../../store/modules/results";
import moment from 'moment';
import {apiUrl}  from './../../constants/config';
import SelecDate from './../Common/SelectDate'
export default {
  components: {
    SelecDate
  },
  data () {
    return {
      ResultDate: moment().format('YYYY-MM-DD'),
      fields: [
       
        { key: 'logo', label: ''},
        { key: 'name_lottery', label: 'Loteria'},
        { key: 'number', label: 'Numero'},
      
      ],
      items: [],
      loadData: false,
      ap: apiUrl,
    }
  },
  mounted() {
    this.searchResults();
    this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
  },
  methods:{
    searchResults (){
      
      if(this.ResultDate != ''){
        this.loadData = true;
        try{
          results.getResult(this.ResultDate)
          .then(result => {
            this.loadData = false;
          if(result.status != 200){
            this.$notify('error', 'Error', result.message, { duration: 3000, permanent: false });
          }else if(result.status == 200){
            this.items = result.data;
            
          }
        })
        }catch(e){
          this.$notify('error', 'Error', e.message, { duration: 3000, permanent: false });
        }
      }else{
       this.$notify('error', 'Error', 'El Campo de Fecha es Obligatorio', { duration: 3000, permanent: false });
      }
    }
  }

}
</script>

<style scoped>
.strong{
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 10%;
  
}
.strong2{
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 20%;
  
}
</style>