<template>
  <b-container fluid>
    <b-row>
      <b-col sm="12">
        <h3>Listado de Mega Abiertas</h3>
      </b-col>
      <b-col sm="12">
        <b-table striped hover :items="items" :fields="fields">
            <template #cell(action)="data">
                <b-button variant="success" @click="changeStatus(data)">Cambiar de Estado( {{data.item.status}} )</b-button>
            </template>
        </b-table>
      </b-col>
    </b-row>
    </b-container>
</template>
<script>
import Mega from "@/store/modules/Mega";
import StatusBtnVue from "../Common/StatusBtn.vue";
export default {
    components: {
        StatusBtnVue
    },
    data(){
        return {
            items: [],
            fields: [
                {label: 'Id', key: 'id', sortable: true},
                {label: 'Nombre', key: 'namemega', sortable: true},
                {label: 'Fecha de Juego', key: 'date_play', sortable: true},
                {label: 'Limite', key: 'limit', sortable: true},
                {label: 'Loteria', key: 'desc_lottery', sortable: true},
                {label: 'Valor Venta', key: 'value', sortable: true},
                {label: 'Valor Ganado', key: 'winner', sortable: true},
                {label: 'Estado', key: 'status', sortable: true},
                {label: '', key: 'action', sortable: false},
            ],
            confirm: false,
        }
    },
    methods: {
        load(){
            Mega.get()
            .then(response =>{
                this.items = response.data;
            });
        },
        changeStatus(data){
            let newForm = {
                id: data.item.id,
                lottery_id: data.item.lottery_id,
                date_play: data.item.date_play,
                limit: data.item.limit,
                value: data.item.value,
                winner: data.item.winner,
                status: data.item.status == 'Activo' ? 'Inactivo' : 'Activo'
            }
            this.confirm = false;
            this.$bvModal.msgBoxConfirm('Seguro de GUARDAR', {okTitle: 'Continuar',cancelTitle: 'Cancelar'})
            .then(value => {
                this.confirm = value;
                if(this.confirm){
                    Mega.newMega(newForm);
                    this.load();
            }
            })
        },
    },
    mounted(){
        this.load();
    }
}
</script>

<style>

</style>