<template>
  <b-container fluid>
    <b-row>
      <b-col sm="12">
        <h3>Nueva Mega Rifa</h3>
      </b-col>
      <b-col sm="12">
            <b-form @submit="onSubmit" @reset="onReset">
                <b-row>
                    <div class="col-12 col-sm-6 col-md-3">
                        <SelecDate title="Fecha Futura"  v-bind:dd="form.date_play" v-on:input="form.date_play = $event"></SelecDate>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <b-form-group
                        label="Nombre de Mega"
                        label-for="value"
                        class="m-0 p-0"
                        >
                            <b-form-input
                                id="value"
                                v-model="form.namemega"
                                placeholder="Ingrese Nombre de Mega"
                                type="text"
                                required
                                class="inputSale"
                            ></b-form-input>
                        </b-form-group>
                    </div> 
                    <div class="col-12 col-sm-6 col-md-3">
                        <b-form-group
                        label="Valor de Venta"
                        label-for="value"
                        class="m-0 p-0"
                        >
                            <b-form-input
                                id="value"
                                v-model="form.value"
                                placeholder="Ingrese Valor Venta"
                                type="number"
                                maxlength="5"
                                required
                                class="inputSale"
                                size="lg"
                            ></b-form-input>
                        </b-form-group>
                        {{formatNumber(form.value)}}
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <b-form-group
                        label="Valor Ganado"
                        label-for="winner"
                        class="m-0 p-0"
                        >
                            <b-form-input
                                id="winner"
                                v-model="form.winner"
                                placeholder="Ingrese Valor Ganado"
                                type="number"
                                maxlength="5"
                                required
                            ></b-form-input>
                        </b-form-group>
                        {{formatNumber(form.winner)}}
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <b-form-group
                        label="Loteria"
                        label-for="lott"
                        class="m-0 p-0"
                        >
                         <b-form-select v-model="form.lottery_id" :options="options" id="lott" size="sm" required></b-form-select>
                        </b-form-group>
                        
                    </div>
                    <div class="col-12 col-sm-6 col-md-2">
                        <b-form-group
                        label="Limite"
                        label-for="limit"
                        class="m-0 p-0"
                        >
                            <b-form-input
                                id="limit"
                                v-model="form.limit"
                                placeholder="Ingrese Valor Venta"
                                type="number"
                                maxlength="5"
                                required
                            ></b-form-input>
                        </b-form-group>
                    </div> 
                    <div class="col-12 py-3">
                        <b-button block variant="primary" type="submit">Guardar</b-button>
                    </div>  
                </b-row>
            
            </b-form>
      </b-col>
    </b-row>

    </b-container>
</template>

<script>
import SelecDate from './../Common/SelectDateFuture';
import moment from 'moment';
import getLottery from './../../store/modules/getLottery';
import Mega from "@/store/modules/Mega";
import MathData from '@/helpers/math'
export default {
    components:{
        SelecDate
    },
    data(){
        return {
            form : {
                date_play: moment().format('YYYY-MM-DD'),
                value: null,
                winner: null,
                limit: 9999,
                lottery_id: null,
                namemega: ''
            },
            options: [],
            confirm: false
        }
    },
    methods: {
        load(){
            getLottery.lottery()
            .then(response => {
                for(let lo in response){
                    this.options.push({
                        text : response[lo].desc_lottery,
                        value: response[lo].id
                    })
                }
            });
        },
        onSubmit(event){
            event.preventDefault();
            this.confirm = false;
            this.$bvModal.msgBoxConfirm('Seguro de GUARDAR', {okTitle: 'Continuar',cancelTitle: 'Cancelar'})
            .then(value => {
                this.confirm = value;
                if(this.confirm){
                    Mega.newMega(this.form);
                    this.$emit('save');
                    this.form.date_play= moment().format('YYYY-MM-DD');
                    this.form.value= null;
                    this.form.limit= 9999;
                    this.form.lottery_id= null;
            }
            })
            
        },
        onReset(){

        },
        formatNumber(value){
            return MathData.formatPrice(value);
        }
    },
    mounted() {
        this.load();
    }

}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap');  
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
      @media only screen and (max-width: 565px) {
      .inputSale{
      /*font-family: 'Big Shoulders Display', cursive;*/
      /* font-family: 'BenchNine', sans-serif; */
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: bold;
      font-size:8vw !important;
      }
      .inputSalep{
        /* font-family: 'BenchNine', sans-serif; */
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: bold;
        font-size:6vw;
      }
    }
    .borderTd{
      border-spacing: 0 !important;
    }
    .strong{
      font-weight: bold;
      font-size: 1.2em;
    }
</style>