<template>
  <list typeUser="Promotor"></list>
</template>

<script>
import list from './../../../components/promotors/list'
export default {
  components:{
    list
  }

}
</script>

<style>

</style>