<template>
  <div>
    <div v-if="is">
      <newPromotor :dataEdit="dataEdit"></newPromotor>
    </div>
    <card v-else>
      <card-text>Consultar con su Administrador, </card-text>
    </card>
  </div>
</template>

<script>
import newPromotor from './../../../components/promotors/newpromotors';
export default {
  components:{
    newPromotor
  },
  data() {
    return {
      is: false,
      dataEdit: []
    }
  },
  methods: {
    isPermission(){
      const permission = JSON.parse(localStorage.getItem('permission'));
      this.is = permission.length > 0 ? true : false;
      console.log(`Numero de Permisos${permission.length}`)
    }
  },
  mounted(){
   this.isPermission();

  }

}
</script>

<style>

</style>
