<template>
  <b-container fluid>
     <h3 class="strong">Lista de Promotores  {{typeUser}}</h3>
    <b-card-text>
        En este módulo se puede visualizar, editar y cambiar estado de los vendedores o promotores según sea su caso.
        <div class="text-right " v-if="false">
            <b-button variant="primary"  @click="howModal('modalbasic', 'Creaer Promotor')">Crear Promotor /  Vendedor</b-button>
        </div>
    </b-card-text>
    <b-row v-show="true">
        <b-col>
            <b-form-input
                id="filter-input"
                v-model="filter"
                type="search"
                placeholder="Buscar"
                ></b-form-input>
        </b-col>
    </b-row>
    <b-row>
        <b-col>
            <b-table responsive  :items="listPromotors" :fields="fields" :filter="filter" :current-page="currentPage" :per-page="perPage"  show-empty empty-text="No Hay Promotores Ni Vendedores">
                <template #cell(namePather)="row">
                    {{row.item.namePather.name}} / {{row.item.namePather.document}}
                </template>
                
                <template #cell(operation)="row">
                    {{row.item.operation}}
                    <div v-if="row.item.operation != 'Ilimitado'">
                        ${{ formatToken(row.item.balance) }}
                    </div>
                </template>
                <template #cell(permission)="row">
                    <div v-for="itemData in row.item.permissions" :key="itemData.id">
                        <b-badge variant="primary">{{itemData.permission}}</b-badge>
                        <hr>
                        
                    </div>
                </template>
                <template #cell(action)="row">
                        <b-row>
                            <b-col class="p-2">
                                <StatusBtn :status="row.item.status" v-on:clBtn="changeStatusUser(row.item.status, row.item.id)"/>
                            </b-col>
                            <b-col>
                                <b-button variant="light" @click="howModal('modalbasic', 'Editar Promotor', row)">
                                    <span  class="simple-icon-pencil"></span>
                                </b-button>
                            </b-col>
                        </b-row>
                    
                </template>
            </b-table>
            <b-col sm="12" class="my-1">
                <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
                ></b-pagination>
            </b-col>
            <div class="text-center" v-if="load">
                <b-spinner variant="primary" label="Spinning"></b-spinner>
            </div>
        </b-col>
    </b-row>

<b-colxx xxs="12">
    <b-modal size="xl" id="modalbasic" ref="modalbasic" :title="titleModal" @hidden="getList">
        <newpromotors :dataEdit="dataEdit"></newpromotors>
        <template slot="modal-footer">
            <b-button variant="primary" @click="hideModal('modalbasic')">Cerrar</b-button>
        </template>
    </b-modal>
</b-colxx>
  </b-container>
</template>

<script>
import promotors from './../../store/modules/promotors';
import newpromotors from './newpromotors.vue';
import MathData from './../../helpers/math';
import StatusBtn from './../Common/StatusBtn';
import moment from 'moment';

export default {
    components: {
        newpromotors,
        StatusBtn
    },
    props:{
        typeUser: String,
    },
    data(){
        return{
            load: true,
            currentPage: 1,
            totalRows: 0,
            perPage: 10,
            fields: [
                {key: 'name', label: 'Nombre Completo'},
                {key: 'email', label: 'Correo Electrónico'},
                {key: 'document', label: 'Usuario'},
                {key: 'phone', label: 'Telefono'},
                {key: 'role', label: 'Rol'},
                {key: 'namePather', label: 'Padre'},
                {key: 'operation', label: 'Tipo Operación'},
                {key: 'currency', label: 'Moneda'},
                {key: 'percentage', label: 'Porcentaje'},
                {key: 'megaraffle', label: 'Mega Rifa'},
                {key: 'city', label: 'Ciudad'},
                {key: 'permission', label: 'Permisos'},
                {key: 'action', label: ''},
            ],
            listPromotors: [],
            titleModal: '',
            filter: '',
            dataEdit: []
        }
    },
    mounted() {
        this.getList();
        this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
    },
    methods: {
        howModal(refname, title, dataEdit = []){
            this.dataEdit = dataEdit;
            this.titleModal = title;
            this.$refs[refname].show();
        },
        hideModal (refname) {
            this.$refs[refname].hide();
            this.getList();
        },
        getList(){
            promotors.get(this.typeUser)
        .then(response => {
            this.listPromotors = response.data;
            this.totalRows = this.listPromotors.length;
            this.load = false;
            // this.filter= this.typeUser
        })
        .catch(error => {

        })
        },
        objtPermission(val){
            let per = val;
            return per.id;
        },
        formatToken(token){
            return MathData.formatPrice(token);
        },
        changeStatusUser(st, id){
            let newStatus = '';
            if(st == 'Activo'){
                newStatus = 'Inactivo';
            }else{
                newStatus = 'Activo';
            }
            promotors.changeStatusPromotore(newStatus, id)
            .then(result => {
                if(result.status == 201){
                    this.getList();
                }
            });
        }
    }

}
</script>

<style scoped>
.strong{
font-weight: bold;
}

</style>