<template>
  <b-container fluid>
      <b-card>
          <b-row>
            <b-col sm="12" md="6" lg="4" xl="3" role="group">
                <b-form-group
                label="Nombre"
                label-for="form.name"
                description="Nombre Completo"
                class="mb-0"
                >
                <b-form-input
                    id="form.name"
                    v-model="form.name"
                    placeholder=""
                    required
                ></b-form-input>

                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3" v-show="false">
                <b-form-group
                label="Correo Electrónico"
                label-for="form.email"
                description="Correo Válido"
                class="mb-0"
                >
                <b-form-input
                    id="form.email"
                    v-model="form.email"
                    placeholder="@"
                    type="email"
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3" v-show="false">
                <b-form-group
                label="Usuario"
                label-for="form.document"

                class="mb-0"
                >
                <b-form-input
                    id="form.document"
                    v-model="form.document"
                    placeholder=""
                    type="number"
                    @change="validateDocument"
                    :state="statusDocument"
                    trim
                    required
                ></b-form-input>
                <b-form-invalid-feedback :state="statusDocument">
                    El Usuario Ya Existe.
                </b-form-invalid-feedback>
                </b-form-group>
            </b-col>
            <!--*****************role------------------------------------------------>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Rol"
                label-for="form.role"
                description="Rol"
                class="mb-0"
                >
                <b-form-select v-model="form.role" :options="role"  required>
                </b-form-select>
                </b-form-group>
            </b-col>
             <!--*****************role------------------------------------------------>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Clave"
                label-for="form.password"
                description="Dejar en Blanco para NO ACTUALIZAR"
                class="mb-0 strong"
                >
                <b-form-input
                    id="form.password"
                    v-model="form.password"
                    placeholder=""
                    type="text"
                    required
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Operacion"
                label-for="form.operation"
                description=""
                class="mb-0"
                >
                <b-form-select v-model="form.operation" :options="operation" required>
                </b-form-select>

                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3" v-show="form.operation == 'Token'">
                <b-form-group
                label="Saldo Inicial"
                label-for="form.balance"
                description=""
                class="mb-0 strong"
                >
                 <b-form-input
                    id="form.balance"
                    v-model="form.balance"
                    placeholder="$"
                    type="text"
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3" v-show="$store.state.role == 'Administrador'">
                <b-form-group
                label="Moneda"
                label-for="form.currency"
                description=""
                class="mb-0"
                >
                <b-form-select v-model="form.currency" :options="currency">
                </b-form-select>

                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Porcentaje"
                label-for="form.percentage"
                description=""
                class="mb-0"
                >
                <b-form-input
                    id="form.percentage"
                    v-model="form.percentage"
                    placeholder="%"
                    required
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Telefono"
                label-for="form.phone"
                description=""
                class="mb-0"
                >
                <b-form-input
                    id="form.phone"
                    v-model="form.phone"
                    placeholder=""
                    type="tel"
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="6" md="6" lg="6" xl="6">
                <b-form-group
                label="Ciudad / Observación"
                label-for="form.city"
                description="Ciudad donde Opera u Observacion"
                class="mb-0"
                >
                <b-form-input size="xl"
                    id="form.city"
                    v-model="form.city"
                    placeholder=""
                    type="text"
                ></b-form-input>
                </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" md="12" lg="12" xl="12" v-if="!loadPermissions">
                <b-form-group label="Permisos del Usuario:" v-slot="{ ariaDescribedby }" v-if="form.role != 'Vendedor'">
                    <b-form-checkbox-group
                        id="checkbox-group-1"
                        v-model="form.permissions"
                        :options="permissions"
                        :aria-describedby="ariaDescribedby"
                        name="flavour-1"
                    >
                    </b-form-checkbox-group>

                </b-form-group>
              </b-col>
                <b-col v-if="loadPermissions">
                    <div class="d-flex justify-content-center text-center mb-3">
                        <strong>Cargando... Permisos</strong>
                        <b-spinner class="ml-auto"></b-spinner>
                    </div>
                </b-col>
          </b-row>
          <b-row class="p-3 bg-light">

              <b-col v-show="$store.state.role == 'Administrador' || currentRaffle" class="mt-4 pl-5">
                   <b-form-checkbox
                    id="checkbox-1"
                    v-model="form.raffle"
                    name="checkbox-1"
                    value="true"
                    unchecked-value="false"
                    >
                        Permitir Rifas
                    </b-form-checkbox>
              </b-col>
              <b-row v-show="form.raffle == 'true'">
                  <b-col >
                  <b-form-group
                    label="Rifa 4 Cifras"
                    label-for="form.raffleFour"
                    description=""
                    class="mb-0"
                    >
                    <b-form-input
                        id="form.raffleFour"
                        v-model="form.raffleFour"
                        placeholder=""
                        type="number"
                        :readonly="readonlyProm"
                    ></b-form-input>
                    </b-form-group>
              </b-col>
              <b-col v-show="form.raffle">
                  <b-form-group
                    label="Rifa 3 Cifras"
                    label-for="form.raffleThree"
                    description=""
                    class="mb-0"
                    >
                    <b-form-input
                        id="form.raffleThree"
                        v-model="form.raffleThree"
                        placeholder=""
                        type="number"
                        :readonly="readonlyProm"
                    ></b-form-input>
                    </b-form-group>
              </b-col>

              </b-row>
              <b-col v-show="enableMegaRaffle == true">
                <b-form-group
                    label="Porcentaje Mega Rifa"
                    label-for="form.megaraffle"
                    description=""
                    class="mb-0"
                    >
                    <b-form-input
                        id="form.megaraffle"
                        v-model="form.megaraffle"
                        placeholder=""
                        type="number"

                    ></b-form-input>
                    </b-form-group>

            </b-col>
          </b-row>

          <b-row v-if="$store.state.role == 'Administrador'">
            <b-col>
                <b-form-group
                label="Promotor"
                label-for="user_id"
                description="Dejar en Blaco para Auto Asignarse"
                class="mb-0">
                <model-select
                id="user_id"
                :options="listUser"
                v-model="form.selectUser"

                >
                </model-select>
                </b-form-group>
            </b-col>
          </b-row>

          <b-row v-if="loadAward">
            <b-col >
                <div class="d-flex justify-content-center text-center mb-3">
                    <strong>Cargando...Plan de Premiación</strong>
                    <b-spinner class="ml-auto"></b-spinner>
                </div>
            </b-col>
          </b-row>
          <b-row v-if="!loadAward">
            <b-col sm="12" md="12" lg="12" xl="12">
                <h3 class="fw-bold">Plan de Premiación</h3>
            </b-col>
            <b-col>
            <b-form-group
                label="Loterias"
                label-for="lotterys"
                description="Si no se selecciona una opción se tomara todo"
                class="mb-0"
                >
                <b-form-select
                    id="lotterys"
                    v-model="lotterys"
                    :options="listLottery"
                    multiple
                    :disabled="readonlyProm"
                ></b-form-select>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Super"
                label-for="awardplan.super"
                description="Super (4) Digitos"
                class="mb-0"
                >
                <b-form-input
                    id="awardplan.super"
                    type="number"
                    v-model="awardplan.super"
                    :max="formMax.super"
                    @change="changeDataAwardPlan(formMax.super, awardplan.super, 'super')"
                    :readonly="readonlyProm"
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Tres Cifras"
                label-for="awardplan.three_figures"
                description=""
                class="mb-0"
                >
                <b-form-input
                    id="awardplan.three_figures"
                    type="number"
                    v-model="awardplan.three_figures"
                    @change="changeDataAwardPlan(formMax.three_figures, awardplan.three_figures, 'three_figures')"
                    :readonly="readonlyProm"
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Cuña"
                label-for="awardplan.cradle"
                description="Dos Ultimas Cifras"
                class="mb-0"
                >
                <b-form-input
                    id="awardplan.cradle"
                    type="number"
                    v-model="awardplan.cradle"
                    @change="changeDataAwardPlan(formMax.cradle, awardplan.cradle, 'cradle')"
                    :readonly="readonlyProm"
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Última Cifra"
                label-for="awardplan.figure"
                description="Ultimas Cifra"
                class="mb-0"
                >
                <b-form-input
                    id="awardplan.figure"
                    type="number"
                    v-model="awardplan.figure"
                    @change="changeDataAwardPlan(formMax.figure, awardplan.figure, 'figure')"
                    :readonly="readonlyProm"
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Combinado 3 Cifras"
                label-for="awardplan.combined_three_figure"
                description=""
                class="mb-0"
                >
                <b-form-input
                    id="awardplan.combined_three_figure"
                    type="number"
                    v-model="awardplan.combined_three_figure"
                    @change="changeDataAwardPlan(formMax.combined_three_figure, awardplan.combined_three_figure, 'combined_three_figure')"
                    :readonly="readonlyProm"
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Combinado 4 Cifras"
                label-for="awardplan.combined_four_figure"
                description=""
                class="mb-0"
                >
                <b-form-input
                    id="awardplan.combined_four_figure"
                    type="number"
                    v-model="awardplan.combined_four_figure"
                    @change="changeDataAwardPlan(formMax.combined_four_figure, awardplan.combined_four_figure, 'combined_four_figure')"
                    :readonly="readonlyProm"
                ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col sm="12" md="6" lg="4" xl="3">
                <b-form-group
                label="Combinado Doble"
                label-for="awardplan.double_combo"
                description=""
                class="mb-0"
                >
                <b-form-input
                    id="awardplan.double_combo"
                    type="number"
                    v-model="awardplan.double_combo"
                    @change="changeDataAwardPlan(formMax.double_combo, awardplan.double_combo, 'double_combo')"
                    :readonly="readonlyProm"
                ></b-form-input>
                </b-form-group>
            </b-col>
          </b-row>
          <b-row>
              <b-col sm="12">
                  <b-button block variant="primary" @click="sendUser">
                      <span class="iconsminds-save"></span>
                      Guardar
                  </b-button>
              </b-col>
              <b-col sm="12" v-if="!statusDocument && statusDocument != null">
                 <b-alert show variant="danger" class="rounded text-center">
                    Verificar el Documento de Identidad, Ya existe uno con la información
                 </b-alert>

              </b-col>
          </b-row>

      </b-card>
  </b-container>
</template>

<script>
//lotterylist
import users from './../../store/modules/users';
import promotors from './../../store/modules/promotors';
import awardplan from './../../store/modules/awardplan';
import config from './../../store/modules/config';
import getLottery from './../../store/modules/getLottery';
import 'vue-search-select/dist/VueSearchSelect.css';
import { ModelSelect } from 'vue-search-select';
import storage from './../../store/modules/storage';
import moment from 'moment';

export default {
    components: {
        ModelSelect
    },
created(){
    this.currentUser = JSON.parse(storage.get('user'));
    getLottery.lottery()
    .then((response) => {
        for(let i in response){
            this.listLottery.push({value: response[i].id, text: `${response[i].desc_lottery}:${response[i].abbreviation}`});
        }
    });
},
 props:{
     dataEdit: []
 },
 data(){
     return {
         form : {
            id:'0',
            name: '',
            email: 'p2p@yomail.com',
            document: '',
            password: '',
            role: 'Vendedor',
            operation: 'Token',
            percentage: '',
            phone: '',
            city: '',
            balance: '0',
            currency: 'COP',
            permissions: [],
            raffle: false,
            lotterys: '',
            selectUser: null,
            raffleFour: 5000,
            raffleThree: 2000,
            megaraffle: 0,
         },
         operation: [
             {text: 'Ilimitado', value: 'Ilimitado'},
             {text:'Token', value:'Token'}
         ],
         currency: ['COP', 'USD', 'EUR'],
         role : [],//['Administrador', 'Puntos de Venta','Promotor', 'Vendedor'],
         confirm: false,
         enableMegaRaffle: false,
         permissions: [],
         awardplan: {
            super: '',
            three_figures: '',
            cradle: '',
            figure: '',
            combined_three_figure: '',
            combined_four_figure: '',
            double_combo: '',
         },
        loadPermissions: true,
        loadAward: true,
        lotterys: [],
        listLottery: [],
        formMax: [],
        listUser: [],
        currentUser: {},
        currentRaffle: false,
        statusDocument: null,
        readonlyProm: false
     }
 },
 mounted() {
  const dataUser = JSON.parse(localStorage.getItem('user'));
  this.enableMegaRaffle = dataUser.megaraffle == 0 ? false : true;

    this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
     this.searchUserPromotore();
     this.currentRaffle = this.currentUser.raffle;
     config.getPermissions().then(response => {
         for (let i in response.data){
             this.permissions.push({text: response.data[i].permission, value: response.data[i].id});
         }
     });
     config.getRoles()
     .then(response => {
         this.role = response.data;
         this.loadPermissions = false;
     });
    if(Object.keys(this.dataEdit).length > 0){
        this.statusDocument = true;
        console.log(this.dataEdit.item)
        this.form = {
            id: this.dataEdit.item.id.toString(),
            name: this.dataEdit.item.name,
            email: this.dataEdit.item.email,
            document: this.dataEdit.item.document,
            password: this.dataEdit.item.password,
            role: this.dataEdit.item.role,
            operation: this.dataEdit.item.operation,
            percentage: this.dataEdit.item.percentage.toString(),
            phone: this.dataEdit.item.phone,
            city: this.dataEdit.item.city,
            balance: this.dataEdit.item.balance,
            currency: this.dataEdit.item.currency,
            awardplan: this.awardplan,
            selectUser: this.selectUser,
            raffle: this.dataEdit.item.raffle,
            megaraffle: this.dataEdit.item.megaraffle,
            raffleFour: parseFloat(this.dataEdit.item.raffle_four),
            raffleThree: parseFloat(this.dataEdit.item.raffle_three),
            //permissions: []
         }
         let tmpPermissions = [];
        for (let i in this.dataEdit.item.permissions){
            tmpPermissions.push(this.dataEdit.item.permissions[i].id.toString());
        }
        this.form.permissions = tmpPermissions;
        this.lotterys = this.dataEdit.item.lotterys != '-1' ? this.dataEdit.item.lotterys.split(','): [];
        if(Object.keys(this.dataEdit.item.userAwardPlan) .length > 0){
            this.awardplan = {
                        super: this.dataEdit.item.userAwardPlan.super,
                        three_figures: this.dataEdit.item.userAwardPlan.three_figures,
                        cradle: this.dataEdit.item.userAwardPlan.cradle,
                        figure: this.dataEdit.item.userAwardPlan.figure,
                        combined_three_figure: this.dataEdit.item.userAwardPlan.combined_three_figure,
                        combined_four_figure: this.dataEdit.item.userAwardPlan.combined_four_figure,
                        double_combo: this.dataEdit.item.userAwardPlan.double_combo,
                    };
            this.formMax = {
                        super: this.dataEdit.item.userAwardPlan.super,
                        three_figures: this.dataEdit.item.userAwardPlan.three_figures,
                        cradle: this.dataEdit.item.userAwardPlan.cradle,
                        figure: this.dataEdit.item.userAwardPlan.figure,
                        combined_three_figure: this.dataEdit.item.userAwardPlan.combined_three_figure,
                        combined_four_figure: this.dataEdit.item.userAwardPlan.combined_four_figure,
                        double_combo: this.dataEdit.item.userAwardPlan.double_combo,
                    };
            this.loadAward = false;
        }
    }else{
        this.getAwardPlans();
    }
    this.readOnlyUpdate();
 },
 methods: {
     sendUser(){
            this.confirm = false;
            if(this.lotterys.length > 0){
                this.form.lotterys = this.lotterys.join(",");
            }else{
                this.form.lotterys = '-1';
            }

            this.$bvModal.msgBoxConfirm('Seguro de GUARDAR este Limite', {okTitle: 'Continuar', cancelTitle: 'Cancelar'})
            .then(result => {
                this.confirm = result;
                if(this.confirm){

                    let snd =() => {
                        let multi = 1;
                        for(let i in this.form){
                            if(i != 'permissions' && i != 'balance' && i != 'password'){
                                multi = multi * this.form[i].length;
                            }
                        }
                        return multi>0 ? true : false;
                    }
                    if(true){
                        this.form.awardplan = this.awardplan;
                        users.newUser(this.form)
                        .then(result => {

                            if(result.status == 201){
                                this.$bvModal.msgBoxOk('Se ha Creando y/o Modificado el USUARIO - Usuario para Ingreso: ' + result.data.user.document, {
                                title: 'Estado de Creación o Actulización',
                                size: 'md',
                                buttonSize: 'md',
                                okVariant: 'success',
                                headerClass: 'p-2 border-bottom-0',
                                footerClass: 'p-2 border-top-0',
                                centered: true
                                })
                                // this.$notify('success', 'Resultado de Proceso', 'Se ha Creando y/o Modificado el USUARIO - Usuario para Ingreso: ' + result.data.user.id, { duration: 3000, permanent: false });
                                this.form = {
                                    id:'0',
                                    name: '',
                                    email: 'p2p@yomail.com',
                                    document: '',
                                    password: '',
                                    role: 'Vendedor',
                                    operation: 'Token',
                                    percentage: '',
                                    phone: '',
                                    city: '',
                                    balance: '0',
                                    currency: 'COP',
                                    permissions: [],
                                    raffle: false,
                                    lotterys: '',
                                    selectUser: null,
                                    raffleFour: 5000,
                                    raffleThree: 2000
                                };
                                this.getAwardPlans();
                            }else{
                                this.$notify('error', 'Resultado de Proceso', `Error del proceso ${result.data.error}`, { duration: 3000, permanent: false });
                            }
                        })
                        .catch(err => {
                            this.$notify('error', 'Resultado de Proceso', `Error del SISTEMA: ${err}`, { duration: 3000, permanent: false });
                        })
                    }else{
                        this.$notify('error', 'Resultado de Proceso', 'Los Campos Son Obligatorios', { duration: 3000, permanent: false });
                    }
                }
            })
            .catch(err => console.log(err))
     },
     getAwardPlans(){
         awardplan.get(this.form.id)
         .then(response => {
                this.loadAward = false;
                this.awardplan = {
                        super: response.data[0].super,
                        three_figures: response.data[0].three_figures,
                        cradle: response.data[0].cradle,
                        figure: response.data[0].figure,
                        combined_three_figure: response.data[0].combined_three_figure,
                        combined_four_figure: response.data[0].combined_four_figure,
                        double_combo: response.data[0].double_combo,
                    };
                    this.formMax = {
                        super: response.data[0].super,
                        three_figures: response.data[0].three_figures,
                        cradle: response.data[0].cradle,
                        figure: response.data[0].figure,
                        combined_three_figure: response.data[0].combined_three_figure,
                        combined_four_figure: response.data[0].combined_four_figure,
                        double_combo: response.data[0].double_combo,
                    };

         })
     },
     changeDataAwardPlan(base, value, field){
         if(this.$store.state.role != 'Administrador')
            if(parseFloat(value) > parseFloat(base)){
                this.awardplan[field] = base;
            }
     },
     searchUserPromotore(searchText){
             this.listUser = [];
             let user = promotors.searchUser('Promotor', searchText)
            .then(data =>{
                var usersData = data.data;
                 this.listUser.push({
                        value: '1' , text: 'Nombre: Administrador Principal'
                    })
                for(let user in usersData){
                    this.listUser.push({
                        value: usersData[user].id , text: 'Nombre: ' + usersData[user].name + ' Doc: ' + usersData[user].document
                    })
                }
            });
     },
     validateDocument(){
         if(this.form.document.length > 0){
             users.validateDocument(this.form.document)
             .then(response => {
                 console.log(response.data);
                 if(response.data){
                     this.statusDocument = true;

                 }else{
                     this.statusDocument = false;
                 }
             })
             .catch(error => {

             })
         }
     },
     readOnlyUpdate(){

         if(Object.keys(this.dataEdit).length > 0 && this.$store.state.role != "Administrador"){
             this.readonlyProm = true;
             console.log('Editar NO Prom')

         }
     }
    }
}
</script>

<style>

</style>
