<template>
<div class="container-fluid">
  <div class="row " v-show="steps == 1">
    <b-col class="text-center strong">
      Total a Pagar: ${{ formatPrice(totalToPay) }}
    </b-col>
  </div>
  <div class="row gap-5" v-show="steps == 0">
    <div class="col-12 mb-3">
      <button class="btn btn-primary" v-on:click="allSelect">
        Seleccionar Todo
      </button>
      <button class="btn btn-primary" v-on:click="unAllSelect">
        Deseleccionar Todo
      </button>
    </div>
      <b-card class="mb-3 text-center m-2 align-middle" v-for="lott in lotterys" :key="lott.id" :id="lott.id" v-on:click="select(lott.id, lott.desc_lottery)" >
        <div class="align-middle">
          <img :src="lott.urlimg" alt="" srcset="" class="img-fluid img-thumbnail" width="100px">
          <p class="card-text font-weight-normal mb-0 strong align-middle">{{ lott.desc_lottery }}</p>
          <p class=" text-center font-weight-normal align-middle">Cierre: <br> {{ lott.closing_time }}</p>
        </div> 
      </b-card>
      <b-card v-if="lotterys.length == 0" justify-content-center>
      <b-card-text class="text-center">
        <h2 class="text-center">No hay Loterias Abiertas</h2>
      </b-card-text> 
      </b-card>
  </div>
  <div class="row" v-show="steps == 1">
    <div class="col-12">
      <div class="table-responsive px-2">
        <table class="table table-hover" cellspacing="0px" cellpadding="0px">
        <thead>
          <tr class="row">
            <th scope="col" class="col-3">
              <button v-on:click="eraseAll" class="btn mb-1 btn-outline-secondary btn-block">
                <div class="glyph">
                  <div class="class-name">Borrar</div>
                </div>
              </button>
            </th>
            <th scope="col" class="col-3">
              <button v-on:click="equalValue" class="btn mb-1 btn-outline-secondary btn-block">
                <div class="glyph">
                  MV
                </div>
              </button>
            </th>
            <th scope="col" class="col-3">
              <button v-on:click="equalValueCun" class="btn mb-1 btn-outline-secondary btn-block">
                <div class="glyph">
                  MV
                </div>
              </button>
            </th>
            <th scope="col" class="col-3">
              <button v-on:click="equalValueCom" class="btn mb-1 btn-outline-secondary btn-block">
                <div class="glyph">
                  MV
                </div>
              </button>
            </th>
          </tr>
          <tr class="row">
            <th class="text-center lead col-3" id="numberSell">
              Número
            </th>
            <th class="text-center lead col-3">
              Valor
            </th>
            <th class="text-center lead col-3">
              Cuña
            </th>
            <th class="text-center lead col-3">
              Combiando
            </th>
          </tr>
        </thead>
        <tbody class="">
          <tr role="" class="row" scope="row" v-for="index in totalRowForm" :key="index">
            <td class="col-3 px-2">
              <input type="number"  :name="index" :id="'numberLottery'+index" class="form-control inputSale text-center" @change="addRow(index)"  v-on:keyup="valueInput(index)" maxlength="4" pattern="[0-9]" >
            </td>
            <td class="col-3 px-2">
              <input type="number" maxlength="6" name="" :id="'valorLottery'+index" class="form-control inputSalep text-center"  v-on:keyup="valueInputCoin('valorLottery'+index)">
            </td>
            <td class="col-3 px-2">
              <input type="number" maxlength="6" name="" :id="'cunaLottery'+index" class="form-control inputSalep text-center"  v-on:keyup="valueInputCoin('cunaLottery'+index)">
            </td>
            <td class="col-3 px-2">
              <input type="number" maxlength="6" name="" :id="'combinateLottery'+index" class="form-control inputSalep text-center" v-on:keyup="valueInputCoin('combinateLottery'+index)">
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="text-center lead">
      Total a Pagar: ${{ formatPrice(totalToPay) }}
    </div>
  </div>
  <div class="row" v-if="steps == 2">
    <list-client v-on:idClient="enableNext" :buttonNewClient="true"></list-client>
  </div>
  <div class="row" v-if="steps == 3">
    <div class="col-12 m-3">
      <h2 class="text-center">Cliente: {{client.name ? client.name : 'Usuario Empresa'}}</h2>
    </div>
    <b-card-group class="col-12">
      <b-card header="Resumen de Loterias" header-class="h4" class="text-center">
          <b-card-text>
            <table class="table b-table">
              <thead>
                <th>Loteria</th>
                <th>Acción</th>
              </thead>
              <tbody>
                <tr v-for="i in nameLottery" :key="i.id">
                  <td class="strong">{{i.name}}</td>
                  <td>
                    <button class="btn btn-danger" v-on:click="deleteLotteryList(i)">
                        <div class="simple-icon-trash"></div>
                    </button>
                    </td>
                </tr>
              </tbody>
            </table>
          </b-card-text>
      </b-card>
      <b-card header="Resumen de Numeros" header-class="h4" class="text-center">
          <b-card-text>
            <table class="table b-table">
              <thead>
                <th>Número</th>
                <th>Valor $</th>
              </thead>
              <tbody>
                <tr v-for="inum in pushNumber" :key="inum.num">
                  <td class="strong"> {{ inum.num }}</td>
                  <td>
                    <div v-if="inum.val > 0">
                      <small class="badge mb-1 badge-light badge-pill strong">Derecho</small>
                        <span class="strong">
                          ${{ formatPrice(inum.val) }}
                        </span>
                        <br>
                    </div>
                    <div v-if="inum.com > 0">
                      <small class="badge mb-1 badge-light badge-pill strong">Combinado</small>
                      <span class="strong">
                        ${{ formatPrice(inum.com) }}
                      </span>
                      <br>
                    </div>
                    <div v-if="inum.cuna > 0">
                      <small class="badge mb-1 badge-light badge-pill strong">Cuña</small>
                      <span class="strong">
                        ${{ formatPrice(inum.cuna) }}
                      </span>
                      <br>
                    </div>
                    </td>
                </tr>
              </tbody>
            </table>
          </b-card-text>
      </b-card>
    </b-card-group>
    <div class="col-12 text-center m-4">
      <div class="text-center lead py-1 strong">
        Total a Pagar: ${{ formatPrice(totalToPay) }}
      </div>
      <div v-if="$store.state.operation == 'Ilimitado' || totalToPay <= $store.state.balance ">
        <button class="btn mb-2 btn-primary btn-lg" v-on:click="saveBet" v-show="totalToPay > 0 && pushNumber.length > 0" id="saveBetBtn">
          Guardar Apuesta
        </button>
      </div>
      <div v-else>
        <b-badge variant="danger">
          No tiene SALDO
        </b-badge>
      </div>
      <br>
      <div class="alert alert-danger" v-show="pushNumber.length == 0">
        No Se Puede Enviar la Apusta, Debe Ingresar al Menos un Número.
      </div>
    </div>
  </div>
  <div class="row text-center fixed-bottom py-3">
    <div class="col-6">
      <button class="btn btn-primary btn-block" v-if="steps > 0" v-on:click="backLottery">
        <span class="iconsminds-back-2"></span> Regresar
      </button>
    </div>
    <div class="col-6">
      <div v-show="buttonNext" >
        <button class="btn btn-primary btn-block" :disabled="disButtonNext" v-on:click="nextLottery" id="btnNext">
          Siguiente <span class="glyph-icon iconsminds-next-2"></span>
        </button>
      </div>
    </div>
  </div>
    <b-modal id="bv-modal-success" ref="bv-modal-success" hide-footer @hidden="closeWhatsapp">
      <template #modal-title>
        Resultado de Proceso
      </template>
      <div class="d-block text-center">
        <p class="strong" v-html="msgSaveBet"></p>
       
        <whatsapp 
        no-enforce-focus=true 
        :pushNumber="pushNumber" 
        :nameLottery="nameLottery" 
        :numberTicket="numberTicket" 
        :totalToPay="totalToPay" 
        :dateBet="dateBet"
        ></whatsapp>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-success')">Cerrar</b-button>
    </b-modal>
</div>
</template>
<script>
import getLottery from "../../store/modules/getLottery";
import getBet from "../../store/modules/getBet";
import listClient from "../../components/Client/listClient";
import whatsapp from "./../Common/whatsapp.vue";
import users from "./../../store/modules/users"
import doubleDig from './../../helpers/doubleDig';
import MathData from './../../helpers/math';
import moment from 'moment';
export default {
  data() {
        return {
            confirm: false,
            lotterys: [],
            newClassCss : ['shadow-lg', 'bg-primary'],
            bgBodyUnsellect : ['bg-body'],
            lotteryList: [],
            nameLottery: [],
            steps: 0,
            totalRowForm: 20,
            numbers: true,
            totalToPay: 0,
            pushNumber: [],
            client: {
              name: '',
              id: ''
            },
            confirmAlert: false,
            numberTicket: 0,
            msgSaveBet: '',
            dateBet: '',
            countError: 0,
            limitTransactional: 1
        };
  },
 components: {
    'list-client': listClient,
    whatsapp
  },
  mounted(){
    // document.body.classList.add("no-footer");
    document.getElementById('numberLottery1').disabled =false;
    this.dataMounted();
  },
  beforeDestroy() {
        // document.body.classList.remove("no-footer");
    },
  methods: {
    dataMounted(){
      const data = getLottery.lotteryDay();
      data.then((res) =>{
        this.lotterys = res;
        });
    },
    select:function(event,nameLottery) {
      var pos = this.lotteryList.indexOf(event);
      const element = document.getElementById(event);
     
      if(pos == -1){
        //element.style.opacity ="1";
        this.lotteryList.push(event);
        this.nameLottery.push({'name': nameLottery, 'id':event});
        element.classList.add(... this.newClassCss);
      }else{
        //element.style.opacity ="0.5";
        this.lotteryList.splice(pos, 1);
        this.nameLottery.splice(pos,1);
        element.classList.add(... this.bgBodyUnsellect);
        element.classList.remove(... this.newClassCss);
      }
      
    },
    allSelect:function(){
      if(this.nameLottery.length > 0)
        this.unAllSelect();
      for (var key in this.lotterys) {
       this.select(this.lotterys[key].id, this.lotterys[key].desc_lottery);
      }
    },
    unAllSelect:function(){
      this.lotteryList = [];
      this.nameLottery = [];
      for (var key in this.lotterys) {
        let element = document.getElementById(this.lotterys[key].id);
        element.classList.add(... this.bgBodyUnsellect);
        element.classList.remove(... this.newClassCss);
      }

},
    nextLottery: function() {
      this.steps +=1;
     
      if(this.steps == 1 && this.totalToPay == 0){
        document.documentElement.scrollTop = 0;
      }
      if(this.steps == 3){
        this.pushNumber = [];
        for (let i = 1; i <= this.totalRowForm; i++){
         let idNumer = `numberLottery${i}`;
         let idValue = `valorLottery${i}`;
         let idCombo = `combinateLottery${i}`;
         let idCuna = `cunaLottery${i}`;
         let num = document.getElementById(idNumer).value;
         let val = document.getElementById(idValue).value;
         let com = document.getElementById(idCombo).value;
         let cuna = document.getElementById(idCuna).value;
         if(num != ""){
           let dataTemp = {
           num,
           val,
           com,
           cuna
         }
         this.pushNumber.push(dataTemp);
         }
        }
      }
    },
    backLottery: function() {
      this.steps -=1;
      if(this.steps == 0){

}
    },
    addRow(index) {
      this.countRowForTable();
        // this.totalRowForm += 1;
    },
    sumTotal : function() {

      var totalTemporal = parseFloat(0);
      for (let i = 1; i <= this.totalRowForm; i++){
        let idNum = `numberLottery${i}`;
        let valNumber = document.getElementById(idNum).value;

        let idValue = `valorLottery${i}`;
        let val = document.getElementById(idValue).value;
        
        let idValue2 = `cunaLottery${i}`;
        let val2 = document.getElementById(idValue2).value;
        
        let idValue3 = `combinateLottery${i}`;
        let val3 = document.getElementById(idValue3).value;
        
        if(valNumber.length > 0 &&(val.length > 0 ||val2.length > 0 || val3.length > 0)){
          totalTemporal +=  parseFloat(val) > 0 ? parseFloat(val) : 0;
          //cunaLottery
          totalTemporal +=  parseFloat(val2) > 0 ? parseFloat(val2) : 0;
          //combinateLottery
          totalTemporal +=  parseFloat(val3) >0 ? parseFloat(val3) : 0;
          
        }
      }
      
     
      this.totalToPay = totalTemporal * this.lotteryList.length;
      if(this.totalToPay > 0){
        //Analytic for balance
        if(this.$store.state.balance >= this.totalToPay || this.$store.state.operation === 'Ilimitado'){
          document.getElementById('btnNext').style.display = "inline";
        }else{
          document.getElementById('btnNext').style.display = "none"
          if(this.countError == 0){
            this.$notify('warning', 'Resultado de Proceso', `Su Saldo es: ${this.$store.state.balance} y No puede superar este valor`, { duration: 3000, permanent: false });
            this.countError = 1;
          }
        }
      }
      this.countRowForTable();
    },
    equalValue: function() {
      if(document.getElementById('valorLottery1').value > 0 && document.getElementById('valorLottery1').value != ''){
        for (let i = 1; i <= this.totalRowForm; i++){
          let idNumer = `numberLottery${i}`;
          let idValue = `valorLottery${i}`;
          if(document.getElementById(idNumer).value != '' && document.getElementById(idNumer).value.length >=1){
            document.getElementById(idValue).value = document.getElementById('valorLottery1').value;
          }
        }
        this.sumTotal();
      }else{
        this.$notify('error', 'Debe Ingresar un Valor superior a 0 en la primer casilla');
      }
    },
    equalValueCun(){
      if(document.getElementById('cunaLottery1').value > 0 && document.getElementById('cunaLottery1').value != ''){
        for (let i = 1; i <= this.totalRowForm; i++){
           let idNumer = `numberLottery${i}`;
           let idValue = `cunaLottery${i}`;
           var valueInput = document.getElementById(idNumer).value;
           if(valueInput != '' && document.getElementById(idValue).style.display != 'none' && (valueInput.length == 3 || valueInput.length == 2)){
             document.getElementById(idValue).value = document.getElementById('cunaLottery1').value;
           }
         }
         this.sumTotal();
      }else{
        this.$notify('error', 'Debe Ingresar un Valor superior a 0 en la primer casilla');
      }
    },
    equalValueCom(){
      if(document.getElementById('combinateLottery1').value > 0 && document.getElementById('combinateLottery1').value != ''){
        for (let i = 1; i <= this.totalRowForm; i++){
           let idNumer = `numberLottery${i}`;
           let idValue = `combinateLottery${i}`;
           if(document.getElementById(idNumer).value != '' && document.getElementById(idValue).style.display != 'none' && document.getElementById(idNumer).value.length != 2){
             document.getElementById(idValue).value = document.getElementById('combinateLottery1').value;
           }
         }
         this.sumTotal();
      }else{
        this.$notify('error', 'Debe Ingresar un Valor superior a 0 en la primer casilla');
      }
    },
    eraseAll(){
      for (let i = 1; i <= this.totalRowForm; i++){
        let idNumer = `numberLottery${i}`;
        let idValue = `valorLottery${i}`;
        let idCombo = `combinateLottery${i}`;
        let idCuna = `cunaLottery${i}`;
        let num = document.getElementById(idNumer);
        let ri =document.getElementById(idValue);
        let com = document.getElementById(idCombo);
        let cuna = document.getElementById(idCuna);
        num.value = '';
        ri.value = '';
        com.value = '';
        cuna.value = '';
        
        num.style.display = "inline";
        ri.style.display = "inline";
        cuna.style.display = "inline";

        num.style.backgroundColor ='white'
        ri.style.backgroundColor ='white'
        cuna.style.backgroundColor ='white'
      }
      this.pushNumber=[];
    },
     formatPrice(value) {
       return MathData.formatPrice(value);
    },
    enableNext: function(id, name) {
      document.getElementById('btnNext').style.display = "inline";
      this.client.name = name;
      this.client.id = id;
      this.nextLottery();
    },
    saveBet(){
      document.getElementById('saveBetBtn').disabled = true;
      this.confirm = false;     
        this.confirm = true;
        if(this.limitTransactional == 1){
          this.limitTransactional++;
          getBet.saveBet(this.nameLottery, this.pushNumber, this.client)
          .then(response => {
            if(response.status == 201){
              this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
              this.countError = 0;
              this.numberTicket = response.data.id;
              this.msgSaveBet = response.data.msg;
              this.dateBet = response.data.dateBet
              this.$refs['bv-modal-success'].show();
              users.getDataUser()
              .then(result => {
                this.$store.state.balance =result.data.user.balance;
                this.$store.dispatch('setOperationAction', result.data.user.operation);
                this.$store.dispatch('setRoleAction', result.data.user.role);
                document.getElementById('saveBetBtn').disabled = false;
              });
            
            }else{

              this.confirmAlert = '';
              this.$bvModal.msgBoxOk(`${response.data.error}`, {
                title: 'Información del Sistema',
                size: 'lg',
                buttonSize: 'lg',
                okVariant: 'success',
                headerClass: 'p-2 border-bottom-0',
                footerClass: 'p-2 border-top-0',
                centered: true
              })
              .then(result =>{
                this.confirmAlert = result
                this.steps = 1;
                let idNumber = `numberLottery${response.data.position_id}`;
                this.limitTransactional = 1;
                document.getElementById(idNumber).style.backgroundColor ='red';

              })
            }
          })
          .catch(error => {
            this.$notify('error', 'Error', error, { duration: 3000, permanent: false });
          })
        }
      // })
    },
    countDig(id){
     
      if(document.getElementById(`numberLottery${id}`).value.length == 4){

        document.getElementById(`valorLottery${id}`).style.display='inline';
        const styleCradle = doubleDig.getDoubleValueFour(document.getElementById(`numberLottery${id}`).value);
        document.getElementById(`combinateLottery${id}`).style.display=styleCradle;
        if(styleCradle == 'none'){
           document.getElementById(`combinateLottery${id}`).value = ''
        }
        document.getElementById(`cunaLottery${id}`).style.display='none';
        document.getElementById(`cunaLottery${id}`).value = '';

      }else if(document.getElementById(`numberLottery${id}`).value.length == 3 ){
        document.getElementById(`valorLottery${id}`).style.display='inline';
        const styleCradle = doubleDig.getDoubleValue(document.getElementById(`numberLottery${id}`).value);
        document.getElementById(`combinateLottery${id}`).style.display= styleCradle;
        if(styleCradle == 'none'){
           document.getElementById(`combinateLottery${id}`).value = ''
        }
        document.getElementById(`cunaLottery${id}`).style.display='inline';
        if(styleCradle == 'none')
          document.getElementById(`cunaLottery${id}`).value = '';
      }else if(document.getElementById(`numberLottery${id}`).value.length == 2 ){
        document.getElementById(`valorLottery${id}`).style.display='none';
        document.getElementById(`combinateLottery${id}`).style.display='none';
        document.getElementById(`cunaLottery${id}`).style.display='inline';
        document.getElementById(`valorLottery${id}`).value ='';
        document.getElementById(`combinateLottery${id}`).value ='';
      }else if(document.getElementById(`numberLottery${id}`).value.length == 1 ){
        document.getElementById(`valorLottery${id}`).style.display='inline';
        document.getElementById(`combinateLottery${id}`).style.display='none';
        document.getElementById(`cunaLottery${id}`).style.display='none';
        document.getElementById(`cunaLottery${id}`).value ='';
        document.getElementById(`combinateLottery${id}`).value ='';
      }
     this.sumTotal();
    },
    deleteLotteryList(i){
      this.$bvModal.msgBoxConfirm('Está seguro de ELIMINAR', {
        okTitle: 'Continuar>',
        cancelTitle: 'Cancelar', 
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true, 
        okVariant: 'danger', 
        hideHeaderClose: false, 
        buttonSize: 'lg', 
        title: 'Por favor Confirmar',
        okOnly: true,
        size: 'lg', 
        })
      .then(result => {
        if(result){
          const index = this.nameLottery.indexOf(i);
          const element = document.getElementById(this.lotteryList[index]);
          this.nameLottery.splice(this.nameLottery.indexOf(i),1);
          this.lotteryList.splice(this.lotteryList.indexOf(i),1);
          element.classList.remove(... this.newClassCss);
          this.sumTotal();
        }
      }).catch(error => {

      })
    },
    closeWhatsapp(){
            this.confirm = false;
            this.lotterys = [];
            this.newClassCss = ['shadow-lg', 'bg-primary'];
            this.lotteryList = [];
            this.nameLottery = [];
            this.steps = 0;
            this.totalRowForm = 20;
            this.numbers = true;
            this.totalToPay = 0;
            this.pushNumber = [];
            this.client = {
              name: '',
              id: ''
            },
            this.confirmAlert = false;
            this.numberTicket = 0;
            this.msgSaveBet =  '';
            this.dateBet = '';
            this.eraseAll();
            this.dataMounted();
            this.limitTransactional = 1;
    },
    valueInput(valueInput) {
      
      this.countDig(valueInput)
      const element = document.getElementById('numberLottery'+valueInput);
      element.value = element.value.replace(/\./g, '');
      if(element.value.length >= 4){
        let val = element.value;
        element.value = val.substring(0, 4);
      }
    },
    valueInputCoin(id) {
      const element = document.getElementById(id);
      if(element.length <= 5){

      }else{
        let val = element.value;
        element.value = val.substring(0, 5);
      }
    this.sumTotal();
    },
    countRowForTable(){
      let countRowNum = 0;
      let countRowVal = 0;
      for(let i = 1; i <= this.totalRowForm; i++){
        let idNum = `numberLottery${i}`;
        let valNumber = document.getElementById(idNum).value;

        let idValue = `valorLottery${i}`;
        let val = document.getElementById(idValue).value;
        
        let idValue2 = `cunaLottery${i}`;
        let val2 = document.getElementById(idValue2).value;
        
        let idValue3 = `combinateLottery${i}`;
        let val3 = document.getElementById(idValue3).value;

        if(valNumber.length > 0){
          countRowNum += 1;
        }
        if(val.length > 0 || val2.length > 0 || val3.length > 0){
          countRowVal += 1;
        }
      }
      if(parseInt(countRowNum) == parseInt(countRowVal)){
        document.getElementById('btnNext').style.display = "inline";
        return 0;
      }else{
        document.getElementById('btnNext').style.display = "none";
        return 0;
      }
    }
  },
  watch: {
    returnWhatsapp: function(val){
      alert(val);
    },
  },
  computed: {
    buttonNext: function(){
      if(this.steps < 3 ){
        if(this.steps == 0){
          return this.nameLottery.length > 0;
        }else if(this.steps == 1){
          if(this.totalToPay > 0){
            this.sumTotal();
          }
          return this.totalToPay > 0;
        }
        return true;
      }else{
        return false;
      }
    },
    disButtonNext: function(){
      return false;
    }
  }
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
  @media only screen and (max-width: 565px) {
  .inputSale{
  /*font-family: 'Big Shoulders Display', cursive;*/
  /* font-family: 'BenchNine', sans-serif; */
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  font-size:6vw
  }
  .inputSalep{
    /* font-family: 'BenchNine', sans-serif; */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size:6vw
  }
}
.borderTd{
  border-spacing: 0 !important;
}
.strong{
  font-weight: bold;
  font-size: 1.2em;
}
</style>
