<template>
  <div class="card table-responsive">
    <div class="my-1">
      <h2 class="text-center h3">Lista de Loterias</h2>
    </div>
    <div class="text-right m-3">
      <b-button v-on:click="showModal('modalbasic', '..Nueva Loteria..')" variant="outline-primary">Agregar Loteria</b-button>
    </div>
    <b-row>
      <b-col>
        <b-form-input v-model="filterLottery" placeholder="Filtro"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <b-colxx xxs="12">
            <b-modal size="lg" id="modalbasic" ref="modalbasic" :title="titleModal" @hidden="getList">
                <new-lottery :dataEdit="dataEdit"></new-lottery>
                <template slot="modal-footer">
                    <b-button variant="primary" @click="hideModal('modalbasic')">Cerrar</b-button>
                </template>
            </b-modal>

      </b-colxx>
    </b-row>
    
    <b-table striped hover :items="lotterys" :fields="fieldsTable" class="m-2" :filter="filterLottery" >
      <template #cell(action)="row">
        <button class="btn mb-1 mr-1 btn-outline-primary" v-on:click="showModal('modalbasic', 'Editar Loteria', row.item)">
          <div class="iconsminds-file-edit"></div>
        </button>
            <StatusBtn :status="row.item.status" v-on:clBtn="changeStatus(row.item.id)" />
            <div :id="row.item.id" style="display:none">
                <b-spinner small></b-spinner>
            </div>
            <div v-if="row.item.raffle">
                <b-badge variant="success">Rifas</b-badge>
            </div>
            
      </template>
      <template #cell(date)="row">
        <div v-for="datex in row.item.date" :key="datex.id">
          <small class="badge mb-1 badge-outline-primary badge-pill">{{weekdayString(datex.weekday)}} - {{datex.closing_time}}</small>
        </div>
      </template>
    </b-table>
  </div>
</template>
<script>
import getLottery from './../../store/modules/getLottery';
import newlottery from './newlottery'
import {weekDayArray} from './../../constants/config';
import StatusBtn from './../Common/StatusBtn';
export default {
  components: {
    'new-lottery': newlottery,
    StatusBtn
  },
  data: () => ({
    lotterys: {},
    lotterysTemp: {},
    currentPage: 1,
    totalPage: 0,
    paginate: 10,
    pagines: 0,
    init: 0,
    titleModal: '',
    dataEdit: {},
    fieldsTable: [
        {key: 'id', label: 'ID'}, 
        {key: 'abbreviation', label: 'Dia', sortable: true}, 
        {key: 'desc_lottery', label: 'Nombre Dia', sortable: true},
        {key: 'number_digit', label: '# Digitos', sortable: true}, 
        {key: 'date', label: 'Horarios', sortable: true}, 
        {key: 'action', label: 'Accion'}],
    statusChange: false,
    filterLottery: ''
  }),
  created() {

  },
  mounted(){
    console.log('>>>>>>>>>>>ADMIN>>>>>>>>>');
    this.getList();
  },
  methods: {
    changeStatus(lotteryId){
      this.statusChange = true;
      document.getElementById(lotteryId).style.display = 'inline';
      console.log(lotteryId);
      getLottery.updateLotteryStatus(lotteryId)
      .then(response => {
        this.getList();
        document.getElementById(lotteryId).style.display = 'none';
      })
    },
    getList(){
      getLottery.lottery()
      .then(response => {
        this.lotterys = response;
      });
    },
    
    showModal(refname, title, lott = {}){
      this.titleModal = title;
      this.dataEdit = lott;
      this.$refs[refname].show();
    },
    hideModal (refname) {
      this. getList();
      this.$refs[refname].hide()
    },
    weekdayString(id){
      return weekDayArray[id];
    }
  }
};
</script>
<style scoped>

</style>
