<template>
  <div class="card">
    <div class="my-2 px-4">
      <h3>Límites de Loterias y Rifas</h3>
      <b-row class="my-2">
        <b-col cols="12" md="6" class="my-1">
          <b-form-group label="Filtro de Busqueda" label-for="filter-input" label-cols-sm="3" label-align-sm="right"
            label-size="sm" class="mb-0">
            <b-input-group size="sm">
              <b-form-input id="filter-input" v-model="filter" type="search"
                placeholder="Escriba para Buscar"></b-form-input>

            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="12" md="3" class="text-right">
          <b-button variant="primary" @click="showModal('modalbasic', 'Agregar Limite')">
            Agregar Limite Individual
          </b-button>
        </b-col>
        <b-col cols="12" md="3" class="text-right">
          <b-button variant="primary" @click="showModalGlobal">
            Agregar Limite Global
          </b-button>
        </b-col>
      </b-row>
      <b-table hover :items="items" :fields="fields" :per-page="perPage" :current-page="currentPage" :filter="filter"
        responsive>
        <template #cell(type)="row">
          <div v-if="row.item.type == 'raffle'">
            <span class="strong">Rifa</span>
          </div>
          <div v-if="row.item.type == 'bet'">
            <span class="strong">Normal</span>
          </div>
          <div v-if="row.item.type == '-1'">
            <span class="strong">Ambos</span>
          </div>
        </template>
        <template #cell(number)="row">
          <div v-if="row.item.number != ''" class="strong">
            {{ row.item.number }}
          </div>
          <div v-else class="strong">
            Todos Los Números
          </div>
        </template>
        <template #cell(right_limit)="row">
          ${{ money(row.item.right_limit) }}
        </template>
        <template #cell(combined_limit)="row">
          ${{ money(row.item.combined_limit) }}
        </template>
        <template #cell(wedge_limit)="row">
          ${{ money(row.item.wedge_limit) }}
        </template>
        <template #cell(figure_limit)="row">
          ${{ money(row.item.figure_limit) }}
        </template>
        <template #cell(days)="row">
          {{ row.item.computed.nameDays }}
        </template>
        <template #cell(lotterys)="row">
          {{ (row.item.computed.nameLotterys) }}
        </template>
        <template #cell(action)="row">
          <b-button variant="outline-primary" @click="editLimit(row)">
            <div class="iconsminds-pen"></div>
          </b-button>
          <b-button variant="outline-danger" @click="delteLimit(row.item.id)">
            <div class="simple-icon-trash"></div>
          </b-button>
          <div class="p-3">
            <StatusBtn :status="row.item.status" v-on:clBtn="cahngeStatus(row.item.id)" class="m-3" />
            <div :id="row.item.id" style="display:none">
              <b-spinner small label="Spinning"></b-spinner>
            </div>
            <b-button variant="danger" @click="cahngeStatus(row.item.id)" v-show="false">
              {{ row.item.status }}
            </b-button>
          </div>
        </template>
      </b-table>
      <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" class="my-0"
        align="fill"></b-pagination>
    </div>

    <b-colxx xxs="12">
      <b-modal size="xl" id="modalbasic" ref="modalbasic" :title="titleModal" @hidden="hideModal">
        <newlimitlottery :lotterys="allLotterys" :rowData="rowData"></newlimitlottery>
        <template slot="modal-footer">
          <b-button variant="primary" @click="hideModal('modalbasic')">Cerrar</b-button>
        </template>
      </b-modal>

      <b-modal size="xl" id="modalbasicGlobal" ref="modalbasicGlobal" title="Limite Global" @hidden="hideModal">
        <newlimitlotteryGlobal :lotterys="allLotterys"></newlimitlotteryGlobal>
        <template slot="modal-footer">
          <b-button variant="primary" @click="hideModal('modalbasicGlobal')">Cerrar</b-button>
        </template>
      </b-modal>

    </b-colxx>
  </div>
</template>

<script>
import lotterylimit from './../../store/modules/lotterylimit';
import { weekDayArray } from "../../constants/config";
import MathData from '../../helpers/math';
import newlimitlottery from '../../components/lottery/newlimitlottery';
import newlimitlotteryGlobal from '../../components/lottery/newlimitlotteryGlobal';
import moment from 'moment';
import StatusBtn from './../Common/StatusBtn';

export default {
  components: {
    newlimitlottery,
    StatusBtn,
    newlimitlotteryGlobal
  },
  data() {
    return {
      items: [{}],
      fields: [
        // {key: 'id', label: 'ID'},
        { key: 'type', label: 'Tipo' },
        { key: 'number', label: 'Numero' },
        { key: 'right_limit', label: 'Limite Super' },
        { key: 'right_three_limit', label: 'Limite 3 Cifas' },
        { key: 'combined_limit', label: 'Combinado' },
        { key: 'wedge_limit', label: 'Cuña' },
        { key: 'figure_limit', label: 'Cifra' },
        { key: 'days', label: 'Dias' },
        { key: 'lotterys', label: 'Loterias' },
        { key: 'action', label: 'Acciones' },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      filter: null,
      allLotterys: {},
      confirm: false,
      titleModal: '',
      rowData: {}
    }
  },
  mounted() {
    this.getList();
  },
  methods: {
    getList() {
      lotterylimit.getlimit().then(response => {
        this.items = response.limits;
        this.allLotterys = response.lotterys;
        this.totalRows = this.items.length;
        this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
      });
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    money(val) {
      return MathData.formatPrice(val);
    },
    cahngeStatus(val) {
      this.confirm = false;
      this.$bvModal.msgBoxConfirm('Seguro de Cambiar el ESTADO de este Limite', { okTitle: 'Continuar', cancelTitle: 'Cancelar' })
        .then(value => {
          this.confirm = value;
          console.log(this.confirm);

          if (this.confirm) {
            document.getElementById(val).style.display = 'inline';
            lotterylimit.updateStatus(val).then(response => {
              this.getList();
              document.getElementById(val).style.display = 'none';
            });
          }
        })
        .catch(err => {
          // An error occurred
        });
    },
    showModal(refname, title, limit = {}) {
      this.titleModal = title;
      this.rowData = limit;
      this.$refs[refname].show();
    },
    showModalGlobal() {

      this.$refs.modalbasicGlobal.show();
    },
    hideModal(refname) {
      this.getList();
      this.$refs[refname].hide()
    },
    hideModalGlobal() {
      this.getList();
      this.$refs.modalbasicGlobal.hide()
    },
    delteLimit(val) {
      this.confirm = false;
      this.$bvModal.msgBoxConfirm('Seguro de Eliminar el LIMITE', { okTitle: 'Continuar', cancelTitle: 'Cancelar' })
        .then(value => {
          this.confirm = value;
          if (this.confirm) {
            lotterylimit.delete(val).then(response => {
              console.log(response.data);
              this.$notify('success', 'Resultado de Proceso', 'Limite Eliminado', { duration: 3000, permanent: false });
              this.getList();
            })
          }
        })
        .catch(error => {
          this.$notify('error', 'Resultado de Proceso', 'Error del SISTEMA', { duration: 3000, permanent: false });
        })
    },
    editLimit(data) {
      this.showModal('modalbasic', 'Editar Limite', data);
    }
  }
}
</script>

<style scoped>
.strong {
  font-weight: bold;
}
</style>
