<template>
  <b-container fluid>
    <b-row>
      <b-col sm="12" md="6" lg="4">
        <label for="desc_lottery">Nombre de Loteria</label>
        <b-form-input v-model="form.desc_lottery" placeholder="Nombre"></b-form-input>
      </b-col>
      <b-col sm="6" md="6" lg="4">
        <label for="abbreviation">Abreviación</label>
        <b-form-input v-model="form.abbreviation" placeholder="SIGLAS"></b-form-input>
      </b-col>
       <b-col sm="6" md="6" lg="4">
        <label for="number_digit"># Digitos</label>
        <b-form-input type="number" v-model="form.number_digit" placeholder="SIGLAS"></b-form-input>
      </b-col>
      <b-col sm="4">
        <label for="lottery_id">ID_EXTERNO</label>
        <b-form-input type="number" v-model="form.lottery_id" placeholder="ID"></b-form-input>
      </b-col>
      <b-col sm="6" class="mt-4">
        <b-form-checkbox
           id="checkbox-1"
           v-model="form.status"
           name="checkbox-1"
           value="Activo"
           unchecked-value="Inactivo"
           checked
         >
           {{ form.status }}
         </b-form-checkbox>
      </b-col>
      <b-col sm="6" md="4" lg="2" class="mt-4">
        <b-form-checkbox
           id="raffleId"
           v-model="form.raffle"
           name="raffle"
           value="true"
           unchecked-value="false"
           checked
         >
           Rifa
         </b-form-checkbox>
      </b-col>
    </b-row>
    <b-row>
      <timelottery v-on:times="getTimes" :listData="listData"></timelottery>
    </b-row>
        <b-row>
      <b-colxx>
        <b-button class="mt-3" block variant="primary" @click="saveLottery" v-if="form.timeLottery.length>0">
          <div class="iconsminds-save"></div>
          Guardar
        </b-button>
      </b-colxx>
    </b-row>
    <b-row v-if="btnSumbit">
      <b-col>
        <div class="alert alert-danger m-3">
          Debe Diligenciar todos los Campos
        </div>
      </b-col>
    </b-row>
  </b-container>

</template>
<script>
import timelottery from "./timelottery";
import getLottery from './../../store/modules/getLottery';
import moment from 'moment';
export default ({
  setup() {
    
  },
  components: {
    timelottery,
  },
  props: ['dataEdit'],
  data() {
    return {
      form : {
        abbreviation: '',
        desc_lottery: '',
        lottery_id: 0,
        number_digit: 4,
        status: 'Activo',
        raffle: false,
        id: 0,
        timeLottery: []
      },
      btnSumbit: false,
      toastCount: 0,
      confirm: '',
      isTime: 0,
      listData: {}
    }
  },
  methods:{
    saveLottery() {
      if((this.form.abbreviation.length * this.form.desc_lottery.length * this.form.number_digit * this.isTime) > 0 ){
        this.btnSumbit = false;
        this.confirm = '';
         this.$bvModal.msgBoxConfirm('Por favor Confirmar su Acción antes de proceder', {
          title: 'Confirmar',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Guardar',
          cancelTitle: 'NO Guardar',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
          .then(value => {
            this.confirm = value;
            if(value){
                this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
                getLottery.saveLottery(this.form).then(response =>{
            console.log(response);
            var msg = '';         
            this.$notify('success', 'Resultado de Proceso', 'Se ha Creado la Loteria y Sus Horarios', { duration: 3000, permanent: false });
            this.form = {
              abbreviation: '',
              desc_lottery: '',
              lottery_id: 0,
              number_digit: 4,
              status: 'Activo',
              lottery_id: 0,
              timeLottery: []
            }
          }).catch(error =>{this.$notify('danger', 'Resultado de Proceso', `Se presento un ERROR${error}`, { duration: 3000, permanent: false });});
            }
          })
          .catch(err => {
            // An error occurred
          })
      }
      else{
        this.$notify('danger', 'Resultado de Proceso', 'Los Campos deben estar diligenciados', { duration: 3000, permanent: false });
      }
    },
  getTimes(data){
    this.form.timeLottery = data;
    this.isTime =data.length;
  }
  },
  created:function() {
   if(Object.keys(this.dataEdit).length > 0){
     console.log(this.dataEdit)
     this.form.id = this.dataEdit.id;
      this.form.abbreviation = this.dataEdit.abbreviation;
      this.form.desc_lottery = this.dataEdit.desc_lottery;
      this.form.lottery_id = this.dataEdit.lottery_id;
      this.form.number_digit = this.dataEdit.number_digit;
      this.form.status = this.dataEdit.status
      this.form.lottery_id = this.dataEdit.lottery_id;
      this.listData = this.dataEdit.date;
   }
  }
})
</script>
<style scoped>

</style>