<template>
  <b-container fluid>
        <b-row>
            <b-col cols="12" sm="6" md="4" lg="3">
                <b-form-group
                label="Número"
                label-for="number"
                description="Miles(,) Dec(.)"
                class="mb-0"
                >
                <b-form-input
                    id="number"
                    v-model="form.number"
                    placeholder="Ingrese Numero"
                    type="number"
                    maxlength="4"
                ></b-form-input>
                </b-form-group>
          </b-col>
          <b-col cols="12" sm="6" md="4" lg="3">
                <b-form-group
                label="Limite Super"
                label-for="right_limit"
                description="Miles(,) Dec(.)"
                class="mb-0"
                >
                <b-form-input
                    id="right_limit"
                    v-model="form.right_limit"
                    placeholder="Ingrese Valor"
                    description="Numeros Enteros"
                    class="mb-0"
                    :formatter="formatter"
                    lazy-formatter
                ></b-form-input>
                </b-form-group>
          </b-col>
          <b-col cols="12" sm="6" md="4" lg="3">
                <b-form-group
                label="Limite 3 Cifras"
                label-for="right_limit"
                description="Miles(,) Dec(.)"
                class="mb-0"
                >
                <b-form-input
                    id="right_three_limit"
                    v-model="form.right_three_limit"
                    placeholder="Ingrese Valor"
                    description="Numeros Enteros"
                    class="mb-0"
                    :formatter="formatter"
                    lazy-formatter
                ></b-form-input>
                </b-form-group>
          </b-col>
          <b-col cols="12" sm="6" md="4" lg="3">
                <b-form-group
                label="Limite Combinado"
                label-for="combined_limit"
                description="Miles(,) Dec(.)"
                class="mb-0"
                >
                <b-form-input
                    id="combined_limit"
                    v-model="form.combined_limit"
                    placeholder="Ingrese Valor"
                    :formatter="formatter"
                    lazy-formatter
                ></b-form-input>
                </b-form-group>
          </b-col>
          <b-col cols="12" sm="6" md="4" lg="3">
                <b-form-group
                label="Limite Cuña"
                label-for="wedge_limit"
                description="Miles(,) Dec(.)"
                class="mb-0"
                >
                <b-form-input
                    id="wedge_limit"
                    v-model="form.wedge_limit"
                    placeholder="Ingrese Valor"
                    :formatter="formatter"
                    lazy-formatter
                ></b-form-input>
                </b-form-group>
          </b-col>
          <b-col cols="12" sm="6" md="4" lg="3">
                <b-form-group
                label="Limite Cifra"
                label-for="figure_limit"
                description="Miles(,) Dec(.)"
                class="mb-0"
                >
                <b-form-input
                    id="figure_limit"
                    v-model="form.figure_limit"
                    placeholder="Ingrese Valor"
                    :formatter="formatter"
                    lazy-formatter
                ></b-form-input>
                </b-form-group>
          </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" md="4">
              <b-form-group
                label="Dias"
                label-for="days"
                description="Si no se selecciona una opción se tomara todo"
                class="mb-0"
                >
                <b-form-select
                    id="days"
                    v-model="form.days"
                    :options="days"
                ></b-form-select>
                </b-form-group>
          </b-col>
          <b-col cols="12" sm="6" md="4">
              <b-form-group
                label="Loterias"
                label-for="lotterys"
                description="Si no se selecciona una opción se tomara todo"
                class="mb-0"
                >
                <b-form-select
                    id="lotterys"
                    v-model="form.lotterys"
                    :options="listLottery"
                ></b-form-select>
                </b-form-group>
          </b-col>
          <b-col cols="12" sm="6" md="4" class="pt-5">
            <b-form-checkbox-group
                v-model="form.type"
                :options="optionsType"

                name="checkbox-validation"
            >
            </b-form-checkbox-group>
          </b-col>
      </b-row>
      <b-row>
          <b-col v-if="buttonSend">
             <b-button block variant="primary" class="m-2" @click="saveLimit">Guardar</b-button>
          </b-col>
      </b-row>
  </b-container>
</template>

<script>
import MathData from './../../helpers/math';
import {weekDay} from './../../constants/config';
import lotterylimit from './../../store/modules/lotterylimit';
import useCurrencyInput from 'vue-currency-input';
import moment from 'moment';

export default {
    props: {
        lotterys: Array,
        rowData: Object
    },
    mounted() {

        if(Object.keys(this.rowData).length > 0){
            this.form = {
                id: this.rowData.item.id,
                number: this.rowData.item.number,
                right_limit : this.rowData.item.right_limit,
                right_three_limit: this.rowData.item.right_three_limit,
                combined_limit : this.rowData.item.combined_limit,
                wedge_limit : this.rowData.item.wedge_limit,
                figure_limit : this.rowData.item.figure_limit,
                days : this.rowData.item.days,
                lotterys : this.rowData.item.lotterys,
                type: this.rowData.item.type,

            }
            this.buttonSend = true;
        }
        this.days = weekDay;
        for(let i in this.lotterys){
            this.listLottery.push({value: this.lotterys[i].id, text: `${this.lotterys[i].desc_lottery}:${this.lotterys[i].abbreviation}`});
        }

    },
    data(){
        return{
            form: {
                id: 0,
                number: Number,
                right_limit : 0,
                right_three_limit: 0,
                combined_limit : 0,
                wedge_limit : 0,
                figure_limit : 0,
                days : [],
                lotterys : [],
                action : 0,
                type: '-1'
            },
            days: [],
            listLottery: [],
            buttonSend: true,
            confirm: false,
            optionsType: [
                { text: 'Chance', value:'bet'},
                { text: 'Rifa', value:'raffle'},
                { text: 'Ambos', value:'-1', checked: true },
            ]
        }
    },
    methods: {
        formatter: function(val){
            return MathData.formatPrice(val)
        },
        saveLimit(){

            // if(!(this.form.right_limit + this.form.combined_limit + this.form.wedge_limit + this.form.figure_limit )>0)
            //     return 0;


            this.confirm = false;
            this.$bvModal.msgBoxConfirm('Seguro de GUARDAR este Limite', {okTitle: 'Continuar',cancelTitle: 'Cancelar'})
            .then(value => {
                this.confirm = value;
                if(this.confirm){
                lotterylimit.save(this.form).then(response=>{
                this.form= {
                    id: 0,
                    number: 0,
                    right_limit : 0,
                    combined_limit : 0,
                    wedge_limit : 0,
                    figure_limit : 0,
                    days : [],
                    lotterys : [],
                    action : 0,
                    }
                    this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
                this.$notify('success', 'Resultado de Proceso', 'Se ha Creado la el Limite', { duration: 3000, permanent: false });
                })
                .catch(error => {
                    this.$notify('error', 'Resultado de Proceso', 'Error del SISTEMA', { duration: 3000, permanent: false });
                });
            }
            })
        }
    },
    watch: {

    }
}
</script>

<style>

</style>
