<template>
  <b-container>
    <hr>
    <b-row>
      <b-col>
        <label for="time">Hora de Cierre</label>
        <b-form-timepicker type="time" locale="es" v-model="tmpDateTimelottery.time"></b-form-timepicker>
         <div class="mt-2">Horario Formato 24 horas</div>
      </b-col>
      <b-col>
        <label for="weekday">Dia de la SEMANA</label>
        <b-form-select v-model="tmpDateTimelottery.day" :options="weekday"></b-form-select>
      </b-col>
      <b-col>
      <b-col sm="6" class="mt-4">
        <b-form-checkbox
           id="holiday"
           v-model="tmpDateTimelottery.holiday"
           name="checkbox-1"
           value="Festivo"
           unchecked-value="Ordinario"
           checked
         >
           {{ tmpDateTimelottery.holiday }}
         </b-form-checkbox>
      </b-col>
       <b-button class="mt-3" block variant="primary" @click="addTime">
          <div class="iconsminds-add"></div>
        </b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-table striped hover :items="dateTimeLottery" :fields="fields">
        <template #cell(action)="row">
          <b-button variant="outline-danger"><div class="iconsminds-remove" @click="removeDateTime(row)"></div></b-button>
        </template>
      </b-table>
    </b-row>
  </b-container>
</template>

<script>
import {weekDay, weekDayArray} from './../../constants/config';
export default {
  props:['listData'],
  data(){
    return {
      weekday: [],
      dateTimeLottery: [],
      tmpDateTimelottery:{
        time: '',
        day: null,
        holiday: 'Ordinario'
      },
      fields: [
        {key: 'time', label: 'Horario'}, 
        {key: 'day', label: 'Dia'}, 
        {key: 'nameDay', label: 'Nombre Dia'}, 
        {key: 'action', label: 'Accion'}]
    }
  },
  mounted(){
    this.weekday.push({value:null, text: 'Seleccionar Día'});
    for(let i in weekDay){
      this.weekday.push(weekDay[i]);
    }
  },
  methods:{
    addTime(){
      if(this.tmpDateTimelottery.time != "" && this.tmpDateTimelottery.day >= 0){
        this.dateTimeLottery.push({
          "time" : this.tmpDateTimelottery.time,
          "day": this.tmpDateTimelottery.day,
          "nameDay": weekDayArray[this.tmpDateTimelottery.day],
          "holiday": this.tmpDateTimelottery.holiday}
          );
        this.tmpDateTimelottery.time = '';
        this.tmpDateTimelottery.day= '';
        this.tmpDateTimelottery.holiday= 'Ordinario';
        this.$emit('times', this.dateTimeLottery);
      }else{
        console.log(this.tmpDateTimelottery);
      }
    },
    removeDateTime(row){
      this.dateTimeLottery.splice(row.index,1);
      this.$emit('times', this.dateTimeLottery);
    }
  },
  created:function(){
    console.log(`Tamaño Fecha:${this.listData.length}`);
    if(this.listData.length > 0){
      for(let i in this.listData){
        this.dateTimeLottery.push({
            "time" : this.listData[i].closing_time,
            "day": this.listData[i].weekday,
            "nameDay": weekDayArray[this.listData[i].weekday],
            "holiday": this.listData[i].holiday == true ? 'Festivo' : 'Ordinario'});
      }
      this.$emit('times', this.dateTimeLottery);
     
    }
  }
}
</script>

<style>

</style>