<template>
  <b-container fluid>
      <listSaleRangeDate/>
  </b-container>
</template>

<script>
import listSaleRangeDate from './../../../components/sales/listSaleRangeDate';
export default {
  components: {
    listSaleRangeDate
  }
}
</script>

<style>

</style>