<template>
  <b-container fluid>
      <listSaleDays/>
  </b-container>
</template>

<script>
import listSaleDays from './../../../components/sales/listSaleDay'
export default {
  components: {
    listSaleDays
  }

}
</script>

<style scoped>

</style>