<template>
  <b-container fluid>
      <listSaleRangeDateMega/>
  </b-container>
</template>

<script>
import listSaleRangeDateMega from './../../../components/sales/listSaleRangeDateMega';
export default {
  components: {
    listSaleRangeDateMega
  }

}
</script>

<style>

</style>