<template>
  <b-container fluid>
      <listsaleDate/>
  </b-container>
</template>

<script>
import listsaleDate from './../../../components/sales/listsaleDate';
export default {
  components: {
    listsaleDate
  }

}
</script>

<style>

</style>