<template>
    <comp-raffle></comp-raffle>
</template>

<script>
import betRaffle from './../../../components/raffle/betRaffle'
export default {
    components: {
        'comp-raffle': betRaffle
    }
}
</script>

<style>

</style>