<template>
  <b-card title="Mensajes" class="dashboard-link-list" style="height: 100vh;">
    <div v-if="idsDel.length > 0">
      <b-btn variant="info" @click="delMassConfirm">Eliminar Masivo</b-btn>
      <b-btn variant="danger" @click="delAllConfirm">Eliminar Todo</b-btn>
    </div>
    <b-form-input @keyup="searchTxt" v-model="search" placeholder="Buscar" class="my-3"></b-form-input>
    <vue-perfect-scrollbar
      class="scroll dashboard-list-with-user"
      :settings="{ suppressScrollX: true, wheelPropagation: false }"
      id="cht"
      style="height: 100vh;"
    >
      <list-with-user-item
        v-for="(item, index) in comments"
        :data="item"
        detail-path="#"
        :key="index"
        @deleteMessage="getMessage"
        @delMass="delMass"
      />
    </vue-perfect-scrollbar>
  </b-card>
</template>

<script>
import ListWithUserItem from "./../../components/Listing/ListWithUserItem";
import support from './../../store/modules/support';
export default {
    data(){
        return {
            comments: [],
            search: '',
            idsDel: []
        }
    },
     components: {
    "list-with-user-item": ListWithUserItem
  },
  mounted(){
      this.getMessage();
  },
  methods:{
      getMessage(){
          support.getMessage()
          .then(result => {
              this.comments = [];
              const data = result.data;
              for(let i in data){
                  this.comments.push(
                      { name: data[i].name, title: data[i].msg, detail: data[i].created_at, status: data[i].status, id: data[i].id, photo: data[i].photo, from: data[i].from }
                    );
              }
              support.changeStatusView();
          })
      },
      searchTxt(){
        var ele = document.querySelector('#cht').children;
        for(let n in ele){
          var txtSearch = ele[n].textContent.indexOf(this.search);
          if(txtSearch == -1){
            ele[n].classList.remove('verde');
          }else{
            ele[n].classList.add('verde')
          }
          if(this.search.length == 0)
            ele[n].classList.remove('verde');
        }
      },
      delMass(actionDel){
        const idInternal = actionDel.idDel;
        if(actionDel.action === 'del'){
          this.idsDel.push(idInternal);
        }
        if(actionDel.action === 'no'){
          let found = this.idsDel.indexOf(idInternal)
          this.idsDel.splice(found, 1);
        }

      },
      delMassConfirm(){
        var confirmData = confirm('Seguro de Eliminar');
            if(confirmData == true){
               support.deleteMessagesMass(this.idsDel)
               .then(response => {
                this.idsDel = [];
                this.getMessage();
               });
            }
      },
      delAllConfirm(){
        var confirmData = confirm('Seguro de Eliminar Todos Los Mensajes');
            if(confirmData == true){
               support.deleteMessagesAll()
               .then(response => {
                this.idsDel = [];
                this.getMessage();
               });
            }
      }
  }
}
</script>

<style>
.verde{
  background: linear-gradient(lime,lime);
}
</style>
