<template>
  <b-container class="chat-input-container pt-2" fluid>
    <b-row align-v="center" align-h="start">
      <b-col cols="8">
        <b-form-textarea class="text-send" style="width: 100%;" type="text" :placeholder="$t('chat.saysomething')" v-model="message" @keyup.native.enter="downLine" ></b-form-textarea>
      </b-col>
      <b-col cols="2">
        <b-button variant="primary" class="icon-button large ml-1" @click="sendMessage" v-if="loadSend == false" @keyup.enter="downLine">
            <i class="simple-icon-arrow-right" />
        </b-button>
        <b-spinner v-else variant="primary" label="Spinning"></b-spinner>
      </b-col>
      <b-col cols="2" class="text-center " >
        <b-form-file
        label="File input"
        outlined
        dense
        capture
        :state="Boolean(file1)"
        ref="file" name="file" id="file"
        v-model="file1"
        accept="image/*"
        @change="uploadFile"
        style="display:none"
        ></b-form-file>
        <input type="hidden" name="to" id="to" v-model="fromUser">
        <b-button variant="outline-primary" class="icon-button large ml-1" @click="openFile" v-if="loadSendFile == false">
            <i class="simple-icon-paper-clip" />
        </b-button>
        <b-spinner v-else variant="primary" label="Spinning"></b-spinner>
      </b-col>
      </b-row>
  </b-container>
</template>

<script>
import support from './../../store/modules/support';
import Compressor from 'compressorjs';

export default {

     data() {
        return {
            message: '',
            file1: {},
            loadSend: false,
            loadSendFile: false,
        }
    },
    props:{
        fromUser: String,
    },
    methods: {
        async sendMessage(){
            this.loadSend = true;
            var fromU = '';
            if(this.$store.state.role == 'Administrador'){
                fromU = this.fromUser == '' ? '-1' : this.fromUser;
            }
            await support.sendMessage(this.message, fromU)
            .then(response => {
                if (response.status == 201){
                    this.$emit('newMsg');
                    this.message = '';
                    this.loadSend = false;
                }
            });

        },
        openFile(){
          if(this.fromUser == '' && this.$store.state.role == 'Administrador'){
            this.$notify('error', 'Resultado de Proceso','Debe Seleccionar Un Usuario para Enviar', { duration: 5000, permanent: false });
            return ;
          }

          if(this.fromUser == '-1'){
            this.$notify('error', 'Resultado de Proceso','Debe Seleccionar Un SOLO Usuario para Enviar', { duration: 5000, permanent: false });
            return ;
          }
          document.getElementById("file").click();
        },
        uploadFile(e){
            this.loadSendFile = true;
            new Compressor(e.target.files[0], {
              quality: 0.8,
              convertSize: Infinity,
              success(result){
                const formData = new FormData();
                // The third parameter is required for server
                if(parseInt(document.getElementById('to').value) > 0)
                formData.append('to', document.getElementById('to').value);
                formData.append('file', result, result.name);
                // Send the compressed image file to server with XMLHttpRequest.
                support.sendFile(formData).then(result => {
                    if(result.status == 200){
                        this.$emit('newMsg');

                    }
                });
              },
              error(err) {
              },
            });
            this.loadSendFile = false;
        },
        downLine(){
          this.message += "\n"
        }
    },


}
</script>

<style>
.text-send{
    font-size: 1.1rem;
}
</style>
