<template>
   <container fluid>
    <b-card class="">
    <b-row>
      <b-col class="text-center strong fontSize">Premiación</b-col>
    </b-row>
      <b-row>
        <b-col sm="12">
          <SelecDate title="Desde"  v-bind:dd="dateStart" v-on:input="dateStart = $event"></SelecDate>
        </b-col>
        <b-col sm="12">
          <SelecDate title="Hasta"  v-bind:dd="dateEnd" v-on:input="dateEnd = $event"></SelecDate>
        </b-col>
        <b-col>
            <b-button block @click="getWinner">
              <span class="simple-icon-magnifier"></span>
                  Buscar
            </b-button>
        </b-col>
      </b-row>
      <b-row v-if="loadData">
        <b-col class="d-flex justify-content-center" >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table
          striped
          hover
          responsive
          :fields="fields"
          :items="items"
          show-empty
          class="strong"
          >
          <template #empty="scope">
            <h4 style="text-align: center; font-weight: bold;">No hay datos</h4>
          </template>
          <template #cell(stub)="row">
            <b-button @click="showTicket(row.item.stub.id)">
              {{row.item.stub.id}}
            </b-button>
          </template>
          <template #cell(numberWinner)="row">
            {{row.item.numberWinner.number}}
          </template>
          <template #cell(number)="row">
            {{row.item.bet.number}}
          </template>
          <template #cell(right)="row">
            {{(row.item.right)}}
          </template>
          <template #cell(combo)="row">
            {{(row.item.combo)}}
          </template>
          <template #cell(cradle)="row">
            {{(row.item.cradle)}}
          </template>
          <template #cell(figure)="row">
            {{(row.item.figure)}}
          </template>
           <template #cell(total)="row">
            ${{foormatPrice(row.item.total)}}
          </template>

          </b-table>
        </b-col>
      </b-row>
    </b-card>

    <b-modal ref="my-modal" hide-footer title="Tiquete" scrollable>
      <div class="d-block text-center">
      </div>
      <whatsapp 
        no-enforce-focus=true 
        :pushNumber="pushNumber" 
        :nameLottery="nameLottery" 
        :numberTicket="numberTicket" 
        :totalToPay="totalToPay" 
        :dateBet="dateBet"
        ></whatsapp>
    </b-modal>
    </container>
</template>

<script>
import scrutiny from '../../../store/modules/scrutiny';
import MathData from '../../../helpers/math';
import moment from 'moment';
import whatsapp from './../../../components/Common/whatsapp';
import closing from './../../../store/modules/closing'
import SelecDate from './../../../components/Common/SelectDate'


export default {
  components: {
    whatsapp,
    SelecDate
  },
  data() {
    return {
      dateStart: moment().subtract(1, 'day').format('YYYY-MM-DD'),
      dateEnd: moment().subtract(1, 'day').format('YYYY-MM-DD'),
      fields: [
        {key: 'stub', label: 'Colilla', sortable: true},
        {key: 'numberWinner', label: 'Resultado'},
        {key: 'client', label: 'Cliente / Telefono', sortable: true},
        {key: 'seller', label: 'Vendedor / Documento', sortable: true},
        {key: 'lottery', label: 'Loteria'},
        {key: 'number', label: '#Premiado', sortable: true},
        {key: 'right', label: 'Súper', sortable: true},
        {key: 'combo', label: 'Combinado', sortable: true},
        {key: 'cradle', label: 'Cuña', sortable: true},
        {key: 'figure', label: 'Ultima', sortable: true},
        {key: 'total', label: 'Total', sortable: true},
      ],
      items: [],
      loadData: false,
      pushNumber: [],
      nameLottery: [],
      numberTicket: 0,
      totalToPay: 0,
    }
  },
  methods: {
    getWinner(){
      this.loadData = true,
      scrutiny.getWinner(this.dateStart, this.dateEnd).then(response => {
        this.items = response.data;
        this.loadData = false;
      });
    },
    foormatPrice(val){
      return MathData.formatPrice(val);
    },
    showTicket(id){
        closing.getStubForTicket(id)
        .then(response =>{
            this.pushNumber = response.data.pushNumber;
            this.nameLottery = response.data.nameLottery;
            this.numberTicket = id;
            this.totalToPay = response.data.totalToPay;
            this.dateBet = response.data.dateBet;
            this.$refs['my-modal'].show()
        });
    }
  },
  
}
</script>

<style scoped>
  .strong{
    font-weight: bold;
    text-align: center;
  }
  .fontSize{
    font-size: 1.5em;
  }
</style>