<template>
<div>
    <b-row class="app-row">
        <b-colxx xxs="12" class="chat-app">
            <conversation-detail v-if="isLoadConversations" key="conversation" :current-user="currentUser" :other-user="otherUser" :messages="conversationMessages" />
            <div v-else class="loading" key="conversationLoading"></div>
        </b-colxx>
    </b-row>
    <div class="chat-input-container d-flex justify-content-between align-items-center">
        <b-input class="flex-grow-1" type="text" :placeholder="$t('chat.saysomething')" v-model="message" @keyup.native.enter="sendMessage" />
        <div>
            <b-button variant="outline-primary" class="icon-button large ml-1">
                <i class="simple-icon-paper-clip" />
            </b-button>
            <b-button variant="primary" class="icon-button large ml-1" @click="sendMessage">
                <i class="simple-icon-arrow-right" />
            </b-button>
        </div>
    </div>
    
</div>
</template>

<script>
import {
    mapGetters,
    mapActions
} from 'vuex'
import ApplicationMenu from '../../../components/Common/ApplicationMenu'
import ConversationList from '../../../components/ChatApp/ConversationList'
import ConversationDetail from '../../../components/ChatApp/ConversationDetail'

export default {
    components: {
        'application-menu': ApplicationMenu,
        'conversation-list': ConversationList,
        'conversation-detail': ConversationDetail
    },
    data() {
        return {
            tabIndex: 0,
            message: '',
            searchKey: '',
            isLoadCurrentConversation: false,
            isLoadConversations: true,
            otherUser: null,
            conversationMessages: null
        }
    },
    computed: {
        ...mapGetters(['currentUser', 'error', 'contacts', 'contactsSearchResult', 'conversations'])
    },
    methods: {
        ...mapActions(['getContacts', 'searchContacts', 'getConversations']),
        selectConversation(otherUser, messages) {
            this.otherUser = otherUser
            this.conversationMessages = messages
        },
        selectContact(userId) {
            this.otherUser = this.contacts.find(x => x.id === userId)
            const conversation = this.conversations.find(x => x.users.includes(userId) && x.users.includes(this.currentUser.id))
            if (conversation) {
                console.log('change selected conversation')
                this.conversationMessages = conversation.messages
            } else {
                console.log('create new conversation')
                const date = new Date()
                this.conversations.splice(0, 0, {
                    users: [userId, this.currentUser.id],
                    messages: [],
                    lastMessageTime: date.getHours() + ':' + date.getMinutes()
                })
                this.conversationMessages = []
            }
            this.tabIndex = 0
            this.message = ''
            this.searchKey = ''
        },
        sendMessage() {
            console.log('add message to conversation')
            const date = new Date()
            this.conversationMessages.push({
                sender: this.currentUser.id,
                text: this.message,
                time: date.getHours() + ':' + date.getMinutes()
            })
            this.message = ''
        }
    },
    mounted() {
        this.getContacts({
            userId: this.currentUser.id,
            searchKey: ''
        })
        this.getConversations(this.currentUser.id)
        document.body.classList.add("no-footer");
    },
    beforeDestroy() {
        document.body.classList.remove("no-footer");
    },
    watch: {
        searchKey(val, oldVal) {
            this.searchContacts({
                userId: this.currentUser.id,
                searchKey: val
            })
        }
    }
}
</script>
