<template>
  <container fluid>
  <b-row>
    <b-col>
        <newClient v-on:newClientId="newClientIdUpdate"/>
    </b-col>
  </b-row>
    <b-table
    :fields="fields"
    :items="options">
    <template #cell(status)="row">
        <btn-status :status="row.item.status" v-on:clBtn="changeStatusClient(row.item.status, row.item.id)"/>
        <b-button block variant="light" @click="howModal('modalbasic', row)">
            <span  class="simple-icon-pencil"></span>
        </b-button>
    </template>
    </b-table>

    <b-modal size="xl" id="modalbasic" ref="modalbasic" title="Editar Cliente" @hidden="getClientList">
        <edit-client :nameClient="nameEdit" :phone="phoneEdit" :id="idEdit"/>
        <template slot="modal-footer">
            <b-button variant="primary" @click="hideModal('modalbasic')">Cerrar</b-button>
        </template>
    </b-modal>
  </container>
</template>

<script>
import getClient from "../../store/modules/getClient";
import StatusBtn from './../Common/StatusBtn';
import EditClient from './EditClient';
import newClient from "./newClient";

export default {
    components: {
        'btn-status' : StatusBtn,
        'edit-client' : EditClient,
        newClient
    },
    data(){
        return {
            fields: [
            {key: 'name', label: 'Nombre', sortable: true},
            {key: 'phone', label: 'Telefono', sortable: true},
            {key: 'status', label: 'Acciones', variant: 'danger', sortable: true},
        ],
        options:[],
        dataEdit: [],
        nameEdit: '',
        phoneEdit : '',
        idEdit: '0'
        }
    },
    mounted() {
        this.getClientList();
    },
    methods: {
        getClientList(){
            getClient.get().
            then(client => {
            this.options = client;
            })
        },
        changeStatusClient(st, id){
            //edit status
            let newStatus = st == 'Activo' ? 'Inactivo' : 'Activo';
            getClient.updateClientStatus(id, newStatus)
            .then(response => {
                this.getClientList();
            });
        },
        howModal(refname, dataEdit = []){
            this.dataEdit = dataEdit;
            this.nameEdit = dataEdit['item']['name'];
            this.phoneEdit = dataEdit['item']['phone'];
            this.idEdit = dataEdit['item']['id'];
            this.$refs[refname].show();
        },
        hideModal (refname) {
            this.$refs[refname].hide();
            this.getClientList();
        },
        newClientIdUpdate(id, nameCreateClient){
            console.log(2)
            this.getClientList();
        }
    }
}
</script>

<style>

</style>