<template>
  <div>
       <label class="form-group has-top-label">
            <input type="text" class="form-control" v-model="nameClientUp" />
            <span>NOMBRE COMPLETO</span>
          </label>
          <label class="form-group has-top-label">
            <input type="tel" class="form-control" v-model="phoneClient"/>
            <span>TELEFONO</span>
          </label>
             <div>
                <b-form-checkbox
                id="checkbox-1"
                v-model="confirm"
                name="confirm"
                value=false
                unchecked-value=true
                >
                Confirmo Actualizar la Información del Cliente
                </b-form-checkbox>

            </div>
         <button class="btn top-right-button btn-danger btn-lg" @click="upClient()" :disabled="confirm == true">
           <div class="row">
             <div class="simple-icon-user-follow"></div>
              Actualizar Cliente
           </div>
         </button>
    
  </div>
</template>

<script>
import getClient from "../../store/modules/getClient";
export default {
    props: [
        'id', 'nameClient', 'phone'
    ],
    data () {
        return {
            confirm: true,
            idClient: 0,
            nameClientUp: '',
            phoneClient: ''
        }
    },
    mounted(){
            this.idClient = this.id;
            this.nameClientUp = this.nameClient;
            this.phoneClient = this.phone;
    },
    methods: {
        upClient(){
            console.log('save')
                this.$notify('success', 'Resultado de Proceso', 'Se ha Actualizado Correctamente', { duration: 3000, permanent: false });
            getClient.updateClient(this.idClient, this.nameClientUp, this.phoneClient)
            .the(response => {
                if(response.status == 200){
                    this.$notify('danger', 'Resultado de Proceso', 'Error al Actualizar', { duration: 3000, permanent: false });
                }else{
                    console.log('Ac')
                }
            })
            .catch(err => console.log(err))
        }
    }
}
</script>

<style>

</style>