<template>
  <div class="col-12">
      <b-card class="mb-4 col-12" title="Lista de Clientes" v-show="viewListClient">
          <b-row>
            <b-col cols="12">
              <v-select v-model="idClient"  :options="selectData" :dir="direction" @input="changeSelect" />
            </b-col>
          </b-row>
      </b-card>
      <div class="row m-2" v-show="buttonNewClient">
        <div class="col-12 text-center">
          <button class="btn top-right-button btn-primary btn-lg" v-on:click="viewClient">
            <div class="row">
              <div class="glyph-icon iconsminds-add"></div>
             {{textButtonClient}}
            </div>
          </button>
        </div>
      </div>
      
        <n-client v-if="viewNewClient" v-on:newClientId="dateNewClient"></n-client>
      
  </div>
</template>
<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { getDirection } from "../../utils";
import getClient from "../../store/modules/getClient";
import newClient from "./newClient.vue"
//vueSelectForm.single.value
export default {
  components: {
    "v-select": vSelect,
    "n-client" : newClient,
  },
  data() {
    return {
      viewNewClient: false,
      viewListClient: true,
      vueSelectOptions: [],
      vueSelectForm: {
        single: "",
        multiple: []
      },
      direction: getDirection().direction,
      selectData: [],
      idClient: "",
      textButtonClient: 'Crear Cliente'
    };
  },
  props:{
    buttonNewClient: true,
  },
  computed:{

  },
  watch: {
    vueSelectForm: {
      deep: true,
      handler: (nuevoValor, valorAnterior) => {
		}
    },
    idClient(newValue,vn){
      //console.log(newValue.value);

    }
  },
  mounted() {
    getClient.get().then((client) => {
      var tempDataClient = [];
      for(let x in client){
        tempDataClient.push({
          value: client[x].id,
          label: client[x].name + '/' + client[x].phone,
        });
      }
      this.selectData = tempDataClient;
    })
  },
  methods: {
    changeSelect(){
     this.$emit("idClient", this.idClient.value, this.idClient.label);
    },
    dateNewClient(id, name){
      this.$emit("idClient", id, name);
    },
    viewClient(){
      this.viewNewClient = !this.viewNewClient;
      this.viewListClient = !this.viewListClient;
      if(!this.viewNewClient){
        this.textButtonClient = 'Crear Cliente';
      }else{
        this.textButtonClient = 'Lista de Clientes';
      }
    }
  }
};
</script>
