<template>
  <b-row>
    <b-colxx xxs="12">
      <b-card class="mb-4" title="Nuevo Cliente">

          <label class="form-group has-top-label">
            <input type="text" class="form-control" v-model="name" />
            <span>NOMBRE COMPLETO</span>
          </label>
          <label class="form-group has-top-label">
            <input type="tel" class="form-control" v-model="phone"/>
            <span>TELEFONO</span>
          </label>
         <button class="btn top-right-button btn-primary btn-lg" @click="saveClient">
           <div class="row">
             <div class="simple-icon-user-follow"></div>
              Crear Cliente
           </div>
         </button>

      </b-card>
    </b-colxx>
  </b-row>
</template>
<script>
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import Datepicker from "vuejs-datepicker";
import InputTag from "../../components/Form/InputTag";
import getClient from "../../store/modules/getClient";

export default {
  components: {
    "input-tag": InputTag,
    "v-select": vSelect,
    datepicker: Datepicker
  },
  data() {
    return {
      name: '',
      phone: ''
    };
  },
  methods: {
    saveClient(){
      getClient.newClient(this.name, this.phone)
      .then(client => {
        if(client.id > 0){
          this.name ="";
          this.phone ="";
          this.$emit("newClientId", client.id, client.name);
        }
      })
    }
  }
};
</script>
