<template>
<footer class="page-footer">
    <div class="footer-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <p class="mb-0 text-muted">@ 2023</p>
                </div>
                <div class="col-sm-6 d-none d-sm-block">
                    <ul class="breadcrumb pt-0 pr-0 float-right">
                        <li class="breadcrumb-item mb-0">
                        Version: {{versionApp}} - {{dataEnv.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</template>
<script>
import {versionApp, dataEnv} from './../../constants/config';
export default {
    data() {
        return {versionApp, dataEnv}
    }
}
</script>
