<template>
  <nav class="navbar fixed-top new-color-nav">
    <div class="d-flex align-items-center navbar-left">
      <a href="#" class="menu-button d-none d-md-block"
        @click.prevent.stop="changeSideMenuStatus({ step: menuClickCount + 1, classNames: menuType, selectedMenuHasSubItems })">
        <menu-icon />
      </a>
      <a href="#" class=" pl-2 d-xs-block d-sm-block d-md-none strong"
        @click.prevent.stop="changeSideMenuForMobile(menuType)">
        <mobile-menu-icon />Menú
      </a>
    </div>
    <div class="text-center d-none d-md-block">
      <div v-if="currentUserData.operation == 'Ilimitado'" @click="lodaDataUser" class="navbar-text">
        <b-badge variant="primary" v-if="$store.state.role != 'Administrador'">{{ $store.state.operation }}</b-badge>
      </div>
      <div v-else class="navbar-right">
        <b-button variant="primary" @click="lodaDataUser">
          <span class="strong">
            ${{ formatPrice($store.state.balance) }}
          </span>
        </b-button>
      </div>
    </div>

    <div class="navbar-right mr-3 navbar-expand">
      <div class="pr-3">
        <b-dropdown class="dropdown-menu-right" right variant="empty" toggle-class="p-0" menu-class="mt-3" no-caret>
          <template slot="button-content">
            <b-avatar :badge="totalMsg" badge-variant="danger" badge-left badge-top variant="primary">
              {{currentUserData.name.substring(0, 1)}}
            </b-avatar>
          </template>

          <b-dropdown-item>
            Nombre: <br /> {{ currentUserData.name }}
          </b-dropdown-item>
          <b-dropdown-item class="strong">
            <div v-if="$store.state.role == 'Observador'">
              Administrador
            </div>
            <div v-else>
              {{ $store.state.role }}
            </div>
          </b-dropdown-item>
          <b-dropdown-divider />
          <b-dropdown-item @click="changePassword" class="strong">Cambiar Contraseña</b-dropdown-item>
          <b-dropdown-divider />
          <b-dropdown-item @click="logout">
            <span class="strong">Salir</span>
          </b-dropdown-item>
        </b-dropdown>
      </div>
      <div class="text-center d-xs-block d-sm-block d-md-none">
        <div v-if="currentUserData.operation == 'Ilimitado'" @click="lodaDataUser" class="navbar-text">
          <b-badge variant="primary">{{ $store.state.operation }}</b-badge>
        </div>
        <div v-else class="navbar-right">
          <b-button variant="success" @click="lodaDataUser">
            <span class="strong">
              ${{ formatPrice($store.state.balance) }}
            </span>
          </b-button>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import Switches from "vue-switches";
import notifications from "../../data/notifications";

import { mapGetters, mapMutations, mapActions } from "vuex";
import { MenuIcon, MobileMenuIcon } from "../../components/Svg";
import {
  searchPath,
  menuHiddenBreakpoint,
  localeOptions,
  buyUrl,
  adminRoot,
  timeClose,

} from "../../constants/config";
import { getDirection, setDirection, getThemeColor, setThemeColor } from "../../utils";
import users from "../../store/modules/users"
import MathData from "../../helpers/math";
import Avatar from 'vue-avatar';
import moment from 'moment';


export default {
  components: {
    "menu-icon": MenuIcon,
    "mobile-menu-icon": MobileMenuIcon,
    switches: Switches,
    Avatar,
  },
  data() {
    return {
      searchKeyword: "",
      isMobileSearch: false,
      isSearchOver: false,
      fullScreen: false,
      menuHiddenBreakpoint,
      searchPath,
      adminRoot,
      localeOptions,
      buyUrl,
      notifications,
      isDarkActive: false,
      balance: 0,
      currentUserData: {},
      timUser: '',
      timeRefresh: 0,
      timeClose,
      totalAdmin: 0,
      countMsg: 0,
      totalMsg: 0
    };
  },
  methods: {
    ...mapMutations(["changeSideMenuStatus", "changeSideMenuForMobile"]),
    ...mapActions(["setLang", "signOut"]),
    search() {
      this.$router.push(`${this.searchPath}?search=${this.searchKeyword}`);
      this.searchKeyword = "";
    },
    searchClick() {
      if (window.innerWidth < this.menuHiddenBreakpoint) {
        if (!this.isMobileSearch) {
          this.isMobileSearch = true;
        } else {
          this.search();
          this.isMobileSearch = false;
        }
      } else {
        this.search();
      }
    },
    handleDocumentforMobileSearch() {
      if (!this.isSearchOver) {
        this.isMobileSearch = false;
        this.searchKeyword = "";
      }
    },

    changeLocale(locale, direction) {
      const currentDirection = getDirection().direction;
      if (direction !== currentDirection) {
        setDirection(direction);
      }

      this.setLang(locale);
    },
    logout() {
      this.signOut().then(() => {
        clearInterval(this.timUser);
        if (this.$store.state.role === "Administrador") {

        }
        localStorage.removeItem('token');
        localStorage.removeItem('user');
        localStorage.clear();
        this.$router.push("/user/login");
      });
    },

    toggleFullScreen() {
      const isInFullScreen = this.isInFullScreen();

      var docElm = document.documentElement;
      if (!isInFullScreen) {
        if (docElm.requestFullscreen) {
          docElm.requestFullscreen();
        } else if (docElm.mozRequestFullScreen) {
          docElm.mozRequestFullScreen();
        } else if (docElm.webkitRequestFullScreen) {
          docElm.webkitRequestFullScreen();
        } else if (docElm.msRequestFullscreen) {
          docElm.msRequestFullscreen();
        }
      } else {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.webkitExitFullscreen) {
          document.webkitExitFullscreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.msExitFullscreen) {
          document.msExitFullscreen();
        }
      }
      this.fullScreen = !isInFullScreen;
    },
    isInFullScreen() {
      return (
        (document.fullscreenElement && document.fullscreenElement !== null) ||
        (document.webkitFullscreenElement &&
          document.webkitFullscreenElement !== null) ||
        (document.mozFullScreenElement &&
          document.mozFullScreenElement !== null) ||
        (document.msFullscreenElement && document.msFullscreenElement !== null)
      );
    },
    lodaDataUser() {
      users.getDataUser()
        .then(result => {
          this.$store.state.balance = result.data.user.balance;
          this.$store.dispatch('setOperationAction', result.data.user.operation);
          this.$store.dispatch('setRoleAction', result.data.user.role);
          this.$store.dispatch('setPercentage', result.data.user.percentage);
          this.$store.dispatch('setMegaRaffle', result.data.user.megaraffle);
          this.$store.dispatch('setRaffle', result.data.user.raffle);
          let dateOne = moment(this.$store.state.timeLogin);
          let dateTwo = moment().format("YYYY-MM-DD hh:mm:ss");
          // Function call
          let resultDiff = dateOne.diff(dateTwo, 'minutes');
          let newTimeMinDiff = parseInt(resultDiff) * -1;
          if (newTimeMinDiff > timeClose) {
            this.logout()
          }
          this.changeStatusRaffle();

          //percentage
          this.timeRefresh = this.timeRefresh + 1;
          if (this.timeRefresh == 10) {
            this.timeRefresh = 0;
            this.refresh();
          }

          //Count Mensa
          this.totalMsg = parseInt(result.data.message);
          if (this.countMsg == 0) {
            if (parseInt(result.data.message) > 0) {
              this.countMsg++;
              this.$bvModal.msgBoxOk(`Tiene mensajes sin leer, total: ${result.data.message}`, {
                title: 'Información del Sistema',
                size: 'lg',
                buttonSize: 'lg',
                okVariant: 'success',
                headerClass: 'p-2 border-bottom-0',
                footerClass: 'p-2 border-top-0',
                centered: true
              });
              // this.$router.push(`${adminRoot}/chat`);
            }
          }
        })
    },
    loadSaleAdmin() {

    },
    refresh() {

    },
    formatPrice(val) {
      return MathData.formatPrice(val);
    },
    changeStatusRaffle() {
      var raffleIdMenu = document.getElementById('raffleIdMenu');
      if (this.$store.state.raffle === true) {
        raffleIdMenu.style.display = "inline";
      } else {
        raffleIdMenu.style.display = "none";
      }
    },
    setFunctionDelay() {

    },
    changePassword() {
      this.$router.push("/user/reset-password");
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "currentUser",
      menuType: "getMenuType",
      menuClickCount: "getMenuClickCount",
      selectedMenuHasSubItems: "getSelectedMenuHasSubItems"
    })
  },
  beforeDestroy() {
    document.removeEventListener("click", this.handleDocumentforMobileSearch);
    clearInterval(this.timUser);

  },
  mounted() {
    this.lodaDataUser()
    this.currentUserData = JSON.parse(localStorage.getItem("user"));
    const color = getThemeColor();
    this.isDarkActive = color.indexOf("dark") > -1;

    this.timUser = setInterval(() => {
      this.lodaDataUser()
    }, 14000);//120000
  },
  watch: {
    "$i18n.locale"(to, from) {
      if (from !== to) {
        this.$router.go(this.$route.path);
      }
    },
    isDarkActive(val) {
      let color = getThemeColor();
      let isChange = false;
      if (val && color.indexOf("light") > -1) {
        isChange = true;
        color = color.replace("light", "dark");
      } else if (!val && color.indexOf("dark") > -1) {
        isChange = true;
        color = color.replace("dark", "light");
      }
      if (isChange) {
        setThemeColor(color);
        setTimeout(() => {
          window.location.reload();
        }, 500);
      }
    },
    isMobileSearch(val) {
      if (val) {
        document.addEventListener("click", this.handleDocumentforMobileSearch);
      } else {
        document.removeEventListener(
          "click",
          this.handleDocumentforMobileSearch
        );
      }
    }
  }
};
</script>
<style scoped>
.nameUser {
  font-size: 1em;
}

.strong {
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 50%;
}

.avatar {
  background-color: red;
  border-radius: 10%;
}

.new-color-nav{
  background-color: #E8E9E8 !important;
}
</style>
