<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17" class="filter">
        <rect x="0.5" y="0.5" width="25" height="1" />
        <rect x="0.5" y="7.5" width="25" height="1" />
        <rect x="0.5" y="15.5" width="25" height="1" />
    </svg>
</template>
<style scoped>
.filter{
    filter: invert(48%) sepia(79%) saturate(476%) hue-rotate(180deg)  contrast(219%);
}
</style>
