<template>
  <div>
     <b-card>
      <b-row>
        <b-col cols="12" md="12" align-h="end" class="text-center fw-bold">
          <b-card-title>
              Buscar Colilla de Rifa
          </b-card-title>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" md="6">
          <div>
            <b-form-group
            label="Número de Colilla"
            label-for="ticket"
            class="mb-0">
            R<b-form-input id="ticket" v-model="ticket" type="number"></b-form-input>
            </b-form-group>
            <div class="mt-2 small">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col  cols="12" md="6" class="mt-5">
          <b-button variant="primary" block v-on:click="searchData" >
            <span class="simple-icon-magnifier"></span>
            Buscar
          </b-button>
        </b-col>
      </b-row>
      <b-row class="py-3 my-2 bg-secondary rounded" v-if="lengthDataStub > 0">
        <b-col >Datos Cliente: {{dataStub.dataStub.client.name}}/{{dataStub.dataStub.client.phone}} </b-col>
        <b-col >Datos de Usuario: {{dataStub.dataStub.user.name}}/{{dataStub.dataStub.user.phone}}</b-col>
        <b-col >Fecha y Hora: {{dataStub.dataStub.date}}</b-col>
        <b-col >Estado de Colilla Rifa: <b-badge variant="success">{{dataStub.dataStub.status}}</b-badge> </b-col>
      </b-row>
      <b-row v-if="lengthDataStub > 0">
        <b-col>
         <b-table 
         striped 
         hover 
         :fields="fields" 
         :items="dataStub.dataBet"
         responsive
         >
         <template #cell(action)="row">
          <div  v-if="row.item.is_scrutiny != null">
            <b-badge>
              Premiado
            </b-badge>
            <b-button variant="danger" v-on:click="deleteScrutiny(row.item.is_scrutiny.id)">Eliminar Premio #{{row.item.id}}</b-button>
          </div>
          <div v-else>
            <div v-if="row.item.scrutiny != null">
              <b-badge variant="warning">Sorteo: #{{row.item.scrutiny.id}}</b-badge>
              <b-button v-on:click="setScrutiny(row.item.id, row.item.scrutiny.id)">Premiar #{{row.item.id}}</b-button>
            </div>
            <div v-else>
              <b-badge variant="info">No Existe Escrutinio</b-badge>
            </div>
          </div>
         </template>
         </b-table>
        </b-col>
      </b-row>
      </b-card>
  </div>
</template>

<script>
import scrutiny from '../../store/modules/scrutiny';
import award from '../../store/modules/award';
import moment from 'moment';
export default {
  data () {
    return {
      ticket: '',
      fields: [
        {key: 'id', label: 'ID'},
        {key: 'lottery', label: 'Loteria'},
        {key: 'number', label: 'Número'},
        {key: 'right', label: 'Derecho'},      
        {key: 'action', label: ''}
      ],
      dataStub: [],
      lengthDataStub: 0
    }
  },
  methods: {
    searchData(){
      if(this.ticket.length > 0){
        scrutiny.searchticketRaffle(this.ticket)
        .then(result => {
          if(result.status == 200){
            this.dataStub = result.data;
            this.lengthDataStub = Object.keys(this.dataStub).length;
            console.log(this.lengthDataStub);
          }
        });
      }else{
        this.$bvModal.msgBoxOk(`El Número de la Colilla es Obligatoria`, {
                title: 'Información del Sistema',
                size: 'lg',
                buttonSize: 'lg',
                okVariant: 'danger',
                headerClass: 'p-2 border-bottom-0',
                footerClass: 'p-2 border-top-0',
                centered: true
              })
              .then(result =>{

              });
      }
    },
    deleteScrutiny(bet_id){
      this.$bvModal.msgBoxConfirm(`Seguro de Realizar la Transacción - Eliminar Premiación # ${bet_id}` , {
        okTitle: 'Continuar>',
        cancelTitle: 'Cancelar', 
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true, 
        okVariant: 'danger', 
        hideHeaderClose: false, 
        buttonSize: 'lg', 
        title: 'Por favor Confirmar',
        okOnly: true,
        size: 'lg', 
        })
      .then(result => {
        if(result){
          award.deleteAwardRaffle(bet_id)
          .then(result => {
            this.searchData();
          })
        }
      })
    },
    setScrutiny(bet_id, idScrutiny){
      this.$bvModal.msgBoxConfirm(`Seguro de Realizar la Transacción - Premian Manualmente la Apuesta **RIFA**  # ${bet_id}` , {
        okTitle: 'Continuar>',
        cancelTitle: 'Cancelar', 
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true, 
        okVariant: 'danger', 
        hideHeaderClose: false, 
        buttonSize: 'lg', 
        title: 'Por favor Confirmar',
        okOnly: true,
        size: 'lg', 
        })
      .then(result => {
        if(result){
          scrutiny.setScrutinyManualRaffle(bet_id, idScrutiny)
          .then(result => {
            if(result.status == 200){
              this.$notify('error', 'Error', result.data.error, { duration: 4000, permanent: false });
            }
            if(result.status == 201){
              this.searchData();
            }
          })
        }
      })
    }
  },
  mounted() {
     this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
  }

}
</script>

<style>

</style>