<template>
  <b-container fluid>
      <numbersPlayed/>
  </b-container>
</template>

<script>
import numbersPlayed from './../../../components/scrutiny/numbersPlayed'
export default {
    components: {
        numbersPlayed
    }
}
</script>

<style>

</style>