<template>
  <b-container fluid>
      <scrutinyValue/>
  </b-container>
</template>

<script>
import scrutinyValue from './../../../components/scrutiny/scrutinyValue.vue'
export default {
    components: {
        scrutinyValue
    }
}
</script>

<style>

</style>