<template>
    <container fluid>
        <b-card>
            <b-row>
                <b-col>
                    <h4>Buscar Cliente de Empresa</h4>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="7">

                     <b-form-group
                        id="idClient"
                        label="Nombre de Cliente"
                        label-for="nameClient"
                        description="Busqueda Completa o Parcial"
                    >
                        <b-form-input
                        id="nameClient"
                        v-model="form.nameClient"
                        type="text"
                        placeholder="Ingrese Nombre"
                        required
                        ></b-form-input>
                    </b-form-group>

                </b-col>
                <b-col cols="5">
                   <div class="pt-1">
                    <b-button
                    variant="primary"
                    class="mt-4"
                    size="lg"
                    @click="searchClient"
                    >
                        Buscar
                    </b-button>
                   </div>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12">
                    <b-table
                    responsive
                    hover
                    :fields="fields"
                    :items="options"
                    >
                    
                    </b-table>
                </b-col>
            </b-row>
        </b-card>
    </container>
</template>

<script>
import getClient from '../../../store/modules/getClient';

export default {

    data() {
        return{
            form: {
                nameClient: ''
            },
            fields: [
                { key: 'name', value: 'Nombre'},
                { key: 'phone', value: 'Telefono'},
                { key: 'status', value: 'Estado'},
                { key: 'action', value: ''},

            ],
            options: []
        }
    },
    methods:{
        searchClient(){
            if(this.form.nameClient != ''){
                getClient.getClientAdmin(this.form.nameClient)
                .then(response => {
                    console.log(response)
                    this.options = response;
                })
            }
        }
    }

}
</script>

<style>

</style>