<template>
  <container fluid>
    <b-card>
      <b-row>
        <b-col cols="12" md="12" align-h="end" class="text-center fw-bold">
          <b-card-title class="strong">
              Premiación de Rifas
          </b-card-title>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" md="6">
          <div>
            <b-form-group
            label="Fecha de Inicio"
            label-for="dateStart"
            class="mb-0">
            <b-form-datepicker today-button label-today-button="Hoy" initial-date locale="es" id="dateStart" v-model="dateStart" class="mb-2"></b-form-datepicker>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col cols="12" md="6">
          <div>
            <b-form-group
            label="Fecha de Fin"
            label-for="endDate"
            class="mb-0">
            <b-form-datepicker today-button label-today-button="Hoy" initial-date locale="es" id="endDate" v-model="endDate" class="mb-2"></b-form-datepicker>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col  cols="12" md="6" class="pt-4">
          <b-button variant="primary" block v-on:click="searchData" >
          <span class="simple-icon-magnifier"></span>
            Buscar
          </b-button>
        </b-col>
      </b-row>
      <b-row v-if="loadData">
        <b-col >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
      <b-row v-if="totalRows > 0">
        <b-col>
        <div class="p-3">
          <b-form-input v-model="searchStub" placeholder="Buscar Colilla"></b-form-input>
        </div>
        </b-col>
      </b-row>
      <b-row v-if="totalRows > 0">
        <b-col class="p-3">
          <b-card title="Total Bruto" bg-variant="primary" text-variant="white" class="text-center strong">
              ${{formatNumber(total)}}
          </b-card>
        </b-col>
        <b-col class="p-3">
          <b-card title="Total Neto" bg-variant="success" text-variant="white" class="text-center strong">
              ${{formatNumber(net)}}
          </b-card>
        </b-col>
        <b-col class="p-3">
          <b-card title="Premiación" bg-variant="danger" text-variant="white" class="text-center strong">
              ${{formatNumber(totalWin)}}
          </b-card>
        </b-col>
        <b-col class="p-3">
          <b-card title="Total" style="background-color: #949fa8;" text-variant="white"  class="text-center strong">
              ${{formatNumber(totalN)}}
          </b-card>
        </b-col>
      </b-row>
      <b-row v-if="totalRows > 0">
        <b-table
        striped hover
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        bordered
        table-variant="primary"
        :filter="searchStub"
        responsive
        >
          <template #cell(stub_id)="row">
            <b-button variant="outline-primary" block pill  class="strong" @click="prepareWhatsApp(row.item.dataStub.stub_id)">
              {{ row.item.dataStub.stub_id}}
            </b-button>
          </template>
          <template #cell(date)="row">

              {{ row.item.dataStub.date}}

          </template>
          <template #cell(client)="row">
            {{ row.item.dataStub.client}}
          </template>
          <template #cell(user)="row">
            {{ row.item.dataStub.user}}
          </template>
          <template #cell(user_role)="row">
            {{ row.item.dataStub.user_role}}
          </template>
          <template #cell(pather)="row">
              {{row.item.dataStub.pather.name }} / {{row.item.dataStub.pather.document }}
            </template>
          <template #cell(bets)="row">
            <b-form-checkbox v-model="row.detailsShowing" @change="row.toggleDetails">
              Ver Ganadores
            </b-form-checkbox>
          </template>
         <template #row-details="row">
            <b-table
            striped hover
            :items="row.item.dataStub.dataBet"
            :fields="fieldsBets"
            :bordered="true"
            :table-variant="variantDanger"
            small
            responsive
            >
            <template #cell(right)="row">
              {{formatNumber(row.item.right)}}
            </template>
            <template #cell(combo)="row">
              {{formatNumber(row.item.combo)}}
            </template>
            <template #cell(cradle)="row">
              {{formatNumber(row.item.cradle)}}
            </template>
            <template #cell(figure)="row">
              {{formatNumber(row.item.figure)}}
            </template>

            <template #cell(action)="row">
              <b-button variant="danger" v-on:click="deleteScrutiny(row.item.scrutiny_bet_id)">
                Retirar Premio de #{{(row.item.bet_id)}}
              </b-button>

            </template>
            </b-table>
         </template>
          <template #cell(win)="row">
            {{formatNumber(row.item.dataStub.win)}}
          </template>

        </b-table>
      </b-row>
      <b-row class="text-center" v-if="totalRows > 0">
        <b-col>
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
      </b-row>
      </b-card>
      <b-modal id="bv-modal-success" ref="bv-modal-success" hide-footer>
      <template #modal-title>
        Re Enviar Datos
      </template>
      <div class="d-block text-center">
        <whatsapp
        no-enforce-focus=true
        :pushNumber="pushNumber"
        :nameLottery="nameLottery"
        :numberTicket="numberTicket"
        :totalToPay="totalToPay"
        :dateBet="dateBet"
        ></whatsapp>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-success')">Cerrar</b-button>
    </b-modal>
  </container>
</template>

<script>
import moment from 'moment';
import award from './../../store/modules/award';
import MathData from './../../helpers/math';
import whatsapp from '../Common/whatsapp';

export default {
  components: {
    whatsapp
  },
  data () {
    return {
      dateStart: moment().format('YYYY-MM-DD'),
      endDate : moment().format('YYYY-MM-DD'),
      items: [],
      fields: [
         {key: 'stub_id', label: 'Colilla', sortable: true},
         {key: 'date', label: 'Fecha', sortable: true},
         {key: 'client', label: 'Cliente', sortable: true},
         {key: 'user', label: 'Usuario', sortable: true},
         {key: 'user_role', label: 'Rol', sortable: true},
         {key: 'pather', label: 'Promotor', sortable: true},
         {key: 'bets', label: 'Ganadores', sortable: true},
         {key: 'win', label: 'Total Premiado', sortable: true},
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      fieldsBets: [
        // {key: 'bet_id', label: '# Apuesta', sortable: true},
        {key: 'number_winner', label: '# Ganador', sortable: true},
        {key: 'lottery_name', label: 'Loteria', sortable: true},
        {key: 'number', label: 'Número', sortable: true},
        {key: 'right', label: '$ Derecho', sortable: true},
        {key: 'combo', label: '$ Combinado', sortable: true},
        {key: 'cradle', label: '$ Cuña', sortable: true},
        {key: 'figure', label: '$ Ultimo', sortable: true},
        {key: 'action', label: 'Acción'}
      ],
      variantDanger: 'danger',
      searchStub: '',
      loadData: false,
      totalWin : 0,
      total: 0,
      net: 0,
      totalN: 0,
      //******
      pushNumber: [],
      nameLottery: [],
      numberTicket: 0,
      totalToPay: 0,
      dateBet: '',
      //******

    }
  },
  methods: {
    searchData(){
      this.loadData = true;
      this.totalWin = 0;
      this.items = [];
      award.getAwardDayRaffle(this.dateStart, this.endDate)
      .then(result => {

        this.items = (result.data.dataStubs);
        for(const d in result.data.dataStubs){
          // this.items.push(result.data[d]);
          this.totalWin = parseFloat(this.totalWin) + parseFloat(result.data.dataStubs[d].dataStub.win);
        }
        this.totalRows = this.items.length;
        this.loadData = false;

        //*********
        this.total = result.data.valuesTotals.total;
        this.net = result.data.valuesTotals.net;
        this.totalN = parseFloat(result.data.valuesTotals.net) - parseFloat(this.totalWin);
      })
    },
    formatNumber(val){
      return MathData.formatPrice(val);
    },
    deleteScrutiny(bet_id){
      this.$bvModal.msgBoxConfirm(`Seguro de Realizar la Transacción - Eliminar Premiación # ${bet_id}` , {
        okTitle: 'Continuar>',
        cancelTitle: 'Cancelar',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true,
        okVariant: 'danger',
        hideHeaderClose: false,
        buttonSize: 'lg',
        title: 'Por favor Confirmar',
        okOnly: true,
        size: 'lg',
        })
      .then(result => {
        if(result){
          award.deleteAward(bet_id)
          .then(result => {
            this.searchData();
          })
        }
      })
    },
    sumTotalWin(val){
      // this.totalWin = parseFloat( this.totalWin) + parseFloat(val);
    },
    prepareWhatsApp(idStub){
      award.prepareWhRaffle(idStub)
      .then(result => {
      this.pushNumber = [];
      this.nameLottery = result.data['nameLottery'];

      for(let i in result.data['pushNumber']){
        this.pushNumber.push({
          'num' : result.data['pushNumber'][i]['num'],
          'val' : result.data['pushNumber'][i]['val'],
          'com' :0,
          'cuna' :0
        });
      }
      this.numberTicket = idStub;
      this.totalToPay = result.data['totalToPay'];
      this.dateBet = result.data['dateBet'];
      this.$refs['bv-modal-success'].show();
      })



  },
  }
}
</script>

<style scoped>
.strong{
  font-weight: bold;
}

</style>
