<template>
  <listSaleRangeDateUser/>
</template>

<script>
import listSaleRangeDateUser from './../../../components/closing/listSaleRangeDateUser'
export default {
    components: {
        listSaleRangeDateUser
    }

}
</script>

<style>

</style>