<template>
  <closingPromMega/>
</template>

<script>
import closingPromMega from './../../../components/closing/closingPromMega'
export default {
    components: {
        closingPromMega
    }

}
</script>

<style>

</style>