<template>
  <listSaleRangeDateProm/>
</template>

<script>
import listSaleRangeDateProm from './../../../components/closing/listSaleRangeDateProm.vue'
export default {
    components: {
        listSaleRangeDateProm
    }

}
</script>

<style>

</style>