<template>
  <closingall/>
</template>

<script>
import closingall from './../../../components/closing/closingall'
export default {
    components: {
        closingall
    }

}
</script>

<style>

</style>