<template>
  <listSaleRangeDateSellerTwo/>
</template>

<script>
import listSaleRangeDateSellerTwo from './../../../components/closing/listSaleRangeDateSellerTwo'
export default {
    components: {
        listSaleRangeDateSellerTwo
    }

}
</script>

<style>

</style>