<template>
  <b-container fluid>
      <div v-if="whoAdmin.length > 0" class="font-weight-bold">Enviar Mensaje a: {{whoAdmin}}</div>
    <msg ref="componente"/>
    <!-- v-if="$store.state.role != 'Administrador'" -->
    <send  @newMsg="getMsg" v-bind:fromUser="fromUser"/>
    <application-menu v-if="$store.state.role == 'Administrador'">
        <b-tabs no-fade class="pl-0 pr-0 h-100" content-class="chat-app-tab-content" nav-class="card-header-tabs ml-0 mr-0" v-model="tabIndex">
            <!-- <b-tab :title="$t('chat.messages')" active title-item-class="w-50 text-center" no-body class="chat-app-tab-pane">
                <div class="pt-4 spaced-content pb-0 mt-2">

                </div>
                <conversation-list v-if="isLoadContacts && isLoadConversations" key="conversationList" :current-user="currentUser" :conversations="conversations" :contacts="contacts" @select-conversation="selectConversation" />
            </b-tab> -->
            <b-tab :title="$t('chat.contacts')" title-item-class="w-50 text-center" no-body class="chat-app-tab-pane">
                <div class="pt-4 spaced-content pb-0 mt-2">
                    <!-- <div class="form-group">
                        <b-input type="text" class="rounded" :placeholder="$t('menu.search')" v-model="searchKey" />
                    </div> -->
                </div>
                <contact-list v-if="isLoadContacts" key="contactList" :data="contactsSearchResult" @selectContact="selectContact"  />
            </b-tab>
        </b-tabs>
    </application-menu>
  </b-container>
</template>

<script>
import send from './../../../components/chat/send';
import msg from './../../../components/chat/msg'
import ContactList from './../../../components/ChatApp/ContactList';
import ApplicationMenu from '../../../components/Common/ApplicationMenu';
import promotors from './../../../store/modules/promotors';

export default {
    components: {
        send,
        msg,
        ContactList,
        'application-menu': ApplicationMenu,
    },
    data(){
        return {
            contactsSearchResult: [],
            isLoadContacts: false,
            tabIndex: 0,
            searchKey: '',
            isLoadConversations: false,
            whoAdmin: '',
            fromUser: ''
        }
    },
    mounted(){
        document.body.classList.add("no-footer");
        this.loadContact();

    },
    beforeDestroy() {
        document.body.classList.remove("no-footer");
    },
    methods:{
        getMsg(){
            this.$refs.componente.getMessage();
        },
        loadContact(){
            this.isLoadContacts = false;
            promotors.getPromotoreAll()
            .then(response => {
                const dataUser = response.data;
                //Add Administrator
                if(this.$store.state.role == 'Administrador')
                this.contactsSearchResult.push({
                        id: '-1',
                        title: 'Todos'
                    });
                //End Add Administrator
                for(let i in dataUser){
                    this.contactsSearchResult.push({
                        id: dataUser[i].id,
                        title: dataUser[i].name
                    });
                }
                this.isLoadContacts = true;
            })
        },
        selectContact(userId){
            this.whoAdmin = userId.name;
            this.fromUser = userId.id.toString();
        }
    }

}
</script>

<style>

</style>
