<template>
  <b-row>
    <b-col><b-card-group columns>
        <b-card bg-variant="primary" text-variant="white" header="Ventas Brutas." class="bradius"
          header-border-variant="secondary" border-variant="secondary">
          <b-card-text class="text-center">
            <span class="fs1">{{ formatPrice(saleToday) }}</span>
          </b-card-text>
        </b-card>

        <b-card bg-variant="success" text-variant="white" header="Ventas Netas" class="bradius">
          <b-card-text class="text-center">
            <span class="fs1">
              {{ formatPrice(saleTodayNet) }}
            </span>
          </b-card-text>
        </b-card>
      </b-card-group>
    </b-col>
  </b-row>
</template>

<script>
import saleAdmin from '../../store/modules/saleAdmin';
import MathData from "./../../helpers/math";

export default {
  data() {
    return {
      saleToday: 0,
      saleTodayNet: 0
    }
  },
  methods: {
    loadSaleAdmin() {

      saleAdmin.getToday()
        .then(response => {
          const total = response.data.total ?? 0;
          this.saleToday = total;
          this.saleTodayNet = response.data.net ?? 0;
        });

    },
    formatPrice(val) {
      return '$' + MathData.formatPrice(val);
    },
  },
  mounted() {
    this.loadSaleAdmin();
    this.timUser = setInterval(() => {
      this.loadSaleAdmin()
    }, 12000);//120000
  },
  destroyed() {
    clearInterval(this.timUser);
  }
}

</script>

<style scoped>
.fs1 {
  font-size: 2em;
  font-weight: bold;
}

.bradius {
  border-radius: 15px;
}
</style>
