<template>
  <b-card bg-variant="success" text-variant="white" header="Ventas Netas">
    <b-card-text class="text-center">
        <span class="fs1">
          {{formatPrice(saleToday)}}
        </span>
    </b-card-text>
  </b-card>
</template>

<script>
  import saleAdmin from '../../store/modules/saleAdmin';
  import MathData from "./../../helpers/math";

  export default {
    data() {
        return {
            saleToday: 0
        }
    },
    methods: {
      loadSaleNet(){
        saleAdmin.todayNet()
        .then(response => {
          this.saleToday = response.data.net;
        });
      },
      formatPrice(val){
        return '$' + MathData.formatPrice(val);
    },
  },
    mounted() {
        this.loadSaleNet();
        this.timUser = setInterval(() => {
            this.loadSaleNet()
          }, 12200);//120000
    },
    destroyed() {
        clearInterval(this.timUser);
    }
  }

</script>

<style scoped>
.fs1{
  font-size: 2em;
  font-weight: bold;
}
</style>
