<template>
  <b-row>
    <b-col>
      <b-card-group columns>
        <b-card bg-variant="primary" class="bradius" text-variant="white" header="Total de Usuarios Vendedores">
          <b-card-text class="text-center">
            <span class="fs1">
              {{ total }}
            </span>
          </b-card-text>
        </b-card>
        <b-card bg-variant="secondary" class="bradius" text-variant="white" header="Vendedores Ventas Ayer">
          <b-card-text class="text-center">
            <span class="fs1">
              {{ yesterday }}
            </span>
          </b-card-text>
        </b-card>
        <b-card bg-variant="info" class="bradius" text-variant="white" header="Vendedores Ventas Hoy">
          <b-card-text class="text-center">
            <span class="fs1">
              {{ active }}
            </span>
          </b-card-text>
        </b-card>

      </b-card-group>
    </b-col>
  </b-row>
</template>
<style scoped>
.fs1 {
  font-size: 2em;
  font-weight: bold;
}
</style>
<script>
import countUsers from './../../store/modules/countUsers';

export default {
  data() {
    return {
      total: 0,
      active: 0,
      yesterday: 0,
    }
  },
  mounted() {
    this.getCount();
  },
  methods: {
    getCount() {
      countUsers.get().then(
        result => {

          this.total = result.data[0];
          this.active = result.data[1];
          this.yesterday = result.data[2];
        }
      )
    }
  }
}
</script>
<style scoped>
.bradius {
  border-radius: 15px;
}
</style>
