<template>
  <div class="icon-row-item" v-on:click="cl" :id="id">
    <b-card class="mb-4 text-center">
      <img :src="routeimg" alt="" srcset="" class="img-thumbnail" width="150px">
      <p class="card-text font-weight-normal mb-0">{{ title }}</p>
      <p class=" text-center font-weight-normal">{{ expiration }}</p>
    </b-card>
  </div>
</template>
<script>
export default {
  props: {
    title: { type: String, default: '' },
    routeimg: { type: String, default: 'http' },
    expiration: { type: String, default: '00:00:00' },
    color: { type: String, default:''}
  },
  methods: {
    cl: function(event){
       alert('Hola ' + this.name + '!')
      if (event) {
        alert(this.name)
      }
    }
  }
}
</script>
