<template>
  <div>
    <raffle></raffle>
  </div>
</template>

<script>
import raffle from './../../../components/ticket/raffle'
export default {
    components: {
        raffle
    }

}
</script>

<style>

</style>