<template>
  <div>
    <ticket></ticket>
  </div>
</template>

<script>
import ticket from './../../../components/ticket/ticket'
export default {
    components: {
        ticket
    }

}
</script>

<style>

</style>