<template>
  <div>
    <b-row>
      <b-colxx xxs="12">
        <h3>Loterias Principal</h3>
        <div class="separator mb-5"></div>
      </b-colxx>
    </b-row>
    <b-colxx xl="12" lg="12">
        <b-row>
             <listlottery></listlottery>
        </b-row>
      </b-colxx>

  </div>
</template>

<script>
import listlottery from "../../../components/lottery/listlottery";



export default {
  components: {
    listlottery,
   


  },
  mounted(){
        // document.body.classList.add("no-footer");
    },
    beforeDestroy() {
        // document.body.classList.remove("no-footer");
    },
};
</script>
