<template>
<div class="d-flex flex-row mb-3 pb-3 border-bottom">
    <router-link tag="a" :to="detailPath">
        <avatar :username="data.name"></avatar>
        {{data.name}}:
        <br>

        <button class="btn btn-danger" v-if="$store.state.role != 'Administrador' && dataUser.name != data.name"  @click="readMessage(data.id, 'Inactivo')">
            <small>
                Marcar Como Leído
            </small>
        </button>
    </router-link>
    <div class="pl-3 pr-2">
        <div>
            <a class="btn btn-secondary" :href="apiNewUrl+data.from+'/'+data.photo" target="_blank" v-if="data.photo.length > 0">
                Descargar
            </a>
        </div>
        <router-link tag="a" :to="detailPath">
            <p class="font-weight-medium mb-0 ">{{ data.title }}</p>
            <p class="text-muted mb-0 text-small">{{ data.detail }}</p>
            <div class=" mb-0 text-small" >

            </div>
        </router-link>
    </div>
    <div v-if="$store.state.role == 'Administrador'" class="">

        <b-button variant="danger" v-if="data.status == 'Activo'" @click="changeStatus(data.id, 'Inactivo')">
            <!-- <div class="simple-icon-trash"></div> -->
            Inactivar
        </b-button>
         <b-button variant="primary" v-else @click="changeStatus(data.id, 'Activo')">
           Activar
        </b-button>
        <b-button variant="danger" @click="deleteChat(data.id)">
            <div class="simple-icon-trash">Eliminar</div>
        </b-button>
        <b-form-checkbox v-model="deleteM"  value="eli" unchecked-value="no" @change="$emit('delMass', {'action': deleteM == 'eli' ? 'del' : 'no', 'idDel': data.id })">Eliminar Masivo</b-form-checkbox>
    </div>
</div>
</template>

<script>
import Avatar from 'vue-avatar';
import support from './../../store/modules/support';
import { apiUrl } from '../../constants/config';


export default {
    props: ['data', 'detailPath'],
    components: {
        Avatar
    },
    data() {
        return {
            dataUser: [],
            apiNewUrl: apiUrl.substring(0, apiUrl.length - 6) + 'storage/uploads/',
            deleteM : ''
        }
    },
    methods: {
        getFileDownload(id, fileD){
            support.getFile(id, fileD).then(response => {

            })
        },
        changeStatus(id, newStatus){
            support.changeStatus(id, newStatus).then(response => {
                this.data.status = response.data.status;
            });
        },
        readMessage(id, newStatus){
            this.changeStatus(id, newStatus);
            this.data.status = 'Mensaje Leído';

        },
        getNameUser(){
            this.dataUser = JSON.parse(localStorage.getItem('user'));
        },
        deleteChat(id){
            var confirmData = confirm('Va a Eliminar');
            if(confirmData == true){
               support.deleteMessage(id)
               .then(response => {
                    this.$emit('deleteMessage');
               });
            }
        }

    },
    mounted() {
        this.getNameUser();

    }
}
</script>
