<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <h3 class="strong">Rifas</h3>
      </b-col>
    </b-row>

    <b-card no-body>
      <b-tabs v-model="tabIndex" small card>
        <b-tab title="Loterias para Juego" active>
          <div class="row gap-5">
            <!--  -->
            <b-card
              class="mb-4 text-center m-2"
              v-for="lott in lotterys"
              :key="lott.id"
              :id="lott.id"
              v-on:click="select(lott.id, lott.desc_lottery)"
            >
              <img :src="lott.urlimg" alt srcset class width="100px" />
              <p class="card-text font-weight-bolder mb-0">{{ lott.desc_lottery }}</p>
              <p class="text-center font-weight-bolder">Cierre:{{ lott.closing_time }}</p>
            </b-card>
            <b-card v-if="lotterys.length == 0" justify-content-center>
              <b-card-text class="text-center">
                <h2 class="text-center strong">No hay Loterias Abiertas</h2>
              </b-card-text>
            </b-card>
            <!--  -->
          </div>
        </b-tab>
        <b-tab title="Números a Jugar" :disabled="tabNumber">
        <b-row>
          <b-col>
            <p class="text-center fw-bold strong sizeFont">Total $ {{formatPriceMoney(totalPay)}}</p>
          </b-col>
        </b-row>
        <b-row>
            <b-col class="text-center">
             <b-button @click="eraseNumber" class="strong">
               Borrar
             </b-button>
            </b-col>
            <b-col class="text-center">
              <b-button @click="equalValue" class="strong">
                Mismo Valor
              </b-button>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <p class="text-center strong">Número</p>
            </b-col>
            <b-col>
              <p class="text-center strong">Valor</p>
            </b-col>
          </b-row>
          <b-row v-for="(i, index) in totalRows" :key="index">
            <b-col class="inputSalep">
              <b-form-input 
              type="number" 
              v-model="formData[index].number"
              size="lg"
              :formatter="formatterNumber"
              class="inputSalep text-center form-control m-2"
              max="4"
              min="3"
              @keyup="keyUpNumber"
             @change="validateLength(formData[index], index)"
              >
              </b-form-input>
            </b-col>
            <b-col>
              <b-form-input 
              type="number" 
              v-model="formData[index].cash"
              size="lg"
              class="inputSalep text-center form-control m-2"
              @keyup="keyUpNumber"
              >
              </b-form-input>
            </b-col>
          </b-row>
        </b-tab>
        <b-tab title="Cliente" :disabled="tabUser">
          <list-client v-on:idClient="enableNext" :buttonNewClient="true"></list-client>
        </b-tab>
        <b-tab title="Realizar Pago" :disabled="tabPay">
          <b-row>
            <b-col>
              <p class="text-center h4">Resumen para Pago</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <p class="text-center fw-bold h5">Total $ {{formatPriceMoney(totalPay)}}</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <p class="text-center fw-bold h5">Cliente: {{client.name}}</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <p class="h5 text-center">Loterias</p>
              <div class="card border-bottom m-2 py-2" v-for="(data, index) in nameLottery" :key="index">
                Loteria: {{nameLottery[index].name}}
              </div>
            </b-col>
            <b-col>
              <p class="h5 text-center">Números Y Valores</p>
              <div v-for="(data, index) in formData" :key="index">
                <div v-if="formData[index].number != '' && formData[index].cash != ''" class="card border-bottom m-2 py-2">
                 # {{formData[index].number}}     - $ {{formData[index].cash}}
                </div>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div class="text-center">
               <button class="btn mb-2 btn-primary btn-lg" v-on:click="saveBetRaffle" :disabled="btnDisabled">
                Guardar Apuesta
               </button>
              </div>
            </b-col>
          </b-row>
        </b-tab>
      </b-tabs>
    </b-card>

    <div class="row text-center fixed-bottom py-3">
      <div class="col-6">
        <button class="btn btn-primary btn-block" v-on:click="tabIndex--" v-show="!tabIndex != 1">
          <span class="iconsminds-back-2"></span> Regresar
        </button>
      </div>
      <div class="col-6">
        <div >
          <button class="btn btn-primary btn-block" @click="tabIndex++" id="btnNext" v-show="tabIndex < 3 && showTab">
            Siguiente
            <span class="glyph-icon iconsminds-next-2"></span>
          </button>
        </div>
      </div>
    </div>


    <b-modal id="bv-modal-success" ref="bv-modal-success" hide-footer @hidden="closeWhatsapp">
      <template #modal-title>
        Resultado de Proceso
      </template>
      <div class="d-block text-center">
        <p>{{msgSaveBet}}</p>
        <whatsapp 
        no-enforce-focus=true 
        :pushNumber="pushNumber" 
        :nameLottery="nameLottery" 
        :numberTicket="numberTicket" 
        :totalToPay="totalPay" 
        :dateBet="dateBet"
        ></whatsapp>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-success')">Cerrar</b-button>
    </b-modal>


  </b-container>
</template>

<script>
import getLottery from "../../store/modules/getLottery";
import listClient from "../../components/Client/listClient";
import MathData from "./../../helpers/math";
import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";
import riffleService from "./../../store/modules/riffleService";
import whatsapp from "./../Common/whatsapp.vue";
import users from "./../../store/modules/users";
import moment from "moment";

export default {
  components: {
    'list-client': listClient,
    whatsapp
  },
  data() {
    return {
      tabIndex: 1,
      tabNumber: true,
      tabUser: true,
      tabPay: true,
      totalRows: 20,
      lotterys: [],
      lotteryList: [],
      nameLottery: [],
      text: '',
      totalPay: 0,
      formData: [],
      newClassCss: ['shadow-lg', 'bg-primary'],
      bgBodyUnsellect: ['bg-body'],
      steps: 0,
      client : {
        name: 'Usuario Empresa',
        id: '1'
      },
      numberTicket: 0,
      pushNumber:[],
      dateBet: '',
      msgSaveBet: '',
      showTab: true,
      btnDisabled: false,
    };
  },
  mounted() {
    this.setNumber();
    this.dataMounted();
     this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
  },
  methods: {
    dataMounted() {
      const data = getLottery.lotteryDayRaffle();
      data.then((res) => {
        this.lotterys = res;
      });
    },
    setNumber(){
      for(let i = 0; i < this.totalRows; i++){
        this.formData.push({
          'number' : '',
          'cash' : ''
        });
      }
    },
    select: function (event, nameLottery) {
      
      var pos = this.lotteryList.indexOf(event);
      const element = document.getElementById(event);

      if (pos == -1) {
        //element.style.opacity ="1";
        this.lotteryList.push(event);
        this.nameLottery.push({ 'name': nameLottery, 'id': event });
        element.classList.add(... this.newClassCss);
      } else {
        //element.style.opacity ="0.5";
        this.lotteryList.splice(pos, 1);
        this.nameLottery.splice(this.nameLottery.indexOf(nameLottery), 1);
        element.classList.add(... this.bgBodyUnsellect);
        element.classList.remove(... this.newClassCss);
      }
      if(this.nameLottery.length > 0){
        this.tabNumber = false;
      }else{
        this.tabNumber = true;
      }
      this.btnPay();
    },
    nextLottery() {
      if(this.tabIndex == 1)
        this.btnDisabled = false;
    },
    backLottery() {

    },
    formatterNumber(value){
      if(value.value != ''){
        return value.substring(0,4)
      }else{
        return value;
      }
    },
    keyUpNumber(){
      let n = 0;
      let v = 0;
      this.totalPay = 0;
      for(let f in this.formData){
        if(this.formData[f].number.length > 2){
          n += 1;
        }
        if(this.formData[f].cash.length > 0){
          v += 1;
          this.totalPay += parseFloat(this.formData[f].cash);
        }
      }
      if(n == v){
        this.tabUser = false;
      }else{
        this.tabUser = true;
      }
      this.totalPay *= this.lotteryList.length;
      this.btnPay();
    },
    enableNext: function(id, name) {
      this.client.name = name;
      this.client.id = id;
      this.tabIndex += 1;
      console.log(name)
    },
    btnPay(){
      if(this.$store.state.operation == 'Ilimitado'){
        this.tabPay = (this.tabUser || this.tabNumber);
      }else{
        if(this.totalPay > this.$store.state.balance ){
          this.$notify('error', 'Resultado', 'El valor no puede ser mayor a su Credito');
          this.tabPay = true;
        }else{
          this.tabPay = (this.tabUser || this.tabNumber);
        }
      }
    },
    formatPriceMoney(val){
      return MathData.formatPrice(val);
    },
    saveBetRaffle(){
      this.$bvModal.msgBoxConfirm('Seguro de Realizar la Transacción', {
        okTitle: 'Continuar>',
        cancelTitle: 'Cancelar', 
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true, 
        okVariant: 'danger', 
        hideHeaderClose: false, 
        buttonSize: 'lg', 
        title: 'Por favor Confirmar',
        okOnly: true,
        size: 'lg', 
        })
      .then(result => {
        if(result){
          this.btnDisabled = true;
          riffleService.saveRiffle(this.lotteryList, this.formData, this.client)
          .then(response => {
            this.btnDisabled = false;
            if(response.status == 200){
              this.$notify('error', 'Resultado de Proceso', response.data.error, { duration: 5000, permanent: false });
            }else if(response.status == 201){
              this.$notify('success', 'Resultado de Proceso', response.data.status, { duration: 5000, permanent: false });
              this.numberTicket = response.data.id;
              this.pushNumber = response.data.pushNumber;
              this.$refs['bv-modal-success'].show();
              this.dateBet = response.data.date;
              users.getDataUser()
              .then(result => {
                this.$store.state.balance =result.data.user.balance;
                this.$store.dispatch('setOperationAction', result.data.user.operation);
                this.$store.dispatch('setRoleAction', result.data.user.role);
                console.log("Desde Top")
              
              });
              //Reset
             
            }
            console.log(response)
          });
        }
      });
    },
    resetAllSave(){
      this.tabIndex = 1;
      this.tabNumber = true;
      this.tabUser = true;
      this.tabPay= true;
      this.totalRows = 20;
      this.lotterys = [];
      this.lotteryList = [];
      this.nameLottery = [];
      this.text = '';
      this.totalPay = 0;
      this.formData = [];
      this.setNumber();
      this.dataMounted();
    },
    eraseNumber(){
      this.formData = [];
      this.setNumber();
    },
    equalValue(){
      if(this.formData[0].cash.length > 0){
        for(let i in this.formData){
          if(this.formData[i].number.length > 0)
            this.formData[i].cash = this.formData[0].cash;
        }
        this.keyUpNumber();
      }else{
        this.$notify('error', 'Resultado', 'Debe Tener un Valor en el Primer Campo')
      }
    },
    closeWhatsapp(){
       this.resetAllSave();
    },
    validateLength(inp, index){
      if(inp.number.length < 3){
        this.$notify('error', 'Numbero', 'La longitud del numero debe ser de 3 a 4 ');
        this.showTab = false;
      }else{
        this.showTab = true;
      }
      
    }
  },
  
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap');  
  @media only screen and (max-width: 565px) {
  .inputSale{
  /*font-family: 'Big Shoulders Display', cursive;*/
  font-family: 'BenchNine', sans-serif;
  font-size:6vw
  }
  .inputSalep{
    font-family: 'BenchNine', sans-serif;
    font-size:6vw
  }
}
.borderTd{
  border-spacing: 0 !important;
}

.strong{
  font-weight: bold;
}
.sizeFont{
  font-family: 'BenchNine', sans-serif;
    font-size:3rem;
}
</style>