<template>
  <vue-perfect-scrollbar :settings="{ suppressScrollX: true, wheelPropagation: false }">
    <div class="pt-0 spaced-content pb-0">
      <b-input v-model="filter" placeholder="Nombre"></b-input>
      <b-table :fields="fields" :items="data" :filter="filter">
        <template #cell(title)="row">
          <a class="d-flex" href="#" @click="selectContact(row.item.id, row.item.title)">
            <avatar :username="row.item.title"></avatar>
            <div class="d-flex flex-grow-1 min-width-zero">
              <div class="pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                <div class="min-width-zero">
                  <p class=" mb-0 truncate"> {{ row.item.title }}</p>
                </div>
              </div>
            </div>
          </a>
        </template>
      </b-table>
    </div>
  </vue-perfect-scrollbar>
</template>

<script>
import Avatar from 'vue-avatar'
export default {
  props: ['data'],
  methods: {
    selectContact(userId, name) {
      this.$emit('selectContact', { id: userId, name: name })
    }
  },
  components: {
    Avatar
  },
  data() {
    return {
      fields: [
        { key: 'title', label: 'Nombre' }
      ],
      filter: ''
    }
  }
}
</script>
