<template>
  <b-container fluid>
    <b-overlay id="overlay-background" :show="load" :variant="variant" :opacity="opacity" :blur="blur" rounded="sm">
      <b-card-group deck>
        <b-card header-tag="Retirar Saldo a Usuario" footer-tag="footer" title="Retirar Saldo a Usuario">
          <div class="py-2 mx-4">
            Módulo para realizar descargas, por defecto no se aplicará ningun filtro.
          </div>
          <b-list-group>
            <b-list-group-item href="#">
              <span class="h5">1. Seleccionar Tipo de Usuario a Descargar Saldo</span>
              <b-form-select :options="typeUser" v-model="selectTypeUser" @change="getList"> </b-form-select>
            </b-list-group-item>
            <b-list-group-item href="#">
              <span class="h5">1. Seleccionar Usuario a Retirar Saldo</span>
              <model-select :options="options" v-model="selectUser"> </model-select>
            </b-list-group-item>
            <b-list-group-item href="#">
              <span class="h5">2. Ingresar Monto</span>
              <br>
              <FormatMoneyVue :v-model="amount" :options="{ currency: 'COP' }" @change="amount = $event"
                class="number-format" />
            </b-list-group-item>
            <b-list-group-item href="#">
              <b-button variant="primary" @click="saveCharge">
                <span class="iconsminds-save"></span>
                <span class="fs-3">Guardar</span>
              </b-button>
            </b-list-group-item>
          </b-list-group>
          <template #footer>
            <em v-if="$store.state.operation == 'Ilimitado'">Puede Realizar Recargas de Forma Ilimitada</em>
            <em v-else>El Valor Máximo de la Recarga no puede superar su Saldo ${{ formatPrice($store.state.balance)
            }}</em>
          </template>
        </b-card>
      </b-card-group>

    </b-overlay>
  </b-container>
</template>

<script>
import promotors from './../../store/modules/promotors';
import 'vue-search-select/dist/VueSearchSelect.css';
import { ModelSelect } from 'vue-search-select';

import recharge from './../../store/modules/recharge';
import users from "./../../store/modules/users";
import MathData from './../../helpers/math'
import moment from 'moment';
import FormatMoneyVue from '../Common/FormatMoney.vue';

export default {
  components: {
    ModelSelect, FormatMoneyVue
  },
  data() {
    return {
      typeUser: [
        {
          value: "-1",
          text: "Tod@s"
        },
        {
          value: "Promotor",
          text: "Promotor"
        },
        {
          value: "Vendedor",
          text: "Vendedor"
        }
      ],
      selectTypeUser: '-1',
      options: [],
      selectUser: '',
      amount: '',
      confirm: false,
      load: false
    }
  },
  methods: {
    getList() {
      this.options = [];
      promotors.getUserForRecharge(this.selectTypeUser)
        .then(response => {
          for (const data in response.data) {
            if (response.data[data].operation == 'Token')
              this.options.push({ value: response.data[data].id, text: `${response.data[data].name} ${response.data[data].document} - SALDO: ${response.data[data].balance}` });
          }
        })
        .catch(error => {

        });
    },
    saveCharge() {
      if (this.amount == null || this.selectUser == '') {
        this.$notify('error', 'Datos', 'Todos los Campos son Obligatorios', { duration: 3000, permanent: false });
        return false;
      }
      this.confirm = false;
      this.$bvModal.msgBoxConfirm('Seguro de Realizar el RETIRO de Saldo', { okTitle: 'Continuar', cancelTitle: 'Cancelar' })
        .then(result => {
          this.confirm = result;
          if (this.confirm) {
            //remove
            this.load = true;
            recharge.del(this.selectUser, this.amount)
              .then(response => {
                if (response.status == 201) {
                  this.selectUser = '';
                  this.amount = 0;
                  this.getList();
                  this.$notify('success', 'Resultado de Proceso', response.data, { duration: 3000, permanent: false });
                } else {
                  this.$notify('error', 'Resultado de Proceso', response.data, { duration: 3000, permanent: false });
                }
                this.load = false;
              });
          }
        });
    },
    loadDataUser() {
      users.getDataUser()
        .then(result => {
          this.$store.state.balance = result.data.user.balance;
          this.$store.dispatch('setOperationAction', result.data.user.operation);
          this.$store.dispatch('setRoleAction', result.data.user.role);
          console.log("from recharge")

        });
    },
    formatPrice(val) {
      return MathData.formatPrice(val);
    }
  },
  mounted() {
    this.getList();
    this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
  }
};
</script>

<style scoped>
.number-format {
  font-size: 1.4rem;
  width: 100%;
}
</style>
