<template>
  <div>
    <b-row>
      <b-colxx xxs="12">
        <piaf-breadcrumb heading="Nueva Mega Rifa" />
        <div class="separator mb-5"></div>
      </b-colxx>
    </b-row>

    <b-colxx xl="12" lg="12">
        <b-row>
            <b-col>
                <NewMega v-on:save="save"></NewMega>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <div class="separator mb-5"></div>
                <ListMegaVue ref="ls"></ListMegaVue>
            </b-col>
        </b-row>
      </b-colxx>
  </div>
</template>
<script>
import ListMegaVue from '../../../components/mega/ListMega.vue'
import NewMega from '../../../components/mega/NewMega.vue'
export default {
    components: {
        ListMegaVue,
        NewMega
    },
    methods: {
        save(){
            this.$refs.ls.load();
        }
    }
    
}
</script>
