<template>
  <div>
    <b-row>
      <b-colxx xxs="12">
      <h3 class="h3">Apuesta Mega Rifa</h3>
        <div class="separator mb-5"></div>
      </b-colxx>
    </b-row>

    <b-colxx xl="12" lg="12">
        <b-row>
            <b-col class="strong sizeFontTotal text-center">
            Total ${{format(form.total)}}
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-tabs content-class="mt-3" v-model="tabIndex">
                    <b-tab title="Seleccionar Juego" active>
                        <b-alert show variant="warning" v-if="msgError.length != ''">
                            {{msgError}}
                        </b-alert>
                        <div v-else>
                            <b-card 
                            v-for="(item, id) in lsPlay" :key="id"
                            >
                                <b-card-text>
                                    <h3>Juega el Día: {{item.date_play}}</h3>
                                    <h3>Nombre: {{item.namemega}}</h3>
                                    <h4>Loteria:  {{item.desc_lottery}}</h4> 
                                    <h4>Valor de Apuesta:  ${{format(item.value)}}</h4> 
                                    <h4>Premio:  ${{format(item.winner)}}</h4> 
                                </b-card-text>
                                <b-button block @click="selectPlay(item)" @mouseup="next" variant="primary">
                                    <h2>Jugar</h2>
                                </b-button>
                            </b-card>
                        </div>
                    </b-tab>
                    <b-tab title="Numeros a Jugar">
                        <b-row v-for="n in countNumbers" :key="n" class="py-1">
                            <b-col  class="inputSalep">
                                <input type="number" 
                                name="" 
                                id="" 
                                v-model="form.numbers[n]" 
                                placeholder="Ingrese Numero a Jugar"
                                class="inputSalep text-center form-control m-2"
                                max="4"
                                min="4"
                                @keyup="keyUpNumber(n)"
                                @change="keyUpNumberValidateUnique(form.numbers[n], n)"
                                :id="'dig'+n"
                                >
                                
                                <!-- <b-form-input 
                                v-model="form.numbers[n]" 
                                placeholder="Ingrese Numero a Jugar"
                                :formatter="formatterNumber"
                                class="inputSalep text-center form-control m-2"
                                max="4"
                                min="4"
                                @keyup="keyUpNumber"
                                @change="keyUpNumber"
                                 ></b-form-input> -->
                            </b-col>
                        </b-row>
                    </b-tab>
                    <b-tab title="Cliente" :disabled="tabUser != tabNumber" >
                        <list-client v-on:idClient="enableNext" :buttonNewClient="true"></list-client>
                    </b-tab>
                    <b-tab title="Resumen" :disabled="!form.total > 0" >
                        <p class="strong sizeFontResume">Cliente: {{form.name}}</p>
                        <p class="strong sizeFontResume">Juego Con Loteria: {{form.desc_lottery}}</p>
                        <p class="strong sizeFontResume">Nombre de Juego: {{form.namemega}}</p>
                        <div class="text-center sizeFontResume">
                            <p class="strong sizeFontResume">Números a Jugar</p>
                            <div v-for="(num, index) in form.numbers" :key="index" class="strong sizeFontResume py-2 border-bottom">
                                <b-row v-if="num != ''" class="strong sizeFontResume py-2">
                                    <b-col cols="4" class="text-right">{{num}}</b-col>
                                    <b-col cols="4">${{ format(form.value) }}</b-col>
                                    <b-col cols="4" class="text-left">
                                        <b-button @click="eraseNumber(index)">Eliminar</b-button>
                                    </b-col>
                                </b-row>
                            </div>
                        </div>
                        <b-row class="justify-content-center" v-if="$store.state.operation == 'Ilimitado' || parseFloat(form.value) <= parseFloat($store.state.balance) ">
                            <b-col align-self="center" cols="4" class="text-center" >
                                <b-button block variant="danger" class="fs-1" @click="save">
                                    Guardar
                                </b-button>
                            </b-col>
                        </b-row>
                        <b-row v-else>
                            <b-col clas="">
                                <b-alert show variant="warning">
                                    No tiene Saldo 
                                </b-alert>
                            </b-col>
                        </b-row>
                    </b-tab>
                </b-tabs>
            </b-col>
        </b-row>
        <div class="row text-center fixed-bottom py-3">
            <div class="col-6">
                <button class="btn btn-primary btn-block" v-on:click="tabIndex--" v-show="!tabIndex != 1">
                <span class="iconsminds-back-2"></span> Regresar
                </button>
            </div>
            <div class="col-6">
                <div >
                <button class="btn btn-primary btn-block" @click="next" id="btnNext" v-show="tabIndex < 3 && form.total > 0 && totalLength == true">
                    Siguiente
                    <span class="glyph-icon iconsminds-next-2"></span>
                </button>
                </div>
            </div>
        </div>
        <b-modal id="bv-modal-success" ref="bv-modal-success" hide-footer @hidden="closeWhatsapp">
            <template #modal-title>
                Resultado de Proceso
            </template>
            <TicketMegaVue :MegaStub="returnMegaStub" :MegaNumbers="returnMegaNumbers"></TicketMegaVue>
            <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-success')">Cerrar</b-button>
        </b-modal>
      </b-colxx>
  </div>
</template>

<script>
import Mega from "@/store/modules/Mega";
import math from "../../../helpers/math";
import listClient from "../../../components/Client/listClient.vue";
import TicketMegaVue from "./TicketMega.vue";
export default {
    components:{
        'list-client': listClient,
        TicketMegaVue
    },
    data(){
        return{
            totalLength: false,
            tabNumber: true,
            tabUser: true,
            tabPay: true,
            lsPlay: [],
            tabIndex: 0,
            position: 0,
            countNumbers: 20,
            form: {
                mega_raffle_id : null,
                desc_lottery: null,
                value : null,
                client_id : 1,
                name: 'Empresa',
                total : null,
                numbers: [''],
                namemega: ''
            },
            confirm: false,
            returnMegaStub: {
                id: 0,
                created_at: '',
                total: '',
                get_mega_raffle: {
                    id:0,
                    user_id:0,
                    date_play: "",
                    limit:"",
                    value:"",
                    winner:"",
                    status:"",
                    lottery_id:0,
                    created_at:"",
                    updated_at:"",
                    get_lottery:{
                        desc_lottery: ''
                    }
                }
            },
            returnMegaNumbers: [],
            msgError: ''
        }
    },
    methods: {
        load(){
            Mega.get()
            .then(response =>{
                if(response.status == 200){
                    this.lsPlay = response.data
                }else{
                   this.msgError = 'No tiene Privilegio para este Modulo...'; 
                }
            });
            
        },
        selectPlay(item){
            this.tabNumber = false;
            this.form.mega_raffle_id = item.id;
            this.form.value = item.value;
            this.form.desc_lottery = item.desc_lottery;
            this.form.namemega = item.namemega;
        },
        next(){
            this.tabIndex++;
        },
        enableNext: function(id, name) {
        this.form.name = name;
        this.form.client_id = id;
        this.tabIndex += 1;
        console.log(name)
        },
        format(value){
            return math.formatPrice(value);
        },
        keyUpNumber(evt){
            
            this.calcTotal();
            let id = 'dig' + evt;
            let input = document.getElementById(id);
            input.value = input.value.substring(0,4);
            if(input.value.length > 0 && input.value.length < 4)
                this.totalLength = false;
        },
        keyUpNumberValidateUnique(inputVal, n){
            let countRepeat = 0;
            let i = 1;
            for(i; i < n; i++ ){
                if(this.form.numbers[i] == inputVal){
                    countRepeat += 1;
                }
            }
            if(countRepeat >= 1){
                console.log('repetido')
                this.form.numbers[n] = '';
                focus = 'dig' + n;
                document.getElementById(focus).focus();
            }
            this.calcTotal();
        },
        calcTotal(){
            let count = 0;
            for(let value in this.form.numbers){
                if(this.form.numbers[value].length > 0){
                    count++;
                    if(this.form.numbers[value].length > 4){
                        this.totalLength = false;
                        this.form.numbers[value] = this.form.numbers[value].substring(0,4);
                    }   
                    this.totalLength = true;
                }
            }
            this.form.total = count * this.form.value;
            this.tabUser = this.form.total > 0 ? false : true;
        },
        formatterNumber(value){
            if(value.value != ''){
                return value.replace (/\D+/g, '').substring(0,4)
            }else{
                return value;
            }
        },
        validateLength(inp, index){
            if(inp.number.length < 3){
                this.$notify('error', 'Numbero', 'La longitud del numero debe ser de 3 a 4 ');
                this.showTab = false;
            }else{
                this.showTab = true;
            }
            
        },
        eraseNumber(index){
            this.form.numbers[index]= '';
            this.keyUpNumber();
        },
        save(){
            this.confirm = false;
            this.$bvModal.msgBoxConfirm('Seguro de GUARDAR', {okTitle: 'Continuar',cancelTitle: 'Cancelar', centered: true})
            .then(value => {
                this.confirm = value;
                if(this.confirm){
                    Mega.saveBetMega(this.form)
                    .then(response => {
                        if(response.status == 201) {
                            this.returnMegaStub = response.data[0];
                            this.returnMegaNumbers = response.data[1];
                            this.$refs['bv-modal-success'].show();
                        }else{
                             this.$bvModal.msgBoxOk(response.data.error, {
                                title: 'Error',
                                buttonSize: 'sm',
                                okVariant: 'danger',
                                variant: "danger",
                                okTitle: 'Continuar',
                                centered: true, size: 'sm'
                             })
                        }
                        console.log(response.data);
                    });   
                }
            })
        },
        closeWhatsapp(){
            this.load();
            this.lsPlay = [];
            this.tabIndex = 0;
            this.position = 0;
            this.countNumbers = 20;
            this.form = {
                mega_raffle_id : null,
                desc_lottery: null,
                value : null,
                client_id : 1,
                name: 'Empresa',
                total : null,
                numbers: ['']
            };
            this.tabNumber = true;
            this.confirm = false;
            this.returnMegaStub = {
                id: 3,
                created_at: '2022-08-10 22:34:06',
                total: '22000',
                get_mega_raffle: {
                    id:2,
                    user_id:1,
                    date_play: "2022-08-20",
                    limit:"9999",
                    value:"15000",
                    winner:"55000000",
                    status:"Activo",
                    lottery_id:33,
                    created_at:"2022-08-11T03:33:20.000000Z",
                    updated_at:"2022-08-11T03:33:20.000000Z",
                    get_lottery:{
                        desc_lottery: 'Risaralda'
                    }
                }
            };
            this.returnMegaNumbers = [];
            
        }
    },
    mounted() {
        this.load();
    },
    
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap');  
  @media only screen and (max-width: 565px) {
  .inputSale{
  /*font-family: 'Big Shoulders Display', cursive;*/
  font-family: 'BenchNine', sans-serif;
  font-size:6vw
  }
  .inputSalep{
    font-family: 'BenchNine', sans-serif;
    font-size:6vw
  }
}
.borderTd{
  border-spacing: 0 !important;
}

.strong{
  font-weight: bold;
}
.sizeFont{
  font-family: 'BenchNine', sans-serif;
    font-size:3rem;
}

.sizeFontTotal{
  font-family: 'BenchNine', sans-serif;
    font-size:2rem;
}
.sizeFontResume{
  font-family: 'BenchNine', sans-serif;
    font-size: 1.4rem;
}
</style>