<template>
  <b-container style="background-color: white">
    <div ref="imageDom" id="imageDom" v-show="view" >
        <b-row class="border" >
            <b-col sm="12" class="border borderWH border-primary">
                <strong>Fecha:</strong> {{MegaStub.created_at}}
            <br>
            <span class="h5 pb-2 mb-4 text-success border-bottom border-danger text-center">
                #Colilla: M{{MegaStub.id}}
            </span>
            </b-col>
        </b-row>
        <b-row class="border borderWH border-primary">
            <b-col sm="12 strong">
                Mega Rifa
            </b-col>
            <b-col sm="12">
            <span class="">Fecha de Juego: {{MegaStub.get_mega_raffle.date_play}}</span><br>
            <span class="">Nombre: {{MegaStub.get_mega_raffle.namemega}}</span><br>
            <span class="">Loteria: {{MegaStub.get_mega_raffle.get_lottery.desc_lottery}}</span>
            <!-- <span class="">Costo Individual: {{MegaStub.get_mega_raffle.value}}</span><br> -->
            </b-col>
        </b-row>
        <b-row class="border borderWH border-primary text-left" align-h="center">
            <b-col sm="12" class="text-left fw-bold strong">
                Números Jugados
            </b-col>              
            <div class="col-12">
                <b-row v-for="(number, i) in MegaNumbers" :key="i">
                    <b-col cols="6" class="algTextLeft border-bottom" >
                        <span>{{number}}</span>
                    </b-col>
                    <b-col cols="6">${{format(MegaStub.get_mega_raffle.value)}}</b-col>
                </b-row>
            </div>    
        </b-row>
        <b-row class="border borderWH border-primary bg-white">
            <b-col class="text-center"><span class="strong">Total:</span>${{format(MegaStub.total)}}</b-col>
        </b-row>
    </div>
    
       <!-- <b-button class="mt-3" v-show="view" block @click="send">Enviar</b-button> -->
    <div>
        <img src="" id="myImg" alt="" class="h-100 w-100">
        <!-- <b-img class="h-100 w-100" :src="output" id="image" ref="imgoutput"></b-img> -->
    </div>
    
  </b-container>
</template>

<script>
import math from '../../../helpers/math';
import html2canvas from 'html2canvas';

export default {
     components: {
        html2canvas,
    },
    props: {
        MegaStub: Object,
        MegaNumbers: Array,
    },
    data(){
        return{
            loadImg:false,
            output: null,
            textWhatsapp: '',
            view: true
        }
    },
    methods: {
        format(value){
            return math.formatPrice(value);
        },
        loadImageF(){
            setTimeout(function(){
            const options = {
                        width:  document.getElementById('imageDom').clientWidth,
                        height: document.getElementById('imageDom').clientHeight,
                        // imageTimeout: 0,
                        type: 'dataURL'
                        }
                        html2canvas(document.getElementById('imageDom'), options)
                        .then((canvas) =>{
                            document.getElementById("myImg").src = canvas.toDataURL('image/png');
                            //     this.view = false;
                            document.getElementById("imageDom").style.display = "none";
                                this.loadImg = !this.loadImg;
                                this.view = !this.view;
                            });
            }, 1000);
            
            
            },
        shareImg(){
          var imagen = document.getElementById('image').src;
          this.textWhatsapp = imagen
              
        },
        send(){
            
            this.loadImageF();
            
        }
    },
    mounted(){
        this.send();
    },
}
</script>

<style scoped>
.strong{
    font-weight: bold;
}

.bg-white{
    background-color: rgba(255, 255, 255, 0.533);
    opacity: 0.8;
}

.borderWH {
    border-width: 5px !important;
}
.algTextLeft{
    text-align: left !important;
}


</style>