<template>
  <container fluid>
    <b-card
    title="Mis Clientes"
    >
     <b-row>
      <b-col>
        <AllClients/>
      </b-col>
     </b-row>
    </b-card>
  </container>
</template>

<script>
import AllClients from './../../../components/Client/AllClients';
export default {
    components:{
        AllClients
    }

}
</script>

<style>

</style>