<template>
  <b-container fluid>
    <b-card>
      <b-row>
        <b-col cols="12" md="6" align-h="end">
          <h3 class="text-right text-black">Sistema de Escrutinio</h3>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <SelecDate title=""  v-bind:dd="today" v-on:input="today = $event" @input="changeDate"></SelecDate>
        </b-col> 
      </b-row>
      <b-row>
        <b-col cols="12" md="12">
          <b-card-text class="text-center">
          <p>
            El Sistema inicia el proceso de escrutinio de Forma Sincronica, puede realizar otra operación mientras termina el escrutinio
          </p>
          <h3>
            Ojo! No Cerrar la Ventana.
          </h3>
            
          </b-card-text>
        </b-col>
      </b-row>
      <b-row v-if="loadData">
        <b-col >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
      <b-row v-if="existScrutinyData">
        <b-col class="pt-5" v-if="!loadData">
          <b-button variant="danger" size="lg" block @click="generateScrutiny" :disabled="btnScrutinyData">
            Generar Escrutinio para el {{today}}
          </b-button>
        </b-col>
      </b-row>
      <b-row v-if="!existScrutinyData" justify-content-center>
        <b-col cols="6" cols-sm="12" class="bg-secondary text-center text-white align-middle py-3">
          Ya Existe Un Escrutinio - {{today}}
          <br>
          
        </b-col>
        <b-col cols="6" cols-sm="12" class="bg-secondary align-middle py-3">
          Para Eliminar Este Escrutinio es Necesario de Confirma; esta acción no es reversible
        </b-col>
        <b-col cols="6" cols-sm="12" class="align-middle p-4">

           <b-form-checkbox v-model="confirmDeleteScrutiny" name="check-button" switch size="lg" class="py-2">
            Confirmar para Eliminar Escrutinio
          </b-form-checkbox>

           <b-form-checkbox v-model="confirmDeleteScrutinyConfirm" name="check-button" switch size="lg" class="py-2">
             Reconconfirmar para Eliminar
          </b-form-checkbox>
         
        </b-col>
        <b-col cols="6" cols-sm="12" class=" align-middle py-3 text-center" >
            <div class="position-absolute top-50 start-50 translate-middle">
                <b-button variant="danger" @click="deleteScrutiny" v-if="confirmDeleteScrutinyConfirm && confirmDeleteScrutiny" :disabled="btnDisabled">Eliminar Escrutinio</b-button>
            </div>
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</template>

<script>
import scrutiny from "./../../store/modules/scrutiny";
import moment from "moment";
import SelecDate from './../Common/SelectDate';

export default {
  components: {
    SelecDate
  },
  data () {
    return {
      confirmSave : false,
      existScrutinyData : true,
      today: moment().format("YYYY-MM-DD"),
      loadData: false,
      confirmDeleteScrutiny: false,
      confirmDeleteScrutinyConfirm: false,
      btnDisabled: false,
      btnScrutinyData: false
    }
  },
  mounted() {
    this.existScrutiny();
    this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
  },
  methods: {
    generateScrutiny(){
      this.confirmSave = false;
       this.$bvModal
        .msgBoxConfirm("Seguro de GENERAR el Escrutinio !ojo! Acción Peligrosa", {
          modalClass: 'alert alert-danger',
          centered: true,
          okTitle: "Continuar",
          cancelTitle: "Cancelar",
        })
        .then((result) => {
          this.confirmSave = result;
          if(this.confirmSave){
            this.btnScrutinyData = true;
            scrutiny.generateScrutiny(this.today)
            .then((result) => {
              this.existScrutiny();
              this.btnScrutinyData = false;
            })
          }
        })
    },
    existScrutiny(){
      scrutiny.existScrutiny(this.today)
      .then((result) => {
        this.existScrutinyData = result.data > 0 ? false : true;
        this.loadData = false;
      })
    },
    sync(){
      this.existScrutiny();
    },
    changeDate(){
      this.loadData = true;
      this.sync();
    },
    deleteScrutiny(){
      this.btnDisabled = true;
      if(this.confirmDeleteScrutiny && this.confirmDeleteScrutiny){
        scrutiny.deleteScrutiny(this.today).then(response => {
          this.sync();
          this.btnDisabled = false;
          this.confirmDeleteScrutiny= false;
          this.confirmDeleteScrutinyConfirm= false;
        });
      }else{

      }
    }
  }
}
</script>

<style>

</style>