<template>
  <b-card>
    <b-card-title class="text-center strong">
      Lista de Colillas que han jugado el # {{numberPlayx}}
    </b-card-title>
    <div>
        <b-table
        striped 
        hover
        responsive
        :fields="fields"
        :items="options"
        >
        <template #cell(stub)="row">
           <b-button @click="getStub(row.item.stub)">
                {{(row.item.stub)}}
           </b-button>
        </template>
        </b-table>
    </div>

    <b-modal size="xl" id="bv-modal-success" ref="bv-modal-success" hide-footer>
      <template #modal-title>
        Detalle de Colilla - Buscar Número {{numberPlayx}}
      </template>
      <div class="d-block text-center">
            <b-table
            striped 
            hover
            responsive
            :fields="fieldsBets"
            :items="optionsBets"
            :tbody-tr-class="rowClass"
            >
             
            </b-table>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-success')">Cerrar</b-button>
    </b-modal>
  </b-card>
</template>

<script>
import scrutiny from './../../store/modules/scrutiny';
import moment from 'moment';
export default {
    props: {
        numberPlay: String,
        stubs: String,
        loadStubsP: Function
    },
    data(){
        return {
            fields: [
                {key: 'stub', label: '#Colilla', sortable: true},
                {key: 'promo', label: 'Promotor', sortable: true},
                {key: 'seller', label: 'Vendedor', sortable: true},
                {key: 'client', label: 'Cliente', sortable: true},
                {key: 'date', label: 'Fecha Vendedor', sortable: true},
                {key: 'total', label: 'Total', sortable: true},
            ],
            options: [],
            fieldsBets:[
                {key: 'number', label: 'numero', sortable: true},
                {key: 'right', label: 'Derecho', sortable: true},
                {key: 'combo', label: 'Combinado', sortable: true},
                {key: 'cradle', label: 'Cuña', sortable: true},
                {key: 'lottery', label: 'Loteria', sortable: true},lottery
            ],
            optionsBets: []

        }
    },
    methods: {
        loadStubs(){
            const st = '(' + this.stubs + ')';
            scrutiny.getStubsNumberPlayed(st)
            .then(result => this.options = result.data)
        },
        getStub(id){
            scrutiny.searchticket(id)
            .then(result => {
                this.optionsBets = result.data.dataBet;
                 this.$refs['bv-modal-success'].show();
            });
        },
        rowClass(item, type){
            if (!item || type !== 'row') return
            if (item.number == this.numberPlayx) return 'table-danger'
        },
    },
    computed:{
        numberPlayx: function () {
            this.loadStubs();
            return this.numberPlay;
        },
    },
    updated(){
    //    this.loadStubs(); 
    },
    mount() {
        this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
    },

}
</script>

<style scoped>
.strong {
    font-weight: bold;
}
</style>