<template>
  <b-container fluid>
    <b-card>
      <b-row>
        <b-col cols="12" align-h="end">
          <h3 class="text-center strong">Números Jugados en la Fecha {{today}}</h3>
        </b-col>
      </b-row>
      <b-row align-v="center">
        <b-col cols="12" md="4">
          <SelecDate title="Fecha"  v-bind:dd="today" v-on:input="today = $event" @input="loadLottery"></SelecDate>
        </b-col> 
         <b-col cols="12" md="4">
            <b-form-group
                label="Loterias"
                label-for="lottery_id"
                class="mb-0">
                <model-select
                id="lottery_id"
                :options="optionsLottery"
                v-model="selectedLottery"
                >
                </model-select>
                </b-form-group>
        </b-col>
        <b-col cols="12" md="4" align-self="center" class="pt-4">
          <b-button variant="primary" @click="searchNumberPlayed">
            Buscar
          </b-button>
        </b-col>
      </b-row>
      <b-row v-if="loadData" class="pt-4">
        <b-col >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
      <b-row class="pt-4 pb-3" v-if="totalRows > 0">
        <b-col cols="9">
          <b-form-input id="text" type="text" v-model="search" @keyup="searchNumber" placeholder="Buscar #"></b-form-input>
        </b-col>
        <b-col cols="3">
          <b-button @click="searchNumber">Buscar</b-button>
        </b-col>
      </b-row>
      <b-row class="pt-4 pb-3" v-if="totalRows > 0">
        <b-col sm="12" md="3" class="pb-2">
          <b-button v-on:click="ftNum('4')" block>4 Cifras</b-button>
        </b-col>
        <b-col sm="12" md="3" class="pb-2">
          <b-button v-on:click="ftNum('3')" block>3 Cifras</b-button>
        </b-col>
        <b-col sm="12" md="3" class="pb-2">
          <b-button v-on:click="ftNum('2')" block>2 Cifras</b-button>
        </b-col>
        <b-col sm="12" md="3" class="pb-2">
          <b-button v-on:click="ftNum('1')" block>1 Cifra</b-button>
        </b-col>
      </b-row>
      <b-row v-if="totalRows > 0">
        <b-col>
            <b-table 
            striped
            hover 
            :items="items" 
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filterNumber"
            :filter-included-fields="filterOn"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            responsive
            bordered
            table-variant="primary"
            sticky-header
            >
            <template #cell(number)="row">
              <b-button v-on:click="loadModal(row.item.stub_id, row.item.number)" class="text-strong">
                {{(row.item.number)}}
              </b-button>
            </template>
            <template #cell(sum)="row">
              {{formatPriceMoney(row.item.sum)}}
            </template>
            <template #cell(count)="row">
              {{countBets(row.item.ids)}}
            </template>
            </b-table>
        </b-col>
      </b-row>
      <b-row v-if="!loadData && totalRows > 0">
        <b-col>
          <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
        </b-col>

      </b-row>
       <b-modal size="xl" id="modalbasic" ref="modalbasic" title="Collilas Jugadas" >
          <b-row>
          <b-col>
            <listStubsNumbersPlayed :numberPlay="numberPlay" :stubs="idsListString" ref="listStubsNumbersPlayed" :loadStubsP="loadDataChild"></listStubsNumbersPlayed>
          </b-col>
          </b-row>
          <template slot="modal-footer">
              <b-button variant="primary" @click="hideModal('modalbasic')">Cerrar</b-button>
          </template>
        </b-modal>


        <b-modal id="bv-modal-success" ref="bv-modal-success" hide-footer>
      <template #modal-title>
        Detalle de Colilla
      </template>
      <div class="d-block text-center">
        <whatsapp 
        no-enforce-focus=true 
        :pushNumber="pushNumber" 
        :nameLottery="nameLottery" 
        :numberTicket="numberTicket" 
        :totalToPay="totalToPay" 
        :dateBet="dateBet"
        ></whatsapp>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-success')">Cerrar</b-button>
    </b-modal>


    </b-card>
  </b-container>
</template>

<script>
import moment from "moment";
import scrutiny from './../../store/modules/scrutiny';
import MathData from './../../helpers/math';
import 'vue-search-select/dist/VueSearchSelect.css';
import { ModelSelect } from 'vue-search-select';
import award from './../../store/modules/award';
import whatsapp from '../Common/whatsapp';
import listStubsNumbersPlayed from "./listStubsNumbersPlayed";
import SelecDate from './../Common/SelectDate';

export default {
  components: {
    ModelSelect,
    whatsapp,
    listStubsNumbersPlayed,
    SelecDate
  },
  data () {
    return {
      search: '',
      loadData: false,
      today: moment().format("YYYY-MM-DD"),
      fields: [
        {key: 'number', label: 'Numero', sortable: true},
        {key: 'right', label: 'Total', sortable: true},
        {key: 'length', label: 'Cifras', sortable: true},
      ],
      items: [],
      currentPage: 1,
      totalRows: 0,
      perPage: 10,
      numberPlayedToday: [],
      sortDesc: true,
      sortDirection: 'desc',
      filterNumber: '',
      filterOn: ['length', 'number'],
      sortBy: 'right',
      sortDesc: true,
      optionsLottery: [],
      selectedLottery: '',
      idsList: [],
      nameLottery : [],
      pushNumber : [],
      numberTicket : '',
      totalToPay : '',
      dateBet : '',
      numberPlay: 0,
      idsListString: ''
    }
  },
  mounted() {
    this.loadLottery();
    this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
  },
  methods: {
    searchNumberPlayed(){
      this.loadData = true;
      this.items = [];
      scrutiny.getNumbersPlayed(this.today, this.selectedLottery)
      .then(result => {
        this.loadData = false;
        if(result.status == 202){
            this.$notify('error', 'Resultado de Proceso', result.data.lottery_id[0], { duration: 5000, permanent: false });
            return 0;
        }
        this.totalRows = result.data.length;
        this.items = result.data;
        
      });
    },
    countBets(val){
      const con = val.split(",");
      return con.length;
    },
    formatPriceMoney(val){
      return '$' + MathData.formatPrice(val);
    },
    ftNum(val){
      this.filterOn = ['length'];
      this.filterNumber = val;
      this.currentPage = 1;
     
    },
    searchNumber(){
      this.filterOn = ['number'];
      this.filterNumber = this.search;
      this.currentPage = 1;
    },
    loadLottery(){
      this.optionsLottery = [];
      scrutiny.getLotteryDate(this.today)
      .then(result => this.optionsLottery = result.data);
    },
    loadModal(ids, num){
      this.numberPlay = num;
      this.idsListString = ids;
      // this.$refs.listStubsNumbersPlayed.loadStubs();
      this.$refs['modalbasic'].show();
    },
    loadDataChild(){

    },
    hideModal (refname) {
      this.$refs[refname].hide()
    },
    prepareWhatsApp(idStub){
      award.prepareWh(idStub)
      .then(result => {
        this.nameLottery = result.data['nameLottery'];
        this.pushNumber = result.data['pushNumber'];
        this.numberTicket = idStub;
        this.totalToPay = result.data['totalToPay'];
        this.dateBet = result.data['dateBet'];
        this.$refs['bv-modal-success'].show();
      }) 
  },
  }
}
</script>

<style scoped>
.strong{
 font-weight: bold;
}
.text-strong{
  font-size: 1em;
}
</style>