<template>
  <b-container fluid>
    <b-card>
      <b-row>
        <b-col style="text-align: center;">
          <h3 class="text-right text-black strong"  style="text-align: center;">Resultados del Día</h3>
        </b-col>
        
      </b-row>
      <b-row>
        <b-col>
          <h3 class="strong">Fecha de Hoy: {{ today }}</h3>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <SelecDate title=""  v-bind:dd="today" v-on:input="today = $event"></SelecDate>
        </b-col>
        
      </b-row>
      <b-row class="py-4" v-if="!loading">
        <b-col>
          <b-button block @click="loadDataInputs">
            Buscar
            <span class="simple-icon-reload"></span>
          </b-button>
        </b-col>
      </b-row>
      <b-row v-if="loading" class="py-3">
        <div class="d-flex justify-content-center text-center mb-3">
          <strong>Cargando...</strong>
          <b-spinner class="ml-auto"></b-spinner>
        </div>
      </b-row>
      <b-row class="my-1" v-if="!loading">
        <b-col
          sm="12"
          md="4"
          lg="3"
          xl="2"
          v-for="result in results"
          :key="result.id"
        >
          {{ goModel(result.id, result.result, result.lottery) }}
          <b-form-group
            :label="result.desc_lottery"
            label-for="input-lazy"
            :description="'Sorteo: ' + form[result.id].lottery.toString()"
            class="mb-0 strong"
          >
            <b-form-input
              id="input-default"
              placeholder="0"
              type="number"
              v-model="form[result.id].number"
              :formatter="format"
              class="strong size-table"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row v-if="!loading && results.length > 0">
        <b-button @click="saveResults">
          <span class="iconsminds-save"></span>
          Guardar / Actualizar
        </b-button>
      </b-row>
    </b-card>

    <b-card class="mt-3">
      <b-row>
        <b-col cols="12" md="8" align-h="center">
          <h3 class="text-right text-black strong">Resultados de la Fecha {{ today }}</h3>
        </b-col>
      </b-row>
      <b-row>
        <b-table 
        responsive 
        :fields="fields" 
        :items="items"
        hover
        class="strong size-table"
        ></b-table>
      </b-row>
    </b-card>
  </b-container>
</template>
<script>
import scrutiny from "./../../store/modules/scrutiny";
import lotteryResult from "./../../store/modules/lotteryResult";
import moment from "moment";
import SelecDate from './../Common/SelectDate'

export default {
  components: {
    SelecDate
  },
  data() {
    return {
      ResultDate: '',
      results: [],
      form: [],
      dataSave: [],
      loading: false,
      confirmSave: false,
      today: moment().format("YYYY-MM-DD"),
      fields: [
        { key: 'id', label: 'ID'},
        { key: 'lottery_date', label: 'Fecha'},
        { key: 'name_lottery', label: 'Loteria'},
        { key: 'number', label: 'Numero'},
        { key: 'series', label: 'Serie'},
        { key: 'draw_number', label: 'Sorteo'},
      ],
      items: []
    };
  },
  validations(){
    return {
      
    }
  },
  mounted() {
     this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
    //  this.loadDataInputs();
  },
  methods: {
    loadData() {
      this.loading = true;
      scrutiny.getValues(this.today).then((result) => {
        console.log(result.data);
        this.results = [];
        this.results = result.data;
        this.loading = false;
      });
    },
    getLottedResult() {
      lotteryResult.getLotteryResult(this.today).then((result) => {
        this.items = result.data;
        console.log(result);
      });
    },
    loadDataInputs(){
      if(this.today == ''){
        this.$notify(
          "warning",
          "Resultado de Proceso",
          'Debe Seleccionar Una Fecha',  
          { 
            duration: 3000, 
            permanent: false
          });
      }else{
        this.form = [];
        this.loadData();
        this.getLottedResult();
      }
    },
    goModel(val, result, id) {
      if (result != null) {
        this.form[val] = {
          lottery_id: id,
          number: result.numero.toString(),
          serie: result.serie,
          lottery: result.sorteo,
          sign: result.desSigno,
          lottery_date: this.today
        };
      } else {
        this.form[val] = {
          lottery_id: id,
          number: "0",
          serie: "0",
          lottery: "0",
          sign: "",
          lottery_date: this.today
        };
      }
    },
    saveResults2() {
      console.log(this.form)
    },
    saveResults() {
      this.confirmSave = false;
      this.$bvModal
        .msgBoxConfirm("Seguro de GUARDAR Los Resultados! - SI EXISTE ALGUN ESCRUTINIO ESTE SERÁ ELIMINADO DE FORMA DEFINITIVA", {
          size: 'lg',
          centered: true,
          modalClass: 'alert alert-danger',
          okTitle: "Continuar>",
          cancelTitle: "Cancelar",
        })
        .then((result) => {
          this.confirmSave = result;
          if (this.confirmSave) {
            console.log(this.form);
            lotteryResult.setLotteryResult(this.form).then((result) => {
              if (result.status == 200) {
                this.$notify(
                  "error",
                  "Resultado de Proceso",
                  "No se ha Realizado Ningun Proceso",
                  { duration: 3000, permanent: false }
                );
              } else if (result.status == 201) {
                //
                this.$notify(
                  "success",
                  "Resultado de Proceso",
                  "Se ha Guardado Los Resultados",
                  { duration: 3000, permanent: false }
                );
                this.getLottedResult();
              } else if (result.status == 202) {
                this.$notify(
                  "success",
                  "Resultado de Proceso",
                  "Se ha Actualizado Los Resultados",
                  { duration: 3000, permanent: false }
                );
                this.getLottedResult();
              }
            });
          }
        })
        .catch((error) => {});
    },
    format(value){
      if(value.length <=4){
        return value;
      }else{
        return value.substring(0,4)
      }
    }
  },
};
</script>

<style scoped>
.strong{
  font-weight: bold;
}
.size-table{
  font-size: 1.1rem;
}
</style>
