<template>
    <b-container fluid>
      <b-card>
        <b-row>
          <b-col cols="12" md="12">
            <h3 class="text-right card-title text-center strong">Ventas por Fechas MEGARIFAS.</h3>
          </b-col>
         
        </b-row>
        <b-row class="pt-3">
          <b-col cols="12" md="3">
            <div>
              <SelecDate title="Desde"  v-bind:dd="dateStart" v-on:input="dateStart = $event"></SelecDate>
              <div class="mt-2">Campo Obligatorio</div>
            </div>
            
          </b-col>
          <b-col cols="12" md="3">
            <div>
              <SelecDate title="Hasta"  v-bind:dd="dateEnd" v-on:input="dateEnd = $event"></SelecDate>
              <div class="mt-2">Campo Obligatorio</div>
            </div>
            
          </b-col>
          
          <b-col class="pt-4">
            <b-button variant="primary" block @click="searchData" >
            <span class="simple-icon-magnifier"></span>
            Buscar
            </b-button>
          </b-col>
        </b-row>
        <b-row v-if="loadData">
          <b-col >
            <div class="d-flex justify-content-center text-center mb-3">
              <strong>Cargando...</strong>
              <b-spinner class="ml-auto"></b-spinner>
            </div>
          </b-col>
        </b-row>
        
        <b-row class="py-5" v-if="total > 0">
          <b-col>
            <b-card title="Total Bruto" bg-variant="primary" text-variant="white" class="text-center">
              {{formatNumber(total)}}
            </b-card>
          </b-col>
          <b-col>
             <b-card title="Total Neto" bg-variant="success" text-variant="white" class="text-center">
              {{formatNumber(netTotal)}}
            </b-card>
          </b-col>
          <b-col>
             <b-card title="Premiación" bg-variant="danger" text-variant="white" class="text-center">
              {{formatNumber(winTotal)}}
            </b-card>
          </b-col>
          <b-col>
             <b-card title="Total"  text-variant="white" class="text-center" style="background: #949fa8;">
              {{formatNumber(totalN)}}
            </b-card>
          </b-col>

          <b-col cols="12">
            <b-form-group 
            label="Hijos"
            label-for="user_id"
            description="Usuarios Dependientes"
            class="mb-0">
            <model-select 
            id="user_id"
            :options="users"
            v-model="selectUser"
            >
            </model-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row class="pt-3">
          <b-col>
              <b-table 
              striped hover 
              :items="items" 
              :fields="fields"
              :current-page="currentPage"
              :tbody-tr-class="rowClass"
              :per-page="perPage"
              responsive
              :filter="selectUser"
              :filter-included-fields="fullnameFilter"
              @filtered="vFilter"
              >
              <template #cell(id)="row">
                <b-button variant="primary" @click="searchMega(row.item)">M{{row.item.id}}</b-button>
            </template>
              <template #cell(numbers)="row">
                <div class="border border-primary rounded-2 text-center" v-for="(dataMegaNum, indexNumMega) in separateNumber(row.item.numbers)" :key="indexNumMega">
                    {{dataMegaNum}}
                </div>
            </template>
            <template #cell(status)="row">
              {{ row.item.status == 'Activo' ? 'Activo' : 'Eliminado'}}
            </template>
              <template #cell(date)="row">
                {{transformDate(row.item.created_at)}}
            </template>
              </b-table>
          </b-col>
        </b-row>
        <b-row v-if="totalRows > 0">
          <b-col>
            <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
          </b-col>
        </b-row>
  
      </b-card>
      <b-modal id="bv-modal-success-mega" ref="bv-modal-success-mega" hide-footer>
        <template #modal-title>
            Resultado de Proceso
        </template>
        <TicketMegaVue :MegaStub="returnMegaStub" :MegaNumbers="returnMegaNumbers"></TicketMegaVue>
        <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-success-mega')">Cerrar</b-button>
    </b-modal>
    </b-container>
  </template>
  
  <script>
  import 'vue-search-select/dist/VueSearchSelect.css';
  import { ModelSelect } from 'vue-search-select';
  import sale from '../../store/modules/sale';
  import moment from 'moment';
  import MathData from '../../helpers/math';
  import SelecDate from './../Common/SelectDate'
  import { pushParams } from 'vuelidate/lib/params';
  import TicketMegaVue from '../../views/app/mega/TicketMega.vue';
  import Mega from '../../store/modules/Mega';

  
  export default {
      components: {
        ModelSelect,
        SelecDate,
        TicketMegaVue
      },
      data(){
          return {
              dd: '',
              listUser: [],
              selectUser: null,
              total: 0,
              netTotal: 0,
              winTotal: 0,
              items: [],
              fields: [
                  {key: 'id', label: 'Colilla'},
                  {key: 'fullname', label: 'Promotor'},
                  {key: 'client', label: 'Cliente'},
                  {key: 'numbers', label: 'Números Jugados'},
                  {key: 'total', label: 'Total', formatter:"formatNumber"},
                  {key: 'win', label: 'Premio', formatter:"formatNumber"},
                  { key: 'date', label: 'Fecha'},
                  {key: 'status', label: 'Estado'},
              ],
              selectMonth: [],
              isSelectMonth: 0,
              dateStart: moment().format('YYYY-MM-DD'),
              dateEnd: moment().format('YYYY-MM-DD'),
              number: '',
              loadData: false,
              isBusy: false,
              totalRows: 1,
              currentPage: 1,
              perPage: 10,
              totalN: 0,
              users:[],
              returnMegaStub: {
                id: 0,
                created_at: '',
                total: '',
                get_mega_raffle: {
                    id:0,
                    user_id:0,
                    date_play: "",
                    limit:"",
                    value:"",
                    winner:"",
                    status:"",
                    lottery_id:0,
                    created_at:"",
                    updated_at:"",
                    get_lottery:{
                        desc_lottery: ''
                    }
                }
            },
            returnMegaNumbers: [],
              
          }
      },
      mounted(){
        this.searchData();
        this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
      },
      methods:{
        searchData(){
          const data = {
            'loterry_id': this.selectLottery,
            'months' : this.dateStart,
            'number' : this.number
          }
          if(this.dateStart != null &&  this.dateEnd != ''){
            this.items = [];
            this.loadData = true;
            //send data to server
            let user = JSON.parse(localStorage.getItem("user"));
            let megaraffle = (100 - parseFloat(user.megaraffle))/100;
            sale.getSaleRangeDateMega(this.dateStart, this.dateEnd)
            .then(response => {
              let dataMega = response.data.data;
              this.items = dataMega;
              this.total = parseFloat(response.data.total);
              this.totalRows = dataMega.length;
              let arrayUsers = [];
              let arrayUsersProm = [];
              //----
              let netTemp = 0;
              //----
              for(let item in dataMega){
                console.log(item);
                if(dataMega[item].status == 'Activo')
                  netTemp += parseFloat(dataMega[item].total) * this.calculatePercentage(dataMega[item].megaraffle);

                if(user.role == 'Promotor'){
                  this.fullnameFilter = 'fullname';
                  if(!arrayUsers.includes(dataMega[item].fullname)){
                    this.users.push({
                      'value': dataMega[item].fullname,
                      'text': dataMega[item].fullname 
                    })
                    arrayUsers.push(dataMega[item].fullname);
                  }

                }else{
                  this.fullnameFilter = 'pather_fullname';
                  if(!arrayUsersProm.includes(dataMega[item].pather_fullname)){
                    this.users.push({
                      'value': dataMega[item].pather_fullname,
                      'text': dataMega[item].pather_fullname 
                    })
                    arrayUsersProm.push(dataMega[item].pather_fullname);
                  }
                }




              }
            
              this.netTotal = netTemp;
              this.winTotal = response.data.win;
              this.totalN = this.netTotal - this.winTotal;
              this.loadData = false;
            });
            
          }else{
            this.$bvModal.msgBoxOk('Los Campos Son Obligatorios', {
            title: 'Información del Sistema',
            size: 'lg',
            buttonSize: 'lg',
            okVariant: 'danger',
            headerClass: 'p-2 border-bottom-0',
            footerClass: 'p-2 border-top-0',
            centered: true
          });
          }
        },
        formatNumber(val){
          return `$${MathData.formatPrice(val)}`;
        },
        calculateTotal(x, y){
          return parseFloat(x) - parseFloat(y);
        },
        rowClass(item, type){
              if (!item || type !== 'row') return
              if (item.status != 'Activo') return 'table-danger'
        },
        calculatePercentage(val){
          return (100 - parseFloat(val))/100
        },
        vFilter(dataMega){
          let totalTemp = 0;
          let netTemp = 0;
          let winTemp = 0;
          
          for(let item in dataMega){
                if(dataMega[item].status == 'Activo'){
                  totalTemp += parseFloat(dataMega[item].total);
                  netTemp += parseFloat(dataMega[item].total) * this.calculatePercentage(dataMega[item].megaraffle);
                  winTemp += parseFloat(dataMega[item].win);
                }
              }
              this.total = totalTemp;
              this.netTotal = netTemp;
              this.winTotal = winTemp;
              this.totalN = this.netTotal - this.winTotal;
        },
        transformDate(date){
            const dateSec = date.split(' ');
            const text = dateSec[0] + "  Hora:" +  dateSec[1];
            return text;
        },
        separateNumber(val){
            return val.split(',');
        },
        searchMega(dataRowMega){
            Mega.searchMega(dataRowMega.id)
            .then(response => {
                if(response.status == 200){
                    this.returnMegaStub = response.data[0];
                    this.returnMegaNumbers = response.data[1];
                    this.$refs['bv-modal-success-mega'].show();
                }else{
                    this.$notify('error', 'Error', response.data.error, { duration: 4000, permanent: false });
                }
            });
        }
      }
      
  };
  </script>
  
  <style scoped>
  .strong {
    font-weight: bold;
  }
  
  </style>