<template>
  <b-container fluid>
    <b-card>
    <b-row>
        <b-col cols="12" md="12" align-h="end" class="text-center fw-bold">
            <b-card-title>
                ..Ventas Detalladas Usuario: <span style="font-weight: bold;">{{role}}..</span>
          </b-card-title>
        </b-col>
    </b-row>
        <b-row>
            <b-col>
               <div>
                   <b-form-group
                    label="Rol"
                    label-for="role"
                    description="Rol a Consultar"
                    class="mb-0 strong">
                    <b-form-select
                    id="role"
                    :options="listRole"
                    v-model="role"
                    @change="loadUser">
                    </b-form-select>
                   </b-form-group>
                </div> 
            </b-col>
            <b-col>
                <div>
                    <b-form-group
                    :label="role"
                    label-for="user_id"
                    description="Usuarios Dependientes"
                    class="mb-0 strong">
                    <model-select
                    id="user_id"
                    :options="listUser"
                    v-model="selectUser"
                    >
                    </model-select>
                    </b-form-group>
                    <div class="mt-2">Campo Obligatorio</div>
                </div>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="col-6">
                <SelecDate title="Desde"  v-bind:dd="dateStart" v-on:input="dateStart = $event"></SelecDate>
            </b-col>
            <b-col class="col-6">
                <SelecDate title="Hasta"  v-bind:dd="dateEnd" v-on:input="dateEnd = $event"></SelecDate>
            </b-col>
            <b-col>
                <b-button variant="primary" block class="mb-2" @click="loadSaleForUsers">
                    Consultar
                </b-button>
            </b-col>
        </b-row>
         <b-row v-if="loadData">
        <b-col >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
    </b-card>
    <b-card class="mt-3" v-if="totalSale > 0">
    <b-card-title class="strong">Resumen</b-card-title>
        <b-row>
            <b-colxx xl="3" lg="6" class="mb-4">
                <b-card bg-variant="primary" text-variant="white" header="Total Vendido Bruto" class="text-center">
                    <b-card-text class="fs-3 strong">{{formatPrice(totalSale)}}</b-card-text>
                </b-card>
            </b-colxx>
            <b-colxx xl="3" lg="6" class="mb-4">
                <b-card bg-variant="success" text-variant="white" header="Total Vendido Neto" class="text-center">
                    <b-card-text class="fs-3 strong">{{formatPrice(totalN)}}</b-card-text>
                </b-card>
            </b-colxx>
             <b-colxx xl="3" lg="6" class="mb-4">
                <b-card bg-variant="danger" text-variant="white" header="Total Premios" class="text-center">
                    <b-card-text class="fs-3 strong">{{formatPrice(totalWin)}}</b-card-text>
                </b-card>
            </b-colxx>
            <b-colxx xl="3" lg="6" class="mb-4">
                <b-card  style="background-color: #949fa8;" text-variant="white" header="Total" class="text-center">
                    <b-card-text class="fs-3 strong">{{formatPrice(totalN - totalWin)}}</b-card-text>
                </b-card>
            </b-colxx> 
        </b-row>
    </b-card>
    <b-card class="mt-3" v-if="mySale.length > 0">
        <b-card-title class="strong">Ventas Realizadas por Usuario</b-card-title>
        <b-row>
            <b-table striped hover :fields="fieldsSale" :items="mySale" responsive>
                <template #cell(client)="row">
                    {{row.item.client + ' / ' + row.item.client_phone }}
                </template>
                <template #cell(id)="row">
                    <b-button variant="primary" v-on:click="showTicket(row.item.id)">
                    {{row.item.id}}
                    </b-button>
                </template>
                <template #cell(total)="row">
                       {{formatPrice(row.item.total)}}
                </template>
                <template #cell(winner)="row">
                <b-td :variant="row.item.win >=0 ? 'success' : 'danger'">
                       {{formatPrice(row.item.win)}}
                </b-td>
                </template>
                <template #cell(pather)="row">
                    {{row.item.pather.name}} / {{row.item.pather.document}}
                </template>
            </b-table>
        </b-row>
       
    </b-card>
    
    
    <b-card class="mt-3" v-if="sons.length > 0">
       
        <b-card-title class="strong">Ventas Realizadas por Usuarios Hijos</b-card-title>
        <b-row>
            <b-table striped hover :fields="fieldsSale" :items="sons" responsive table-variant="info">
                 <template #cell(client)="row">
                    {{row.item.client + ' / ' + row.item.client_phone }}
                </template>
                <template #cell(id)="row">
                    <b-button variant="primary" v-on:click="showTicket(row.item.id)">
                    {{row.item.id}}
                    </b-button>
                </template>
                <template #cell(total)="row">
                       {{formatPrice(row.item.total)}}
                </template>
                <template #cell(winner)="row">
                    <b-td variant="danger">
                        {{formatPrice(row.item.win)}}
                    </b-td>
                </template>
                <template #cell(pather)="row">
                    {{row.item.pather.name}} / {{row.item.pather.document}}
                </template>
            </b-table>
        </b-row>
       
    </b-card>
    <b-card v-if="dataRaffle.length > 0">
    <b-row>
        <b-col>
            <span class="h3">Rifas</span>
        </b-col>
    </b-row>
         <b-row>
            <b-col>
                <b-table striped hover :fields="fieldsSale" :items="dataRaffle" responsive>
                <template #cell(winner)="row">
                <b-td :variant="row.item.winner >=0 ? 'success' : 'danger'">
                       {{formatPrice(row.item.winner)}}
                </b-td>
                </template>
                </b-table>
            </b-col>
        </b-row>
    </b-card>

     <b-modal ref="my-modal" hide-footer title="Tiquete" scrollable>
      <div class="d-block text-center">
      </div>
      <whatsapp 
        no-enforce-focus=true 
        :pushNumber="pushNumber" 
        :nameLottery="nameLottery" 
        :numberTicket="numberTicket" 
        :totalToPay="totalToPay" 
        :dateBet="dateBet"
        ></whatsapp>
    </b-modal>

  </b-container>
</template>

<script>
import users from './../../store/modules/users';
import 'vue-search-select/dist/VueSearchSelect.css';
import { ModelSelect } from 'vue-search-select';
import closing from './../../store/modules/closing';
import MathData from './../../helpers/math';
import moment from 'moment';
import eye from './../Common/eye'
import whatsapp from './../Common/whatsapp';
import SelecDate from './../Common/SelectDate'
export default {
    components: {
      ModelSelect,
      eye,
      whatsapp,
      SelecDate
    },
    data () {
        return {
            listUser: [],
            selectUser: null,
            dateStart: moment().format('YYYY-MM-DD'),
            dateEnd: moment().format('YYYY-MM-DD'),
            mySale: [],
            sons: [],
            totalSale: 0,
            totalN: 0,
            totalWin: 0,
            fieldsSale:[
                { key: 'id', label: '#', sortable: true, class:"text-center"},
                { key: 'seller', label: 'Vendedor', sortable: true, class:"text-center"},
                { key: 'pather', label: 'Padre', sortable: true, class:"text-center"},
                { key: 'client', label: 'Cliente', sortable: true, class:"text-center"},
                { key: 'total', label: 'Total', sortable: true, class:"text-center"},
                { key: 'created_at', label: 'Fecha', sortable: false, class:"text-center", formatter:"formatDate"},
                { key: 'winner', label: 'Premios', sortable: false, class:"text-center"},
            ],
            viewSon: true,
            listRole : ['Promotor', 'Vendedor'],
            role: 'Promotor',
            pushNumber: [],
            nameLottery: [],
            numberTicket: 0,
            totalToPay: 0,
            dateBet: '',
            dataRaffle: [],
            loadData: false
        }
    },
    mounted(){
        this.loadUser();
        //Add Admin
        if(this.$store.state.role == 'Administrador')
            this.listRole.push('Administrador');
    },
    methods: {
        loadUser(){
           this.listUser = [];
           users.getUsers(this.role)
           .then(response => {
               const users = response.data;
                for(const i in users){
                    this.listUser.push({value: users[i].id, text: `${users[i].name} : ${users[i].document}`});
                }
           })
        },
        loadSaleForUsers(){
            this.loadData = true;
            this.mySale= [];
            this.totalSale = 0;
            this.totalN = 0;
            this.totalWin = 0;
            this.sons = [];
            this.dataRaffle = [];
            closing.dataClosing(this.selectUser, this.dateStart, this.dateEnd)
            .then(response => {
                this.loadData = false;
                if(response.status == 202){
                    this.$bvModal.msgBoxOk(response.data.error.userId, {
                    title: 'Información del Sistema',
                    size: 'md',
                    buttonSize: 'lg',
                    okVariant: 'warning',
                    headerClass: 'p-2 border-bottom-0',
                    footerClass: 'p-2 border-top-0',
                    centered: true
                    });
                    return 0;
                }
                const data = response.data;
                this.mySale =data.mySale;
                this.sons = data.sons;
                this.totalSale = data.resume.total;
                this.totalN = data.resume.totalN;
                this.totalWin = data.resume.win;
                for(let valRaffle in data.raffles){
                    this.dataRaffle.push(data.raffles[valRaffle]);
                }
              
            }).catch(error => {

            })
        },
        formatPrice(value) {
            return '$'+MathData.formatPrice(value);
        },
        getWinner(values){
            let win = 0;
            for(const vl in values) {
                if( values[vl].winner.length > 0 )
                win += values[vl].winner.right + values[vl].winner.combo + values[vl].winner.cradle + values[vl].winner.figure;
            }
            this.totalWin += win;
            return win;
        },
        sumTotalSale(values){
            this.totalSale += parseFloat(values);
        },
        sonOfSons(sonData){
            for(const i in sonData){
                    const userSon = sonData[i];
                    for(const is in userSon.stubs){
                        console.log(userSon.stubs[is])
                        this.sons.push({
                            'id': userSon.stubs[is].id,
                            'client' : userSon.stubs[is].client,
                            'total' : userSon.stubs[is].total,
                            'created_at' : userSon.stubs[is].created_at,
                            'bets' : userSon.stubs[is].bets,
                        });
                    }
                    
                }
        },
        viewSonFn(){
            this.viewSon = !this.viewSon;
            console.log(this.viewSon)
        },
        showTicket(id){
            closing.getStubForTicket(id)
            .then(response =>{
                this.pushNumber = response.data.pushNumber;
                this.nameLottery = response.data.nameLottery;
                this.numberTicket = id;
                this.totalToPay = response.data.totalToPay;
                this.dateBet = response.data.dateBet;
                this.$refs['my-modal'].show()
            });
        },
        formatDate(val){
            const dateTime = val.split(' ');
            return `Fecha: ${dateTime[0]}\n Hora: ${dateTime[1]}`;
        }
    }
}
</script>

<style scoped>
.strong{
  font-weight: bold;
}
</style>