<template>
  <b-container fluid>
    <b-card>
      <b-row>
        <b-col cols="12" md="12" align-h="end" class="text-center fw-bold">
          <b-card-title class="strong">
              Ventas por Rango de Fechas - <span style="font-weight: bold;">{{role}}</span> 
          </b-card-title>
        </b-col>
      </b-row>
      <b-row>
        <b-col v-show="false">
          <div>
              <b-form-group
              label="Rol"
              label-for="role"
              description="Rol a Consultar"
              class="mb-0">
              <b-form-select
              id="role"
              :options="listRole"
              v-model="role"
              @change="loadUser">
              </b-form-select>
              </b-form-group>
          </div> 
          </b-col>
      </b-row>
      <b-row class="pt-3">
        <b-col cols="12" md="3">
          <div>
            <b-form-group
            label="Fecha de Inicio"
            label-for="dateStart"
            class="mb-0">
            <b-form-datepicker today-button label-today-button="Hoy" initial-date locale="es" id="dateStart" v-model="dateStart" class="mb-2"></b-form-datepicker>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col cols="12" md="3">
          <div>
            <b-form-group
            label="Fecha Fin"
            label-for="dateEnd"
            class="mb-0">
            <b-form-datepicker today-button label-today-button="Hoy" initial-date locale="es" id="dateEnd" v-model="dateEnd" class="mb-2"></b-form-datepicker>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col class="pt-4">
          <b-button variant="primary" block @click="searchData" >
          <span class="simple-icon-magnifier"></span>
          Buscar
          </b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="8">
            <b-form-group 
            :label="role"
            label-for="user_id"
            description="Usuarios Dependientes"
            class="mb-0">
            <model-select 
            id="user_id"
            :options="listUser"
            v-model="selectUser">
            </model-select>
            </b-form-group>
        </b-col>
        <b-col cols="4" class="pt-3">
          <b-button variant="outline-success" @click="eraseFilter"><div class="iconsminds-eraser-2"></div>Borrar Filtro</b-button>
        </b-col>
      </b-row>
      <b-row class="py-5" v-if="total > 0">
        <b-col>
          <b-card title="Total Bruto" bg-variant="primary" text-variant="white" class="text-center">
            {{formatNumber(total)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Total Neto" bg-variant="success" text-variant="white" class="text-center">
            {{formatNumber(netTotal)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Premiación" bg-variant="danger" text-variant="white" class="text-center">
            {{formatNumber(winTotal)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Total" style="background-color: #949fa8;" text-variant="white" class="text-center">
            {{formatNumber(totalN)}}
          </b-card>
        </b-col>
      </b-row>
      <b-row class="pt-3 text-center h4" v-if="items.length > 0">
        <b-col class="fw-bolder strong align-self-end" style="text-align:right;">Mis Ventas</b-col>
        <b-col class="align-self-start" style="text-align:left"  @click="btnMySaleSee"><eye :status="seeMySale"></eye></b-col>
      </b-row>
      <b-row class="pt-3" v-if="items.length > 0 && seeMySale">
        <b-col>
            <b-table 
            striped hover 
            :items="items" 
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            responsive
            >
            </b-table>
        </b-col>
      </b-row>
      <b-row v-if="loadData">
        <b-col >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
      <b-row  v-if="items.length > 0 && seeMySale">
        <b-col>
          <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0">
          </b-pagination>
        </b-col>
      </b-row>
      
      <hr class="py-2">

      <b-row>
        <b-col class="pt-3 text-center h4 fw-bold strong">
          Ventas  de {{role}}
        </b-col>
      </b-row>
      <b-row>
        <b-col>
            <b-table 
            striped hover 
            :items="itemsSons" 
            :fields="fieldsPromotor"
            :current-page="currentPageP"
            :per-page="perPage"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :filter="selectUser"
            responsive
            @filtered="onFiltered"
            >
            <template #cell(name)="row">
            <b-row>
              <b-col> {{row.item.name}}</b-col>
              <b-col class="pt-1 pl-0">
                <span role="button" style="cursor: pointer;" @click="openModalSonOfSon(row.item.name, row.item.id)" class="simple-icon-eye icon-success"></span>
              </b-col>
            </b-row>   
            </template>
            <template #cell(percentage)="row">
              {{(row.item.percentage)}}%
            </template>
             <template #cell(total)="row">
               {{formatNumberP(row.item.total)}}
             </template>
             <template #cell(net)="row">
               {{formatNumber(row.item.net)}}
             </template>
             <template #cell(win)="row" class="text-center">
               <b-badge variant="danger">
                {{formatNumber(row.item.win)}}
               </b-badge>
             </template>
             <template #cell(totalN)="row" class="text-center">
               <b-badge>
                {{formatNumber(row.item.totalN)}}
               </b-badge>
             </template>
            </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-pagination
          v-model="currentPageP"
          :total-rows="totalRowsP"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
        </b-col>
      </b-row>
      <b-row class="text-center pt-3">
        <b-col class="bg-primary text-white strong"> {{formatNumber(totalN)}}</b-col>
      </b-row>
    </b-card>
    <b-modal ref="my-modal" hide-footer :title="titleModal" size="xl" scrollable>
      <div class="d-block text-center">
      </div>
      <SonOfSons :idSon="idModal" :dateStart="dateStart" :dateEnd="dateEnd"/>
    </b-modal>
  </b-container>
</template>
<script>
import users from '../../store/modules/users';
import 'vue-search-select/dist/VueSearchSelect.css';
import { ModelSelect } from 'vue-search-select';
import sale from '../../store/modules/sale';
import moment from 'moment';
import MathData from '../../helpers/math';
import listClient from "../../components/Client/listClient";
import eye from './../Common/eye';
import SonOfSons from './SonOfSons';

export default {
    components: {
      ModelSelect,
      listClient,
      eye,
      SonOfSons
    },
    data(){
        return {
            sortBy: 'total',
            sortDesc: true,
            listUser: [],
            selectUser: null,
            total: 0,
            netTotal: 0,
            winTotal: 0,
            items: [],
            listRole : ['Promotor', 'Vendedor'],
            role: 'Promotor',
            fields: [
                {key: 'date', label: 'Fecha'},
                {key: 'total', label: '$ Total Bruto'},
                {key: 'net', label: '$ Total Neto'},
                {key: 'win', label: '$ Premiación'},
                {key: 'totalN', label: '$ Total'},
            ],
            selectMonth: [],
            isSelectMonth: 0,
            dateStart: moment().format('YYYY-MM-DD'),
            dateEnd: moment().format('YYYY-MM-DD'),
            number: '',
            loadData: false,
            isBusy: false,
            totalRows: 1,
            totalRowsP: 1,
            currentPage: 1,
            currentPageP: 1,
            perPage: 10,
            total: 0,
            fieldsPromotor: [
              {key: 'name', label: 'Nombre'},
              {key: 'percentage', label: 'Porcentaje'},
              {key: 'total', label: '$ Bruta', sortable: true},
              {key: 'net', label: '$ Neta', sortable: true},
              {key: 'win', label: '$ Premiación', sortable: true},
              {key: 'totalN', label: '$ Total', sortable: true},
            ],
            itemsSons: [],
            titleModal: '',
            idModal: 0,
            totalN: 0,
            seeMySale: false
        }
    },
    mounted(){
      this.loadUser();
      this.searchData();
      if(this.$store.state.role == 'Administrador')
        this.listRole.push('Administrador');
    },
    methods:{
      searchData(){
        const data = {
          'loterry_id': this.selectLottery,
          'months' : this.dateStart,
          'number' : this.number
        }
        if(this.dateStart != null &&  this.dateEnd != ''){
          this.items = [];
          this.loadData = true;
          sale.getSaleRangeDate(this.dateStart, this.dateEnd, '')
          .then(response => {
            let tempItems = response.data.mySale.dateTable;
                  this.total =  (response.data.sumTotal);
                  this.netTotal = (response.data.sumNet);
                  this.winTotal = (response.data.sumWin);
                  this.itemsSons = response.data.dataSons;
                  this.totalRowsP = response.data.dataSons.length;
                  this.totalN = response.data.totalN
            for(let i in  tempItems){
              this.items.push(
                { 
                  date: tempItems[i].date,
                  total: this.formatNumber(tempItems[i].total),
                  net: this.formatNumber(tempItems[i].net),
                  win: this.formatNumber(tempItems[i].win),
                  totalN: this.formatNumber(tempItems[i].net - tempItems[i].win)
                }
              );
            }
            this.totalRows = this.items.length;
            console.log(this.items);
            this.loadData = false;
          })
        }else{
          this.$bvModal.msgBoxOk('Los Campos Son Obligatorios', {
          title: 'Información del Sistema',
          size: 'lg',
          buttonSize: 'lg',
          okVariant: 'danger',
          headerClass: 'p-2 border-bottom-0',
          footerClass: 'p-2 border-top-0',
          centered: true
        });
        }
      },
      formatNumber(val){
        return '$' + MathData.formatPrice(val);
      },
      calculateTotal(x, y){
        return parseFloat(x) - parseFloat(y);
      },
      loadUser(){
        this.listUser = [];
           users.getUsers(this.role)
           .then(response => {
               const users = response.data;
                for(const i in users){
                this.listUser.push({value: users[i].name, text: `${users[i].name} : ${users[i].document}`});
                } 
           })
        },
        formatNumberP(val){
          // this.total += val;
          return this.formatNumber(val);
        },
        eraseFilter(){
          this.selectUser = '';
        },
        openModalSonOfSon(name, id){
          this.titleModal = `Hijos de Promotor -- ${name}`;
         
          this.idModal = id;
          this.$refs['my-modal'].show()
        },
        onFiltered(val){
          this.winTotal = 0;
          this.totalN = 0;
          this.netTotal = 0;
          this.total = 0;

          for (var i = 0; i < val.length; i++){
            this.totalN += parseFloat(val[i].totalN);
            this.winTotal += parseFloat(val[i].win);
            this.netTotal += parseFloat(val[i].net);
            this.total += parseFloat(val[i].total);
          }
        
        },
        btnMySaleSee(){
          this.seeMySale = !this.seeMySale;
        }
    }
    
};
</script>
<style scoped>
.icon-success {
    color:red;
}
.strong{
  font-weight: bold;
}
</style>