<template>
  <b-container fluid>
    <b-card>
      <b-row>
        <b-col cols="12" md="12" align-h="end" class="text-center  fw-bold">
          <b-card-title class="h3 strong">
              Ventas por Rango de Fechas - <span style="font-weight: bold;">{{role}}</span> 
          </b-card-title>
        </b-col>
      </b-row>
      <b-row>
        <b-col v-show="false">
          <div>
              <b-form-group
              label="Rol"
              label-for="role"
              description="Rol a Consultar"
              class="mb-0">
              <b-form-select
              id="role"
              :options="listRole"
              v-model="role"
              @change="loadUser">
              </b-form-select>
              </b-form-group>
          </div> 
          </b-col>
      </b-row>
      <b-row class="pt-3">
        <b-col cols="12" md="3">
          <div>
            <b-form-group
            label="Fecha de Inicio"
            label-for="dateStart"
            class="mb-0">
            <b-form-datepicker today-button label-today-button="Hoy" initial-date locale="es" id="dateStart" v-model="dateStart" class="mb-2"></b-form-datepicker>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col cols="12" md="3">
          <div>
            <b-form-group
            label="Fecha Fin"
            label-for="dateEnd"
            class="mb-0">
            <b-form-datepicker today-button label-today-button="Hoy" initial-date locale="es" id="dateEnd" v-model="dateEnd" class="mb-2"></b-form-datepicker>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col class="pt-4">
          <b-button variant="primary" block @click="searchData" >
          <span class="simple-icon-magnifier"></span>
          Buscar
          </b-button>
        </b-col>
      </b-row>
     
      <b-row v-if="totalDataUserMoney.length > 0">
        <b-col cols="8">
            <b-form-group 
            :label="role"
            label-for="user_id"
            description="Usuarios Dependientes"
            class="mb-0">
            <model-select 
            id="user_id"
            :options="listUser"
            v-model="selectUser"
            >
            </model-select>
            </b-form-group>
        </b-col>
        <b-col cols="4" class="pt-3">
          <b-button variant="outline-success" @click="eraseFilter"><div class="iconsminds-eraser-2"></div>Borrar Filtro</b-button>  
        </b-col>
      </b-row>
       <b-row  v-if="totalDataUserMoney.length > 0">
        <b-col>
        <b-form-group label="Modo de Vista" v-slot="{ ariaDescribedby }" class="ps-2">
          <b-form-radio-group
            v-model="selectedView"
            :options="optionsView"
            :aria-describedby="ariaDescribedby"
            name="viewData"
            buttons
          ></b-form-radio-group>
        </b-form-group>
        </b-col>
      </b-row>
      <b-row class="py-1" v-if="total > 0">
        <b-col>
          <b-card title="Total Bruto Vendedores" bg-variant="primary" text-variant="white" class="text-center">
            {{formatNumber(totalSeller)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Total Neto Vendedores" bg-variant="success" text-variant="white" class="text-center">
            {{formatNumber(netTotalSeller)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Premiación Vendedores" bg-variant="danger" text-variant="white" class="text-center">
            {{formatNumber(winTotalSeller)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Total" style="background-color: #949fa8;" text-variant="white" class="text-center strong">
            {{formatNumber(totalNSeller)}}
          </b-card>
        </b-col>
      </b-row>
      <b-row class="py-5" v-if="total > 0 && false">
        <b-col>
          <b-card title="Total Bruto" bg-variant="primary" text-variant="white" class="text-center">
            {{formatNumber(total)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Total Neto" bg-variant="success" text-variant="white" class="text-center">
            {{formatNumber(netTotal)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Premiación" bg-variant="danger" text-variant="white" class="text-center">
            {{formatNumber(winTotal)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Total" style="background-color: #949fa8;" text-variant="white" class="text-center strong">
            {{formatNumber(totalN)}}
          </b-card>
        </b-col>
      </b-row>
      <b-row class="pt-3 text-center h4" v-if="items.length > 0 && false">
        <b-col class="fw-bolder strong align-self-end" style="text-align:right;">Mis Ventas</b-col>
        <b-col class="align-self-start" style="text-align:left"  @click="seeMySale"><eye :status="btnMySaleSee"></eye></b-col>
      </b-row>
      <b-row class="pt-3" v-if="items.length > 0 && btnMySaleSee">
        <b-col>
            <b-table 
            striped hover 
            :items="items" 
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            responsive
            >
            </b-table>
        </b-col>
      </b-row>
      
      <b-row v-if="items.length > 0 && btnMySaleSee">
        <b-col>
          <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
        </b-col>
      </b-row>
      <b-row v-if="loadData">
        <b-col >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
      
      <hr class="py-2">

      <b-row v-if="selectedView == 'resumenv' || selectedView == 'todov'">
        <b-col class="pt-3 text-center h4 fw-bold strong">
          Ventas  de {{role}} - Resumen
        </b-col>
      </b-row>
      <b-row v-if="selectedView == 'resumenv' || selectedView == 'todov'">
        <b-col>
            <b-table 
            striped hover 
            :items="totalDataUserMoney" 
            :fields="fieldsPromotorResumen"
            :current-page="currentPageP"
            :per-page="perPage"
            :sort-by.sync="sortByResumen"
            :sort-desc.sync="sortDesc"
            :filter="selectUser"
            responsive
            :tbody-transition-props="transProps"
            @filtered="onFiltered"
            >
             <template #cell(total)="row" class="">
              <span>
               {{formatNumberP(row.item.total)}}
              </span>
             </template>
             <template #cell(net)="row">
               {{formatNumber(row.item.net)}}
             </template>

             <template #cell(win)="row" class="text-center">
               <b-badge variant="danger">
               
                {{formatNumber(row.item.win)}}
               </b-badge>
             </template>

             <template #cell(totalN)="row" class="text-center">
              <b-badge variant="success" v-if="row.item.totalN > 0">
                {{formatNumber(row.item.totalN)}}
               </b-badge>
                <b-badge variant="danger" v-else>
                {{formatNumber(row.item.totalN)}}
               </b-badge>
             </template>
            </b-table>
            
        </b-col>
      </b-row>


      <b-row v-if="selectedView == 'diav' || selectedView == 'todov'">
        <b-col class="pt-3 text-center h4 fw-bold strong">
          Ventas  de {{role}} Día x Dia
        </b-col>
      </b-row>
      <b-row  v-if="selectedView == 'diav' || selectedView == 'todov'">
        <b-col>
            <b-table 
            striped hover 
            :items="itemsSons" 
            :fields="fieldsPromotor"
            :current-page="currentPageP"
            :per-page="perPage"
            :sort-by.sync="sortBy"
            :sort-asc.sync="sortDesc"
            no-local-sorting="true"
            :filter="selectUser"
            responsive
            :tbody-transition-props="transProps"
            foot-row-variant="danger"
            >
             <template #cell(total)="row">
            
               {{formatNumberP(row.item.total)}}
             </template>
             <template #cell(net)="row">
               {{formatNumber(row.item.net)}}
             </template>

             <template #cell(win)="row" class="text-center">
               <b-badge variant="danger">
                {{formatNumber(row.item.win)}}
               </b-badge>
             </template>

             <template #cell(totalN)="row" class="text-center">
               <b-badge variant="success" v-if="row.item.totalN > 0">
                {{formatNumber(row.item.totalN)}}
               </b-badge>
                <b-badge variant="danger" v-else>
                {{formatNumber(row.item.totalN)}}
               </b-badge>
             </template>
            </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-pagination
          v-model="currentPageP"
          :total-rows="totalRowsP"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div class="text-right pt-4">
            <b-badge class="strong" style="font-size: 0.8em;">
              Total a Liquidar: {{formatNumber(totalNSeller)}}
            </b-badge>
          </div>
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</template>

<script>
import users from '../../store/modules/users';
import 'vue-search-select/dist/VueSearchSelect.css';
import { ModelSelect } from 'vue-search-select';
import {monthsData} from '../../constants/config';
import sale from '../../store/modules/sale';
import moment from 'moment';
import MathData from '../../helpers/math';
import listClient from "../../components/Client/listClient";
import eye from './../Common/eye';

export default {
    components: {
      ModelSelect,
      listClient,
      eye
    },
    data(){
        return {
           transProps: {
            // Transition name
            name: 'flip-list'
          },
            sortBy: 'date',
            sortDesc: true,
            listUser: [],
            selectUser: null,
            total: 0,
            netTotal: 0,
            winTotal: 0,
            items: [],
            listRole : ['Promotor', 'Vendedor'],
            role: 'Vendedor',
            fields: [
                {key: 'date', label: 'Fecha', sortable: true},
                {key: 'total', label: 'Total Bruto', sortable: true},
                {key: 'net', label: 'Total Neto', sortable: true},
                {key: 'win', label: 'Premiación', sortable: true},
                {key: 'totalN', label: 'Total', sortable: true},
            ],
            selectMonth: [],
            isSelectMonth: 0,
            dateStart: moment().format('YYYY-MM-DD'),
            dateEnd: moment().format('YYYY-MM-DD'),
            number: '',
            loadData: false,
            isBusy: false,
            totalRows: 1,
            totalRowsP: 1,
            currentPage: 1,
            currentPageP: 1,
            perPage: 10,
            total: 0,
            fieldsPromotor: [
              {key: 'date', label: 'Fecha', sortable: true, class:"fontNumber"},
              {key: 'name', label: 'Nombre', class:"fontNumber"},
              {key: 'percentage', label: 'Porcentaje', class:"fontNumber"},
              {key: 'total', label: 'Bruta', class:"fontNumber"},
              {key: 'net', label: 'Neta', class:"fontNumber"},
              {key: 'win', label: 'Premiación', class:"fontNumber"},
              {key: 'totalN', label: 'Total', class:"fontNumber"},
            ],
            fieldsPromotorResumen: [
              {key: 'name', label: 'Nombre', class:"fontNumber"},
              {key: 'percentage', label: 'Porcentaje', class:"fontNumber"},
              {key: 'total', label: 'Bruta', class:"fontNumber"},
              {key: 'net', label: 'Neta', class:"fontNumber"},
              {key: 'win', label: 'Premiación', class:"fontNumber"},
              {key: 'totalN', label: 'Total', class:"fontNumber"},
            ],
            sortByResumen: 'total',
            itemsSons: [],
            sumTotal: 0,
            selectedView: 'resumenv',
            optionsView: [
              { text: ' Resumen ..' , value: 'resumenv' },
              { text: 'Día x Día', value: 'diav' },
              { text: 'Todo', value: 'todov' }
            ],
            totalDataUserMoney: [],
            totalN: 0,
            sumT: 0,
            btnMySaleSee: false,
            totalSeller : 0,
            netTotalSeller: 0,
            winTotalSeller: 0,
            totalNSeller: 0

        }
    },
    mounted(){
      this.loadUser();
      this.searchData();
      if(this.$store.state.role == 'Administrador')
            this.listRole.push('Administrador');
    },
    methods:{
      searchData(){
        const data = {
          'loterry_id': this.selectLottery,
          'months' : this.dateStart,
          'number' : this.number
        }
        //----
        this.total =0;
        this.netTotal = 0;
        this.winTotal = 0;
        this.totalSeller = 0;
        this.netTotalSeller = 0;
        this.winTotalSeller = 0;
        this.totalNSeller =  0;
        //--
        if(this.dateStart != null &&  this.dateEnd != ''){
          this.items = [];
          this.loadData = true;
          this.totalDataUserMoney = [];
          //send data to server
          sale.getSaleRangeDateSeller(this.dateStart, this.dateEnd, '')
          .then(response => {
            let tempItems = response.data.mySale.dateTable;
            //******
                  this.total = (response.data.mySale.total);
                  this.netTotal = (response.data.mySale.netTotal);
                  this.winTotal = (response.data.mySale.winTotal);
                  
                 
                  for(let data in response.data.totalData){
                    this.total += response.data.totalData[data].total;
                    this.netTotal += response.data.totalData[data].net;
                    this.winTotal += response.data.totalData[data].win;

                    //----------------------------------------------------------------
                      this.totalSeller += response.data.totalData[data].total;
                      this.netTotalSeller += response.data.totalData[data].net;
                      this.winTotalSeller += response.data.totalData[data].win;
                  }
                      this.totalNSeller +=  this.netTotalSeller - this.winTotalSeller;
                  const dataUser = JSON.parse(localStorage.getItem('user'));
                  let percentage = 100 - parseFloat(dataUser.percentage);
                  console.log(percentage)
                  this.netTotal = this.total * (percentage/100);
                  this.itemsSons = response.data.dataSons;
                  const dataResumen = response.data.totalData;
                  this.totalDataUserMoney = Object.values(dataResumen)
                  this.totalRowsP = response.data.dataSons.length;
                  this.totalN = this.netTotal - this.winTotal;
          //******
            for(let i in  tempItems){
              this.items.push(
                { 
                  date: tempItems[i].date,
                  total: this.formatNumber(tempItems[i].total),
                  net: this.formatNumber(tempItems[i].net),
                  win: this.formatNumber(tempItems[i].win),
                  totalN: this.formatNumber(tempItems[i].net - tempItems[i].win)
                }
              );
            }
            this.totalRows = this.items.length;
            console.log(this.items);
            this.loadData = false;
          })
        }else{
          this.$bvModal.msgBoxOk('Los Campos Son Obligatorios', {
          title: 'Información del Sistema',
          size: 'lg',
          buttonSize: 'lg',
          okVariant: 'danger',
          headerClass: 'p-2 border-bottom-0',
          footerClass: 'p-2 border-top-0',
          centered: true
        });
        }
      },
      formatNumber(val){
        return '$' + MathData.formatPrice(val);
      },
      calculateTotal(x, y){
        return parseFloat(x) - parseFloat(y);
      },
      loadUser(){
        this.listUser = [];
           users.getUsers(this.role)
           .then(response => {
               const users = response.data;
                for(const i in users){
                this.listUser.push({value: users[i].name, text: `${users[i].name} : ${users[i].document}`});
                }
                
           })
        },
        formatNumberP(val){
          // this.total += val;
            // this.sumTotal = this.sumTotal + val;
          
          
          return this.formatNumber(val);
        },
        eraseFilter(){
          this.selectUser = '';
        },
        sumTotalValues(value, type){

        },
        sumWinSon(val){
          this.sumT = this.sumT + (val);
          return val;
        },
        onFiltered(val){
          this.totalSeller = 0;
          this.netTotalSeller = 0;
          this.winTotalSeller = 0;
          this.totalNSeller =  0;

          for (var i = 0; i < val.length; i++){

            this.totalSeller += parseFloat(val[i].total);
            this.netTotalSeller += parseFloat(val[i].net);
            this.winTotalSeller += parseFloat(val[i].win);
            this.totalNSeller += parseFloat(val[i].totalN);
          }
        
        },
        seeMySale(){
          this.btnMySaleSee = !this.btnMySaleSee;
        }
    }
    
};
</script>

<style scoped>
.strong{
  font-weight: bold;
}

.fontNumber{
  font-size: 1.5em;
}

</style>