<template>
  <container fluid>
     <b-card>
     <b-row  v-if="itemsSons.length > 0">
        <b-col>
        <b-form-group label="Modo de Vista" v-slot="{ ariaDescribedby }" class="ps-2">
          <b-form-radio-group
            v-model="selectedView"
            :options="optionsView"
            :aria-describedby="ariaDescribedby"
            name="viewData"
            buttons
          ></b-form-radio-group>
        </b-form-group>
        </b-col>
      </b-row>
      <b-row v-if="selectedView == 'resumenv' || selectedView == 'todov'">
        <b-col cols="12">
          <div class="strong text-center">
            Resumen General de Ventas
          </div>
        </b-col>
        <b-col cols="12" md="12" align-h="end" class="text-center fw-bold">
            <b-table 
            striped hover 
            :items="itemsSons" 
            :fields="fieldsPromotor"
            responsive
            >
            <template #cell(name)="row">
              {{row.item.name}}
            </template>
             <template #cell(percentage)="row">
              {{row.item.percentage}}
            </template>
             <template #cell(role)="row">
              {{row.item.role}}
            </template>
            <template #cell(total)="row">
              {{formatNumber(row.item.total)}}
            </template>
            <template #cell(net)="row">
              {{formatNumber(row.item.net)}}
            </template>
             <template #cell(win)="row">
              {{formatNumber(row.item.win)}}
            </template>
             <template #cell(totalN)="row">
              <b-badge :variant="row.item.totalN >= 0 ? 'success' : 'danger'" class="text-m">
                {{formatNumber(row.item.totalN)}}
              </b-badge>
            </template>
            </b-table>
            <div class="text-center" v-if="load">
              <b-spinner variant="primary" label="Spinning"></b-spinner>
          </div>
        </b-col>
      </b-row>
      <b-row v-if="selectedView == 'diav' || selectedView == 'todov'">
       <b-col cols="12">
          <div class="strong text-center">
            Ventas Día a Día
          </div>
        </b-col>
        <b-col cols="12">
          <b-table 
            striped hover 
            :items="itemsSonsDay" 
            :fields="fieldsPromotorDay"
            responsive
            >
            <template #cell(totaln)="row">
              <b-badge :variant="row.item.totaln >= 0 ? 'success' : 'danger'" class="text-m">
                {{formatNumber(row.item.totaln)}}
              </b-badge>
            </template>
            </b-table>
        </b-col>
      </b-row>
      <b-row>
      <b-col>
        <b-badge variant="primary">
            <h4>Total Bruta: {{formatNumber(total)}}</h4>
        </b-badge>
      </b-col>
      <b-col>
        <b-badge variant="warning">
            <h4>Total Neta: {{formatNumber(netTotal)}}</h4>
        </b-badge>
      </b-col>
      <b-col>
         <b-badge variant="danger">
            <h4>Total Premiación: {{formatNumber(winTotal)}}</h4>
        </b-badge>
      </b-col>
      <b-col>
        <b-badge variant="success" class="text-center">
          <h4>Total: {{formatNumber(sumTn)}}</h4>
        </b-badge>
      </b-col>
      </b-row>
      </b-card>
  </container>
</template>

<script>
import sale from '../../store/modules/sale';
import MathData from '../../helpers/math';
import closingSeller from '../../store/modules/v2/closingSeller';

export default {
    props: [
        'idSon', 'dateStart', 'dateEnd'

    ],
    data () {
        return {
            fieldsPromotor: [
              {key: 'name', label: 'Nombre'},
              {key: 'percentage', label: 'Porcentaje'},
              // {key: 'role', label: 'Rol'},
              {key: 'total', label: '$ Bruta', sortable: true},
              {key: 'net', label: '$ Neta', sortable: true},
              {key: 'win', label: '$ Premiación', sortable: true},
              {key: 'totalN', label: '$ Total', sortable: true},
            ],
            fieldsPromotorDays: [
              {key: 'date', label: 'Fecha', sortable: true, class:"fontNumber"},
              {key: 'name', label: 'Nombre', class:"fontNumber"},
              {key: 'percentage', label: 'Porcentaje', class:"fontNumber"},
              {key: 'total', label: 'Bruta', class:"fontNumber"},
              {key: 'net', label: 'Neta', class:"fontNumber"},
              {key: 'win', label: 'Premiación', class:"fontNumber"},
              {key: 'totaln', label: 'Total', class:"fontNumber"},
            ],
            itemsSons: [],
            itemsSonsDay: [],
            load: true,
            winTotal: 0,
            netTotal: 0,
            total: 0,
            sumTn: 0,
            currentPageP: 1,
            perPage: 10,
            selectedView: 'resumenv',
            optionsView: [
              { text: ' Resumen ..' , value: 'resumenv' },
              { text: 'Día x Día', value: 'diav' },
              { text: 'Todo', value: 'todov' }
            ],
        }
    },
    mounted(){
        this.searchData();
    },
    methods:{
        searchData(){
        const data = {
          'loterry_id': this.selectLottery,
          'months' : this.dateStart,
          'number' : this.number
        }
        if(this.dateStart != null &&  this.dateEnd != ''){
          this.items = [];
          this.loadData = true;
          //send data to server
          closingSeller.getSaleRangeDateSeller(this.dateStart, this.dateEnd, this.idSon)
          .then(response => {
            //******
                  var tempItems;
                  this.itemsSons = response.data.totalData;
                  this.itemsSonsDay = response.data.dataSons;
                  this.totalRowsP = this.itemsSons.length;

                  for(let sel in response.data.totalData){
                    
                    this.total += parseFloat(response.data.totalData[sel].total);
                    this.netTotal += parseFloat(response.data.totalData[sel].net);
                    this.winTotal += parseFloat(response.data.totalData[sel].win);
                    this.sumTn += parseFloat(response.data.totalData[sel].totalN);

                  }

          //******
            
            this.totalRows = this.items.length;
            this.loadData = false;
            this.load = false;
          })
        }else{
          this.$bvModal.msgBoxOk('Los Campos Son Obligatorios', {
          title: 'Información del Sistema',
          size: 'lg',
          buttonSize: 'lg',
          okVariant: 'danger',
          headerClass: 'p-2 border-bottom-0',
          footerClass: 'p-2 border-top-0',
          centered: true
        });
        }
      },
      formatNumber(val){
        return '$' + MathData.formatPrice(val);
      }
    }

}
</script>

<style scoped>

.strong {
  font-weight: bold;
  font-size: 1.3em;
}
.text-m{
  font-size: 1em;
}

</style>