<template>
  <div>
    <b-card title="Resumen de Ventas" title-tag="h2">
      <b-row>
        <b-col>
          <gross></gross>
        </b-col>
      </b-row>
    </b-card>
    <b-card title="Usuarios" title-tag="h2" class="mt-3" border-variant="primary" header-bg-variant="primary"
    header-text-variant="white">
      <b-row>
        <b-col>
          <totalUser></totalUser>
        </b-col>
      </b-row>
    </b-card>
    <b-card title-tag="h2" class="mt-3">
      <b-card-title class="strong bolder">{{ date }}</b-card-title>
      <b-row>
        <b-col>
          <span class="strong bolder">Hora Actual: {{ getDate(time) }}</span> </b-col>
      </b-row>
      <b-row>
        <b-card :title="item.desc_lottery" title-tag="h3" align="center" img-alt="Image" v-for="item in listLotottery"
          :key="item.id" style="max-width: 15rem;" class="col-6 col-md-4">
          <b-img fluid :src="apiUrl2 + '/../../imglottery/' + item.abbreviation + '.png'" class="rounded-0 img-fluid "
            width="90px"></b-img>
          <b-card-text>
            <span class="strong bolder">Se cierra en: </span><br>
            <span class="strong bolder">{{ item.closing_time }}</span>
          </b-card-text>
          <template #footer>
            <small class=" strong bolder">{{ today }}</small>
          </template>
        </b-card>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import gross from './../../../components/resume/gross';
import net from './../../../components/resume/net';
import totalUser from './../../../components/resume/totalUsers';
import moment from 'moment';
import getLottery from './../../../store/modules/getLottery';
import { apiUrl } from './../../../constants/config';
export default {
  components: {
    gross,
    net,
    totalUser
  },
  data() {
    return {
      date: 'Fecha: ' + moment().format('YYYY-MM-DD'),
      time: moment().format('HH:mm:ss'),
      listLotottery: Object,
      listLototteryRefer: Object,
      varTime: '',
      apiUrl2: apiUrl,
      today: moment().format('YYYY-MM-DD')
    }
  },
  methods: {
    loadLottery() {
      getLottery.lotteryDay()
        .then(response => {
          console.log(response)
          this.listLotottery = response;
          this.listLototteryRefer = response;
          this.downTimeInit();
        });
    },
    downTimeInit() {
      this.time = moment().format('YYYY-MM-DD HH:mm:ss');
      for (const data in this.listLotottery) {
        let ini = this.time;
        let fin = moment(moment().format('YYYY-MM-DD') + ' ' + this.listLotottery[data].closing_time);
        var difTime = fin.diff(ini);
        var duration = moment.duration(difTime)
        let h = duration.hours().toString().length == 1 ? '0' + duration.hours() : duration.hours();
        let m = duration.minutes().toString().length == 1 ? '0' + duration.minutes() : duration.minutes();
        let s = duration.seconds().toString().length == 1 ? '0' + duration.seconds() : duration.seconds();
        this.listLotottery[data].closing_time = `${h}:${m}:${s}`;
      }
      setInterval(this.downTime, 1000);
    },
    downTime() {
      this.time = moment().format('YYYY-MM-DD HH:mm:ss');
      for (const data in this.listLotottery) {
        let hour = moment(moment().format('YYYY-MM-DD') + ' ' + this.listLotottery[data].closing_time);
        this.listLotottery[data].closing_time = hour.subtract(1, 'seconds').format('HH:mm:ss');
      }
    },
    getDate(val) {
      return val.split(' ')[1];
    }
  },
  mounted() {
    this.loadLottery();

    // setInterval(this.downTime, 1000);
  }

}

</script>

<style scoped>
.strong {
  font-weight: bold;
}

.bolder {
  font-size: 1.2rem;
}
</style>
