<template>
  <resultall/>
</template>

<script>
import resultall from './../../../components/results/resultall';
export default {
    components:{
        resultall
    }

}
</script>

<style>

</style>