<template>
  <container>
    <award-lottery></award-lottery>
  </container>
</template>

<script>
import awardRaffle from './../../../components/award/awardRaffle.vue'
export default {
    components: {
        'award-lottery': awardRaffle
    }

}
</script>

<style>

</style>