<template>
  <container>
    <award-lottery></award-lottery>
  </container>
</template>

<script>
import awardLoterry from './../../../components/award/awardLottery'
export default {
    components: {
        'award-lottery': awardLoterry
    }

}
</script>

<style>

</style>