<template>
  <b-row>
    <b-col cols="12">
        {{title}}
    </b-col>
    <b-col cols="12">
        <vc-date-picker v-model="inDate" mode="date" :model-config="modelConfig" locale="es-es" is-required :masks="masks" @dayclick="setDate" :min-date='new Date()'>
            <template v-slot="{ inputValue, inputEvents }">
                <input
                class="bg-white border px-1 py-1 w-100"
                :value="inputValue"
                v-on="inputEvents"
                readonly
                />
            </template>
        </vc-date-picker>
    </b-col>
  </b-row>
</template>

<script>
import moment from 'moment';
export default {
    props: {
        title: {
            default: 'Fecha',
            type: String
        },
        dd:{
            default: moment().format('YYYY-MM-DD'),
            type: String
        }
    },
    data () {
        return {
            inDate: this.dd,
            modelConfig: {
                type: 'string',
                mask: 'YYYY-MM-DD', // Uses 'iso' if missing
            },
            masks: {
                input: 'WWWW, DD-MM-YYYY',
            }
        }
    },
    methods: {
        setDate(){
            //this.$emit('model', this.inDate);
            this.$emit('input', this.inDate);
            console.log('cambio')
        }
    },
    
}
</script>

<style>

</style>