<template>
  <container fluid>
    <b-button variant="danger" v-if="status == 'Inactivo'" @click="cl">Inactivo</b-button>
    <b-button variant="success" v-else @click="cl">Activo</b-button>
  </container>
</template>

<script>
export default {
    props: [
        'status'
    ],
    methods: {
        cl(){
            this.$emit('clBtn');
        }
    }
    
}
</script>

<style scoped>

</style>