<template>
    <b-container >
        <!-- <b-badge>
            <span>Compartir Colilla Como Imagen</span>
            <WhatsApp :url="textWhatsapp" title="Resultado de Transaccion" scale="2"></WhatsApp>
        </b-badge> -->
        <div ref="imageDom" id="imageDom" v-if="!loadImg">
            <b-row class="border" >
                <b-col sm="12" class="border borderWH border-primary">
                    <strong>Fecha:</strong> {{dateBet[0]}} <br>
                    <strong>Hora:</strong> {{dateBet[1]}}
               <br>
                #Colilla {{numberTicket}}
                </b-col>
            </b-row>
            <b-row class="border borderWH border-primary">
                <b-col sm="12" v-for="(lott, index) in nameLottery" :key="index">
                    {{lott.name}}
                </b-col>
            </b-row>

            <b-row class="border borderWH border-primary text-left" align-h="center">
                    <b-col sm="4" class="text-left fw-bold">
                       Números
                    </b-col> 
                    <b-col sm="8" class="text-center fw-bold">
                        Valores
                    </b-col>                
                    <div v-for="(num, indexNum) in numberAndPay" :key="indexNum" class="col-12">
                        <b-row>
                            <b-col cols="4" class="algTextLeft">
                                {{divNumber(num)}}
                            </b-col>
                            <b-col cols="8" class="text-center">
                                {{divVal(num)}}
                            </b-col>
                        </b-row>
                    </div>    
            </b-row>
            <b-row class="border borderWH border-primary">
                <b-col sm="12">
                    <h3>Total a Pagar ${{formatPrice(totalToPay)}}</h3>
                </b-col>
            </b-row>
        </div>
        <div v-if="loadImg">
            <!-- <img :src="output" class=""> -->
            <b-img class="h-100 w-100" :src="output" id="image"></b-img>
        </div>
        <!-- <div>
            <b-button block variant="outline-danger" @click="printNow">
                 <span class="simple-icon-printer"></span>
                 Imprimir
            </b-button>
        </div> -->
        
    </b-container>
</template>

<script>
import html2canvas from 'html2canvas';
import VueHtmlToPaper from 'vue-html-to-paper';
import MathData from './../../helpers/math';
import { WhatsApp } from 'vue-socialmedia-share';

export default {
    components: {
        html2canvas,
        WhatsApp
    },
     props: {
        pushNumber: Array,
        nameLottery: Array,
        numberTicket: Number,
        totalToPay: Number,
        dateTicket:String,
        dateBet: Array,
        numberAndPay: Array,
    },
    data(){
        return {
            output: null,
            loadImg: false,
            textWhatsapp: '',
        }
    },
    methods: {
        loadImageF(){
            this.loadImg = false;
            const options = {
                width:  document.getElementById('imageDom').clientWidth,
                height: document.getElementById('imageDom').clientHeight,
                imageTimeout: 2,
                type: 'dataURL'
            }
            html2canvas(this.$refs.imageDom, options).then((canvas) =>{
                    this.output = canvas.toDataURL('image/png');
                    //  this.fileDownload(canvas.toDataURL('image/png'));
                     this.loadImg = true;
                })
        },
        print() {
            this.loadImg = false;
            const options = {
                width:  document.getElementById('imageDom').clientWidth,
                height: document.getElementById('imageDom').clientHeight,
                imageTimeout: 2,
                type: 'dataURL'
            }
            html2canvas(this.$refs.imageDom, options).then((canvas) =>{
                    this.output = canvas.toDataURL('image/png');
                    //  this.fileDownload(canvas.toDataURL('image/png'));
                     this.loadImg = true;
                })
        },
        fileDownload(downloadUrl) {
            let aLink = document.createElement("a");
            aLink.style.display = "none";
            aLink.href = downloadUrl;
            aLink.download = `${this.numberTicket}.png`;
                // Trigger click-then remove
            document.body.appendChild(aLink);
            aLink.click();
            document.body.removeChild(aLink);
        },
        divNumber(val){
            let showNum = val.split(':');
            return showNum[0];
        },
        divVal(val){
            let showNum = val.split(':');
            let num = showNum[1];

            return (num);
        },
        async printNow() {
            await this.$htmlToPaper('imageDom');

        },
        formatPrice(val){
            return MathData.formatPrice(val);
        },
        shareImg(){
          var imagen = document.getElementById('image').src;
          alert(imagen);
          this.textWhatsapp = imagen
              
        }
    },
    mounted() {
        this.loadImageF();
        this.shareImg();
        // setTimeout(() => {this.print()}, 500)
        
    }
}
</script>

<style>
.borderWH {
    border-width: 5px !important;
}
.algTextLeft{
    text-align: left !important;
}

</style>