<template>
  <b-container>
    <b-row>
        <b-col>
            <div>
                <WhatsApp :url="textWhatsapp" title="Resultado de Transaccion" scale="3"></WhatsApp>
                <b-button variant="outline-primary" @click="changeViewWh">
                    <span class="simple-icon-share"></span>
                </b-button>
            </div>
        </b-col>
    </b-row>
    <b-row v-if="viewImage">
        <b-col>
            <whatsappImg 
            :pushNumber="pushNumber"
            :nameLottery="nameLottery"
            :numberTicket="numberTicket"
            :totalToPay="totalToPay"
            :todayNumber="dateTicket"
            :dateBet="dateBetSeg"
            :numberAndPay="numberAndPay">
            </whatsappImg>
        </b-col>
    </b-row>
  </b-container>
</template>

<script>
import {todayNumber} from './../../store/modules/dateLottery';
import { WhatsApp } from 'vue-socialmedia-share';
import whatsappImg from './whatsappImg.vue';

export default {
    props: {
        pushNumber: Array,
        nameLottery: Array,
        numberTicket: Number,
        totalToPay: Number,
        dateBet: String,
        
    },
    components: {
        WhatsApp,
        whatsappImg
    },
    data() {
        return {
            textWhatsapp: '',
            viewImage: false,
            dateTicket: '',
            numberAndPay: [],
            dateBetSeg: []
            
        }
    },
    methods: {
        sendMenssage(){
            console.log(this.prepare());
        },
        prepare(){
            this.dateBetSeg = this.dateBet.split(" ");
             this.textWhatsapp = `Fecha: ${this.dateBetSeg[0]} -\n Hora: ${this.dateBetSeg[1]}\n`;
             this.textWhatsapp += `Numero de Colilla: ${this.numberTicket}\n`;
             this.textWhatsapp += `Loterias:\n`;
             for(let i in this.nameLottery){
                 this.textWhatsapp += `- ${this.nameLottery[i].name}\n`;
             }
             this.textWhatsapp += `Números:\n`;
             for(let iNumber in this.pushNumber){
                 let DE = parseFloat(this.pushNumber[iNumber].val) >0 ? `[DE]$${this.pushNumber[iNumber].val}` : '';
                 let CU = parseFloat(this.pushNumber[iNumber].cuna) >0 ? `[CU]$${this.pushNumber[iNumber].cuna}` : '';
                 let CO = parseFloat(this.pushNumber[iNumber].com) >0 ? `[CO]$${this.pushNumber[iNumber].com}` : '';
                 let dataIntern = `- ${this.pushNumber[iNumber].num} : ${DE} ${CU} ${CO}`;
                 this.numberAndPay[iNumber] = dataIntern;
                 this.textWhatsapp += dataIntern;
             }
             this.textWhatsapp += `Total: $${this.totalToPay}`;
             return this.textWhatsapp;

        },
        changeViewWh(){
            this. prepare();
            this.dateTicket = todayNumber;
            this.viewImage = !this.viewImage;
        }
    },
    created() {
        
    },
    // watch: {
    //     numberTicket: function(oldData, newData){
    //         console.log("change");
    //         this.prepare();
    //     }
    // },
    mounted() {
        
        this.prepare();
        this.dateTicket = todayNumber;
        console.log('montado')
    }

}
</script>

<style>

</style>