<template>
  <b-container fluid>
      <listsale/>
  </b-container>
</template>

<script>
import listsale from './../../../components/recharge/rechargeAdd';
export default {
  components: {
    listsale
  }

}
</script>

<style>

</style>