<template>
  <b-row class="h-100">
    <b-colxx xxs="12" md="10" class="mx-auto my-auto">
      <b-card class="auth-card" no-body>
        <!-- <div :class="['position-relative', dataApp.side, 'd-none', 'd-sm-none', 'd-md-block']">
                <p class="text-white h2">{{ $t('dashboards.magic-is-in-the-details') }}</p>
                <p class="white mb-0">
                    Inicio de Sesión
                    <br />Una tormenta
                </p>
            </div> -->
        <div class="form-side">
          <!-- <router-link tag="a" to="/">
                    <span class="logo-single" />
                </router-link> -->
          <h5 class="mb-4">Ingrese a Su Sistema</h5>

          <b-form @submit.prevent="formSubmit" class="av-tooltip tooltip-label-bottom" autocomplete="off">
            <b-form-group label="Usuario" class="has-float-label mb-4">
              <b-form-input type="number" v-model="form.document" autocomplete="off" />
            </b-form-group>

            <b-form-group :label="$t('user.password')" class="has-float-label mb-4">
              <input type="password" name="" id="" v-model="form.password" autocomplete="off" class="form-control">
            </b-form-group>
            <b-row>
              <b-col v-if="load">
                <b-spinner variant="success" type="grow" label="Spinning"></b-spinner>
              </b-col>
            </b-row>
            <div class="d-flex justify-content-between align-items-center">
              <b-button type="submit" variant="primary" size="lg" class="btn-multiple-state btn-shadow"
                :disabled="processing">
                <span class="spinner d-inline-block">
                  <span class="bounce1"></span>
                  <span class="bounce2"></span>
                  <span class="bounce3"></span>
                </span>
                <span>Iniciar Sesión</span>
              </b-button>

            </div>
          </b-form>
        </div>
      </b-card>
    </b-colxx>
  </b-row>
</template>

<script>
import getuser from './../../store/modules/getuser';
import { VueRouter } from 'vue-router';
import router from "./../../router";
import moment from "moment";
import { dataEnv } from '@/constants/config';

import {
  validationMixin
} from "vuelidate";
import { adminRoot } from './../../constants/config';
import storage from './../../store/modules/storage';
const {
  required,
  maxLength,
  minLength,
  email
} = require("vuelidate/lib/validators");

export default {
  created() {
    storage.deleteAll();
  },
  data() {
    return {
      form: {
        document: Number,
        email: "",
        password: ""
      },
      processing: false,
      load: false,
      dataApp: dataEnv
    };
  },
  mixins: [validationMixin],
  computed: {
    // ...mapGetters(["currentUser", "processing", "loginError"])
  },
  mounted() {
    console.log(process.env)

    clearInterval(this.timUser);
    if (this.$store.state.role === "Administrador") {
      clearInterval(this.timeSaleAdmin);
    }
  },
  methods: {
    //...mapActions(["login"]),
    async formSubmit() {
      this.load = true;
      getuser.login(this.form.document, this.form.password)
        .then(response => {

          if (response.status == 200) {
            this.$store.dispatch('setOperationAction', response.data.getUser.operation);
            this.$store.dispatch('setRoleAction', response.data.getUser.role);
            this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
            this.$store.state.idUser = response.data.getUser.id;

            if (localStorage.getItem("user") !== null) {
              setTimeout(() => {
                this.load = false;
                if (response.data.getUser.role == 'Vendedor') {
                  router.push(`${adminRoot}`)
                } else {
                  router.push(`${adminRoot}/resume/all`)
                }
              }, 50);

            }
          } else if (response.status != 206) {
            this.load = false;
            this.$notify("error", "Login Error", 'Error de Servidor / Servidor en Mantenimiento', {
              duration: 3000,
              permanent: false
            });
          }
          if (response.status == 206) {
            this.load = false;
            this.$notify("error", "Login Error", response.data.error, {
              duration: 3000,
              permanent: false
            });
          }
        })
        .catch(error => {
          this.load = false;
          this.$notify("error", "Login Error", error, {
            duration: 3000,
            permanent: false
          });
        });
    }
  },
  watch: {

  }
};
</script>
<style scoped>
.auth-card .form-side{
width: 100% !important;
}</style>
