<template>
  <b-row class="h-100">
    <b-colxx xxs="12" md="10" class="mx-auto my-auto">
      <b-card class="auth-card" no-body>
        <div class="position-relative image-side">
          <p class="text-white h2">{{ $t('dashboards.magic-is-in-the-details') }}</p>
          <p class="white mb-0">
            Una Forma mas
            
          </p>
        </div>
        <div class="form-side">
          <router-link tag="a" to="/">
            <span class="logo-single" />
          </router-link>
          <h6 class="mb-4">Cambio de Contraseña</h6>

          <b-form  class="av-tooltip tooltip-label-bottom">

            <b-form-group label="Contraseña Anterior" class="has-float-label mb-4">
              <b-form-input
                type="password"
                v-model="form.beforePassword"
              />
            </b-form-group>
            <b-form-group label="Contraseña" class="has-float-label mb-4">
              <b-form-input
                type="password"
                v-model="$v.form.password.$model"
                :state="!$v.form.password.$error"
              />
              <b-form-invalid-feedback v-if="!$v.form.password.required">Por favor ingrese su contraseña</b-form-invalid-feedback>
              <b-form-invalid-feedback
                v-else-if="!$v.form.password.minLength || !$v.form.password.maxLength"
              >Contraseña entre 4 y 16 caracteres</b-form-invalid-feedback>
            </b-form-group>
            <b-form-group label="Repetir Contraseña" class="has-float-label mb-4">
              <b-form-input
                type="password"
                v-model="$v.form.passwordAgain.$model"
                :state="!$v.form.passwordAgain.$error"
              />
              <b-form-invalid-feedback
                v-if="!$v.form.passwordAgain.required"
              >Por favor ingrese su contraseña de nuevo</b-form-invalid-feedback>
              <b-form-invalid-feedback
                v-else-if="!$v.form.passwordAgain.sameAsPassword"
              >Las Contraseñas No Coinciden</b-form-invalid-feedback>
            </b-form-group>

            <div class="d-flex justify-content-between align-items-center">
              <b-button size="lg" @click="$router.push('/app/dashboards/default');">
                Regresar 
              </b-button>
              <b-button
                type="button"
                @click="formSubmit"
                variant="primary"
                size="lg"
                
                :class="{'btn-multiple-state btn-shadow': true,
                    'show-spinner': processing,
                    'show-success': !processing && loginError===false,
                    'show-fail': !processing && loginError }"
              >
                <span class="spinner d-inline-block">
                  <span class="bounce1"></span>
                  <span class="bounce2"></span>
                  <span class="bounce3"></span>
                </span>
                <span class="icon success">
                  <i class="simple-icon-check"></i>
                </span>
                <span class="icon fail">
                  <i class="simple-icon-exclamation"></i>
                </span>
                <span class="label">{{ $t('user.reset-password-button') }}</span>
              </b-button>
            </div>
          </b-form>
        </div>
      </b-card>
    </b-colxx>
  </b-row>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import users from "./../../store/modules/users";
const {
  required,
  maxLength,
  minLength,
  sameAs
} = require("vuelidate/lib/validators");

export default {
  data() {
    return {
      form: {
        beforePassword: "",
        password: "",
        passwordAgain: ""
      }
    };
  },
  mixins: [validationMixin],
  validations: {
    form: {
      password: {
        required,
        maxLength: maxLength(16),
        minLength: minLength(4)
      },
      passwordAgain: {
        required,
        sameAsPassword: sameAs("password")
      }
    }
  },
  computed: {
    ...mapGetters([
      "currentUser",
      "processing",
      "loginError",
      "resetPasswordSuccess"
    ])
  },
  methods: {
    ...mapActions(["resetPassword"]),
    formSubmit() {
      // this.$v.form.$touch();
     
      
      // if (!this.$v.form.$anyError) {
      //   this.resetPassword({
      //     newPassword: this.form.password,
      //     resetPasswordCode: this.$route.query.oobCode || "202002"
      //   })
       
      // }
      this.updatePassword(this.form.beforePassword, this.form.password);
    },
    updatePassword(beforePassword, password) {
      this.beforePassword = this.form.beforePassword;
      this.password = this.password;
      users.changePassword(beforePassword, password)
      .then(result => {
          if(result.status == 200){
            this.$notify("error", "Error de No se Actualizo la contraseña", result.data.error,{
            duration: 3000,
            permanent: false
          });
          }else if(result.status == 202){
            this.$notify(
          "success",
          "Clave Actualizada",
          "Clave Actualizada",
          {
            duration: 3000,
            permanent: false
          }
        );
          }
      });
    }
  },
  watch: {
    loginError(val) {
      if (val != null) {
        this.$notify("error", "Error de Contraseña", val, {
          duration: 3000,
          permanent: false
        });
      }
    },
    resetPasswordSuccess(val) {
      if (val) {
        this.$notify(
          "success",
          "Clave Actualizada",
          "Clave Actualizada",
          {
            duration: 3000,
            permanent: false
          }
        );
      }
    },
    
  }
};
</script>
