<template>
  <div id="root">
    <div :class="[dataApp.background]"></div>
    <main>
      <div class="container">
        <slot></slot>
      </div>
    </main>
  </div>
</template>
<script>
import {dataEnv} from '@/constants/config';
export default {
  data(){
    return {
      dataApp: dataEnv
    }
  },
  mounted() {
    document.body.classList.add("background");
  },
  beforeDestroy() {
    document.body.classList.remove("background");
  }
};
</script>
