<template>
  <b-container fluid>
      <b-card>
            <b-row class="mb-3">
                <b-col cols="12" md="11" align-h="end">
                    <h3 class="text-center strong">Ventas de Hoy</h3>
                </b-col>
                <b-col cols="12" md="1">
                    <b-button  class="float-right" variant="outline-primary" @click="loadData">
                        <span class="simple-icon-reload"></span>
                    </b-button>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-card bg-variant="primary" text-variant="white" header="Venta Bruta" class="text-center">
                        {{formatPrice(total)}}
                    </b-card>
                </b-col>
                <b-col>
                     <b-card bg-variant="success" text-variant="white" header="Venta Neta" class="text-center">
                        {{formatPrice(totalNet)}}
                     </b-card>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <b-input-group prepend="Búsqueda" class="mt-3">
                        <b-form-input v-model="filter"></b-form-input>
                        <b-input-group-append>
                        <b-button variant="outline-success" @click="eraseFilter"><div class="iconsminds-eraser-2"></div></b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-col>
            </b-row>
            <b-row>
            <b-col v-if="loading" >
            <div class="d-flex justify-content-center text-center mb-3">
                <strong>Cargando...</strong>
                <b-spinner class="ml-auto"></b-spinner>
            </div>
            </b-col>
                <b-table 
                striped 
                hover 
                responsive 
                :fields="fields" 
                :filter="filter" 
                :items="options"
                :tbody-tr-class="rowClass"
                :current-page="currentPage"
                :per-page="perPage"
                >
                <template #cell(lotterys) ="row">
                    <div class="border border-primary rounded-2 text-center" v-for="lot in row.item.nameLottery" :key="lot">
                        {{lot}}
                    </div>
                </template>
                <template #cell(values)="row">
                    <b-row v-for="i in row.item.pushNumber" :key="i" class="text-left border border-primary">
                        <b-col>
                            #{{i.num}}
                        </b-col>
                        <b-col v-if="i.val.length>1">
                            Derecho {{formatPrice(i.val)}}
                        </b-col>
                        <b-col v-if="i.cuna.length>1">
                            Cuña {{formatPrice(i.cuna)}}
                        </b-col>
                        <b-col v-if="i.com.length>1">
                            Combinado {{formatPrice(i.com)}}
                        </b-col>
                    </b-row>
                        <b-badge>Total: {{ formatPrice(row.item.values)}}</b-badge>
                </template>
                <template #cell(id)="row">
                    <b-button variant="primary" @click="prepareWhatsApp(row)" v-if="row.item.status =='Activo'">
                        <span class="simple-icon-eye"></span>
                        {{ row.item.id }} 
                    </b-button>
                    <b-button variant="dark" v-else>
                         {{ row.item.id }}
                    </b-button>
                        
                </template>
                <template #cell(client)="row">
                    {{ row.item.client }} 
                </template>
                <template #cell(total)="row">
                    {{ formatPrice(row.item.values)}}
                </template>

                 <template #cell(date_time)="row">
                    {{ transformDate(row.item.date_time)}}
                </template>

                <template #cell(action)="row">
                    <div v-if="row.item.diffDate<=30 && row.item.open && row.item.status == 'Activo'">
                        <b-button variant="danger" @click="deleteStub(row.item.id, row.item.lotterysId)">
                            <span class="simple-icon-trash"></span>
                        </b-button> 
                    </div>
                </template>
                </b-table>
                
                <b-col>  
                    <b-pagination
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="fill"
                    size="sm"
                    class="my-0"
                    ></b-pagination> 
                </b-col>
                
            </b-row>
            <b-row v-if="optionsRaffle.length > 0">
                <b-col cols="12">
                    <h4 class="strong text-center py-3">Rifas</h4>
                </b-col>
                <b-col cols="12">
                    <b-table 
                    :fields="fieldsRaffle"
                    :items="optionsRaffle"
                    :tbody-tr-class="rowClass"
                    hover
                    responsive
                    :per-page="perPageRaffle"
                    :current-page="currentPageRaffle"
                    >
                    <template #cell(id)="row">
                        <div v-if="row.item.status == 'Activo'">
                            <b-button @click="prepareWhatsAppRaffle(row)">
                                R{{row.item.id}}
                            </b-button>
                        </div>
                        <div v-else>
                            R{{row.item.id}}
                        </div>
                       
                    </template>
                    <template #cell(client)="row">
                        {{row.item.client.name}}/{{row.item.client.phone}}
                    </template>
                    <template #cell(lotterys)="row">
                        <div >
                            <div v-for="(lot, index) in getLotteryRaffle(row.item.number)" :key="index" class="text-center bordered border border-primary">
                                {{lot}}
                                <br>                            
                            </div>
                        </div>
                    </template>
                    <template #cell(values)="row">
                   
                        <div v-for="val in getNumberRaffleTwo(row.item.number)" :key="val.item" class="border border-primary text-center">
                            #{{val.number}}
                            <br>
                            {{val.val}}
                            <br>
                        </div>
                        <div class="strong text-center">
                            Total: {{formatPrice(row.item.sumTotal)}}
                        </div>
                    </template>
                    <template #cell(date_time)="row">
                        {{row.item.created_at}}
                    </template>
                     <template #cell(action)="row">
                        <div v-if="row.item.status == 'Activo' && row.item.diffDate < 30 && row.item.open">
                            <b-button variant="danger" @click="deleteRaffle(row.item.id)">
                            <span class="simple-icon-trash"></span>
                        </b-button>
                        </div>
                       
                    </template>
                    
                    </b-table>
                </b-col>
                <b-col>  
                    <b-pagination
                    v-model="currentPageRaffle"
                    :total-rows="totalRowsRaffle"
                    :per-page="perPageRaffle"
                    align="fill"
                    size="sm"
                    class="my-0"
                    ></b-pagination> 
                </b-col>
            </b-row>
            <b-row v-if="optionMega.length > 0">
                 <b-col cols="12">
                    <h4 class="strong text-center py-3">Mega Rifas</h4>
                </b-col>
                <b-col cols="12">
                    <b-table 
                    :fields="fieldsMega"
                    :items="optionMega"
                    :tbody-tr-class="rowClassMega"
                    hover
                    responsive
                    :per-page="perPageRaffle"
                    :current-page="currentPageRaffleMega"
                    >
                    <template #cell(id)="row">
                        <b-button variant="primary" @click="searchMega(row.item)">M{{row.item.id}}</b-button>
                    </template>
                    <template #cell(total)="row">
                        {{ formatPrice(row.item.total)}}
                    </template>
                    <template #cell(numbers)="row">
                        <div class="border border-primary rounded-2 text-center" v-for="(dataMegaNum, indexNumMega) in separateNumber(row.item.numbers)" :key="indexNumMega">
                            {{dataMegaNum}}
                        </div>
                    </template>
                    <template #cell(date)="row">
                        {{transformDate(row.item.created_at)}}
                    </template>
                    <template #cell(action)="row">
                        <div v-if="row.item.timedelete == true && row.item.status == 'Activo'">
                            <b-button variant="danger" @click="deleteStubMega(row.item)">Eliminar</b-button>
                        </div>
                    </template>
                    </b-table>
                </b-col>
                 <b-col>  
                    <b-pagination
                    v-model="currentPageRaffleMega"
                    :total-rows="totalRowsRaffleMega"
                    :per-page="perPageRaffle"
                    align="fill"
                    size="sm"
                    class="my-0"
                    ></b-pagination> 
                </b-col>
            </b-row>

      </b-card>
      <b-modal id="bv-modal-success" ref="bv-modal-success" hide-footer>
      <template #modal-title>
        Re Enviar Datos
      </template>
      <div class="d-block text-center">
        <whatsapp 
        no-enforce-focus=true 
        :pushNumber="pushNumber" 
        :nameLottery="nameLottery" 
        :numberTicket="numberTicket" 
        :totalToPay="totalToPay" 
        :dateBet="dateBet"
        ></whatsapp>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-success')">Cerrar</b-button>
    </b-modal>

    <b-modal id="bv-modal-success-mega" ref="bv-modal-success-mega" hide-footer>
        <template #modal-title>
            Resultado de Proceso
        </template>
        <TicketMegaVue :MegaStub="returnMegaStub" :MegaNumbers="returnMegaNumbers"></TicketMegaVue>
        <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-success-mega')">Cerrar</b-button>
    </b-modal>
  </b-container>
</template>
<script>
import sale from './../../store/modules/sale';
import whatsapp from '../Common/whatsapp';
import MathData from './../../helpers/math';
import users from "./../../store/modules/users";
import riffleService from "./../../store/modules/riffleService";
import Mega from '../../store/modules/Mega';
import moment from 'moment';
import TicketMegaVue from '../../views/app/mega/TicketMega.vue';


export default {
    components: {
        whatsapp,
        TicketMegaVue
    },
    data(){
        return {
            options: [],
            fields: [
                { key: 'id', label: 'ID'},
                { key: 'client', label: 'Cliente / Telefono'},
                { key: 'lotterys', label: 'Loterias'},
                { key: 'values', label: 'Valores y Jugados'},
                { key: 'date_time', label: 'Fecha/Hora'},
                { key: 'status', label: 'Estado'},
                { key: 'action', label: ''},
            ],
            filter: '',
            loading: true,
            pushNumber: {},
            nameLottery: [],
            numberTicket: 0,
            totalToPay: 0,
            dateBet: '',
            confirm: '',
            totalRows: 1,
            currentPage: 1,
            currentPageRaffle: 1,
            perPage: 10,
            perPageRaffle: 10,
            total: 0,
            totalNet: 0,
            fieldsRaffle: [
                { key: 'id', label: 'ID'},
                { key: 'client', label: 'Cliente / Telefono'},
                { key: 'lotterys', label: 'Loterias'},
                { key: 'values', label: 'Valores y Jugados'},
                { key: 'date_time', label: 'Fecha/Hora'},
                { key: 'status', label: 'Estado'},
                { key: 'action', label: ''}
            ],
            optionsRaffle: [],
            totalRowsRaffle: 1,
            currentPageRaffleMega: 1,
            totalRowsRaffleMega: 1,
            optionMega: [],
            fieldsMega:[
                { key: 'id', label: 'ID'},
                { key: 'client', label: 'Cliente'},
                { key: 'numbers', label: 'Números Jugados'},
                { key: 'total', label: 'Total'},
                { key: 'date', label: 'Fecha'},
                { key: 'status', label: 'Estado'},
                { key: 'action', label: ''}
            ],
           returnMegaStub: {
                id: 0,
                created_at: '',
                total: '',
                get_mega_raffle: {
                    id:0,
                    user_id:0,
                    date_play: "",
                    limit:"",
                    value:"",
                    winner:"",
                    status:"",
                    lottery_id:0,
                    created_at:"",
                    updated_at:"",
                    get_lottery:{
                        desc_lottery: ''
                    }
                }
            },
            returnMegaNumbers: [],

        }
    },
    methods: {
        eraseFilter(){
            this.filter = '';
        },
        loadData(){
            this.loading = true;
            sale.getSale()
            .then((sale) =>{
                this.options =  sale.data['data'];
                this.totalRows = sale.data['data'].length;
                this.total = sale.data['total'];
                this.totalNet = sale.data['totalNet'];
                
                this.optionsRaffle = sale.data['raffle']
                this.totalRowsRaffle = sale.data['raffle'].length;

                this.optionMega = sale.data['mega'];
                this.totalRowsRaffleMega = this.optionMega.length;
                this.loading = false;
                
            })
            .catch((error) =>{
                console.error(`${error}`);
            });
            users.getDataUser()
              .then(result => {
                this.$store.state.balance =result.data.user.balance;
                this.$store.dispatch('setOperationAction', result.data.user.operation);
                this.$store.dispatch('setRoleAction', result.data.user.role);
               
              
              });
        },
        prepareWhatsApp(data){
            let newNameLottery = [];
            let newPushArray = [];
            for(let x in data.item.nameLottery){
                newNameLottery.push({name: data.item.nameLottery[x]});
            }
            for(let y in data.item.pushNumber)
                newPushArray.push(data.item.pushNumber[y])
            
            this.nameLottery = newNameLottery;
            this.pushNumber = newPushArray;
            this.numberTicket = data.item.id;
            this.totalToPay = data.item.values;
            this.dateBet = data.item.date_time;
            this.$refs['bv-modal-success'].show();
            
        },
        prepareWhatsAppRaffle(data){
            var newPushArrayRaffle = [];
            var pshN = this.getNumberRaffleTwoWh(data.item.number);
            for(let i in pshN){
                newPushArrayRaffle.push({
                    'num' : pshN[i]['number'],
                    'com': "0",
                    'cuna': "0",
                    'figure': "0",
                    'serie': null,
                    'val': pshN[i].val
                })
            }
            console.log(newPushArrayRaffle);
            this.nameLottery = this.getLotteryRaffle(data.item.number);
            this.pushNumber = newPushArrayRaffle;
            this.numberTicket = 'R'+ data.item.id.toString();
            this.totalToPay = data.item.sumTotal;
            this.dateBet = data.item.created_at;
            this.$refs['bv-modal-success'].show();
        },
        deleteStub(id){
            
            this.confirm = '';
            this.$bvModal.msgBoxConfirm('Por favor Confirmar su Acción antes de proceder', {
            title: 'Confirmar',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'Eliminar',
            cancelTitle: 'NO Eliminar',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
            })
            .then(result => {
                this.confirm = result;
                if(this.confirm){
                    sale.deleteStub(id)
                    .then((result) =>{
                        if(typeof result.data.success !== 'undefined'){
                            this.$notify('success', 'Cambio Exitoso', result.data.success, { duration: 4000, permanent: false });
                            this.loadData();
                        }else{
                            this.$notify('error', 'Error', result.data.error, { duration: 4000, permanent: false });
                             this.loadData();
                        }
                    })
                    .catch((error)=>{
                        this.$notify('error', 'Error', error, { duration: 3000, permanent: false });
                        this.loadData();
                    });
                }
            });
        },
        refresh(){
            this.loadData();
        },
        rowClass(item, type){
            if (!item || type !== 'row') return
            if (item.status === 'Eliminado') return 'table-danger'
        },
        rowClassMega(item, type){
            if (!item || type !== 'row') return
            if (item.status === 'Inactivo') return 'table-danger'
        },
        stringToArrayNumber(val){
            return val.split(',');
        },
        formatPrice(val){
            return '$'+MathData.formatPrice(val);
        },
        transformDate(date){
            const dateSec = date.split(' ');
            const text = dateSec[0] + "  Hora:" +  dateSec[1];
            return text;
        },
        getLotteryRaffle(val){
            var ArraynameLottery = [];
            for(let inter in val){
                
                ArraynameLottery[val[inter].lottery['id']] = val[inter].lottery['desc_lottery'];
            }
            let arrLot = ArraynameLottery.filter(Boolean)
            return arrLot;
        },
        getNumberRaffle(val){
            let arrayNumerRaffle = [];
            for(let inter in val){
               
                arrayNumerRaffle[val[inter]['number']] = {
                    'number' : val[inter]['number'],
                    'val' : this.formatPrice(val[inter]['value']),
                   
                }
            }
            return arrayNumerRaffle.filter(Boolean);
        },
        getNumberRaffleTwo(val){
            let arrayNumerRaffle = [];
            for(let i = 0; i < val.length; i++){
                arrayNumerRaffle.push({
                    'number' :val[i].number,
                    'val' : this.formatPrice(val[i].value),
                });
            }
            return arrayNumerRaffle;

        },
        getNumberRaffleTwoWh(val){
            let arrayNumerRaffle = [];
            for(let i = 0; i < val.length; i++){
                arrayNumerRaffle.push({
                    'number' :val[i].number,
                    'val' : (val[i].value),
                });
            }
            return arrayNumerRaffle;

        },
        duplyRaffle(val){

        },
        deleteRaffle(id){
            this.confirm = '';
            this.$bvModal.msgBoxConfirm('Por favor Confirmar su Acción antes de proceder', {
            title: 'Confirmar',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'Eliminar',
            cancelTitle: 'NO Eliminar',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
            })
            .then(result => {
                this.confirm = result;
                if(this.confirm){
                    riffleService.deleteRiffle(id)
                    .then(response => {
                        if(response.status == 202)
                            this.loadData();
                        if(response.status == 200)
                            this.$notify('error', 'Error', result.data.error, { duration: 4000, permanent: false });
                    });
                }});
            
        },
        deleteStubMega(dataRowMega){
            
            this.$bvModal.msgBoxConfirm('Por favor Confirmar su Acción antes de proceder', {
            title: 'Confirmar',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'Eliminar',
            cancelTitle: 'NO Eliminar',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
            })
            .then(result => {
                this.confirm = result;
                if(this.confirm){
                    Mega.inactiveBetMega({id : dataRowMega.id})
                    .then(response => {
                        if(response.status == 202)
                            this.loadData();
                        if(response.status == 200)
                            this.$notify('error', 'Error', result.data.error, { duration: 4000, permanent: false });
                    });
                }});

        },
        searchMega(dataRowMega){
            Mega.searchMega(dataRowMega.id)
            .then(response => {
                if(response.status == 200){
                    this.returnMegaStub = response.data[0];
                    this.returnMegaNumbers = response.data[1];
                    this.$refs['bv-modal-success-mega'].show();
                }else{
                    this.$notify('error', 'Error', response.data.error, { duration: 4000, permanent: false });
                }
            });
        },
        separateNumber(val){
            return val.split(',');
        }       
    },
    mounted() {
        this.loadData();
        this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
    },
    
}
</script>
<style scoped>
.strong{
    font-weight: bold;
}
</style>