<template>
  <b-container fluid>
    <b-card>
      <b-row>
        <b-col cols="12" md="12">
          <h3 class="text-right card-title text-center strong">Ventas por Fechas</h3>
        </b-col>
       
      </b-row>
      <b-row class="pt-3">
        <b-col cols="12" md="3">
          <div>
            <SelecDate title="Desde"  v-bind:dd="dateStart" v-on:input="dateStart = $event"></SelecDate>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
          
        </b-col>
        <b-col cols="12" md="3">
          <div>
            <SelecDate title="Hasta"  v-bind:dd="dateEnd" v-on:input="dateEnd = $event"></SelecDate>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
          
        </b-col>
        
        <b-col class="pt-4">
          <b-button variant="primary" block @click="searchData" >
          <span class="simple-icon-magnifier"></span>
          Buscar
          </b-button>
        </b-col>
      </b-row>
      <b-row v-if="loadData">
        <b-col >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
      <b-row class="py-5" v-if="total > 0">
        <b-col>
          <b-card title="Total Bruto" bg-variant="primary" text-variant="white" class="text-center">
            {{formatNumber(total)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Total Neto" bg-variant="success" text-variant="white" class="text-center">
            {{formatNumber(netTotal)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Premiación" bg-variant="danger" text-variant="white" class="text-center">
            {{formatNumber(winTotal)}}
          </b-card>
        </b-col>
        <b-col>
           <b-card title="Total"  text-variant="white" class="text-center" style="background: #949fa8;">
            {{formatNumber(totalN)}}
          </b-card>
        </b-col>
      </b-row>
      <b-row class="pt-3">
        <b-col>
            <b-table 
            striped hover 
            :items="items" 
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            responsive
            >
            </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
        </b-col>
      </b-row>

      <b-row class="pt-3"  v-if="totalRowsRaffle > 0">
        <b-col cols="12" class=" text-center">
          <h3 class="strong">Rifas</h3>
        </b-col>
        <b-col>
            <b-table 
            striped hover 
            :items="optionsRaffle" 
            :fields="fieldsRaffle"
            :current-page="currentPageRaffle"
            :per-page="perPage"
            responsive
            >
            <template #cell(total)="row">
              {{formatNumber(row.item.total)}}
            </template>
             <template #cell(net)="row">
              {{formatNumber(row.item.net)}}
            </template>
             <template #cell(win)="row">
              {{formatNumber(row.item.win)}}
            </template>
             <template #cell(totalN)="row">
              {{formatNumber(row.item.totalN)}}
            </template>
            </b-table>
        </b-col>
      </b-row>
      <b-row v-if="totalRowsRaffle > 0">
        <b-col>
          <b-pagination
          v-model="currentPageRaffle"
          :total-rows="totalRowsRaffle"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
        </b-col>
      </b-row>



      <!-- MegaRaffle -->
      <b-row class="pt-3"  v-if="optionsRaffleMega.length > 0">
        <b-col cols="12" class=" text-center">
          <h3 class="strong">Mega Rifas</h3>
        </b-col>
        <b-col>
            <b-table 
            striped hover 
            :items="optionsRaffleMega" 
            :fields="fieldsRaffleMega"
            :current-page="currentPageRaffleMega"
            :per-page="perPage"
            responsive
            >
            <template #cell(total)="row">
              {{formatNumber(row.item.sum)}}
            </template>
             <template #cell(net)="row">
              {{formatNumber(row.item.net)}}
            </template>
             <template #cell(win)="row">
              {{formatNumber(row.item.win)}}
            </template>
             <template #cell(totalN)="row">
              {{formatNumber(row.item.totalN)}}
            </template>
            </b-table>
        </b-col>
      </b-row>
      <b-row v-if="totalRowsRaffle > 0">
        <b-col>
          <b-pagination
          v-model="currentPageRaffleMega"
          :total-rows="totalRowsRaffleMega"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
        </b-col>
        
      </b-row>

    </b-card>
  </b-container>
</template>

<script>
import 'vue-search-select/dist/VueSearchSelect.css';
import { ModelSelect } from 'vue-search-select';
import sale from '../../store/modules/sale';
import moment from 'moment';
import MathData from '../../helpers/math';
import SelecDate from './../Common/SelectDate'

export default {
    components: {
      ModelSelect,
      SelecDate 
    },
    data(){
        return {
            dd: '',
            listUser: [],
            selectUser: null,
            total: 0,
            netTotal: 0,
            winTotal: 0,
            items: [],
            fields: [
                {key: 'date', label: 'Fecha'},
                {key: 'total', label: 'Total Bruto', formatter:"formatNumber"},
                {key: 'nettotal', label: 'Total Neto', formatter:"formatNumber"},
                {key: 'win', label: 'Premiación', formatter:"formatNumber"},
                {key: 'totaln', label: 'Total', formatter:"formatNumber"},
            ],
            selectMonth: [],
            isSelectMonth: 0,
            dateStart: moment().format('YYYY-MM-DD'),
            dateEnd: moment().format('YYYY-MM-DD'),
            number: '',
            loadData: false,
            isBusy: false,
            totalRows: 1,
            currentPage: 1,
            perPage: 10,
            totalN: 0,
            optionsRaffle: [],
            fieldsRaffle: [
                {key: 'date', label: 'Fecha'},
                {key: 'total', label: 'Total Bruto'},
                {key: 'nettotal', label: 'Total Neto'},
                {key: 'win', label: 'Premiación'},
                {key: 'totaln', label: 'Total'},
            ],
            totalRowsRaffle: 1,
            currentPageRaffle: 1,
            fieldsRaffleMega: [
              {key: 'date', label: 'Fecha'},
              {key: 'sum', label: 'Total Bruto'},
              {key: 'net', label: 'Total Neto'},
              {key: 'win', label: 'Premiación'},
              {key: 'totaln', label: 'Total'},
            ],
            currentPageRaffleMega: 1,
            optionsRaffleMega: [],
            totalRowsRaffleMega: 1
            
        }
    },
    mounted(){
      this.searchData();
      this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
    },
    methods:{
      searchData(){
        const data = {
          'loterry_id': this.selectLottery,
          'months' : this.dateStart,
          'number' : this.number
        }
        if(this.dateStart != null &&  this.dateEnd != ''){
          this.items = [];
          this.loadData = true;
          //send data to server
          let user = JSON.parse(localStorage.getItem("user"));
          sale.getSaleRangeDate(this.dateStart, this.dateEnd).then(response => {
          
            if(Object.keys(response.data.resume).length > 0 || Object.keys(response.data.raffle).length > 0 || Object.keys(response.data.megaRaffle).length > 0){
              this.total = response.data.resume.total;
              this.netTotal = response.data.resume.nettotal;
              this.winTotal = response.data.resume.wintotal;
              this.totalN = response.data.resume.totaln;
              this.items = response.data.rangeDate;
              this.totalRows = this.items.length;
              this.optionsRaffle = response.data.raffle;
              this.totalRowsRaffle = this.optionsRaffle.length;

              this.optionsRaffleMega = response.data.megaRaffle;
              this.totalRowsRaffleMega = this.optionsRaffleMega.length;
              // 
              let sum = 0;
              let n = 0;
              let win = 0;
              let totalN = 0;
              for(let iRM in response.data.megaRaffle){
                sum += parseFloat(response.data.megaRaffle[iRM].sum);
                n += parseFloat(response.data.megaRaffle[iRM].net);
                win += parseFloat(response.data.megaRaffle[iRM].win);
                totalN += parseFloat(response.data.megaRaffle[iRM].totaln);
              }
              this.total = parseFloat(this.total) + sum;
              this.netTotal = parseFloat(this.netTotal) + n;
              // this.winTotal += parseFloat(this.winTotal) + win;
              // this.totalN += parseFloat(this.totalN) + totalN;
              // 
              this.totalN = this.netTotal - this.winTotal ;
              this.loadData = false;
            }else{
              this.total = 0;
              this.netTotal = 0;
              this.winTotal = 0;
              this.totalN = 0;
              this.items = [];
              this.loadData = false;
            }
            if(Object.keys(response.data.resume).length == 0  && (Object.keys(response.data.raffle).length > 0 || Object.keys(response.data.megaRaffle).length > 0) == true) {
              let sum = 0;
              let n = 0;
              let win = 0;
              let totalN = 0;
              for(let iR in response.data.raffle){
                sum += parseFloat(response.data.raffle[iR].total);
                n += parseFloat(response.data.raffle[iR].nettotal);
                win += parseFloat(response.data.raffle[iR].win);
                totalN += parseFloat(response.data.raffle[iR].totaln);
              }

              for(let iRM in response.data.megaRaffle){
                sum += parseFloat(response.data.megaRaffle[iRM].sum);
                n += parseFloat(response.data.megaRaffle[iRM].net);
                win += parseFloat(response.data.megaRaffle[iRM].win);
                totalN += parseFloat(response.data.megaRaffle[iRM].totaln);
              }
              console.log('00001001');
              this.total = sum;
              this.netTotal += n;
              //this.winTotal = win;
              this.totalN += totalN;
            }
          })
        }else{
          this.$bvModal.msgBoxOk('Los Campos Son Obligatorios', {
          title: 'Información del Sistema',
          size: 'lg',
          buttonSize: 'lg',
          okVariant: 'danger',
          headerClass: 'p-2 border-bottom-0',
          footerClass: 'p-2 border-top-0',
          centered: true
        });
        }
      },
      formatNumber(val){
        return `$${MathData.formatPrice(val)}`;
      },
      calculateTotal(x, y){
        return parseFloat(x) - parseFloat(y);
      }
    }
    
};
</script>

<style scoped>
.strong {
  font-weight: bold;
}

</style>