<template>
  <container fluid>
      <b-card>
      <b-row>
        <b-col cols="12" md="6" align-h="end">
          <h3 class="text-right">Ventas por Cliente</h3>
        </b-col>
        <b-col cols="12" md="6">
          
        </b-col>
      </b-row>
      <b-row class="pt-3">
        <b-col cols="12" md="3">
          <div>
            <SelecDate title="Desde"  v-bind:dd="dateStart" v-on:input="dateStart = $event"></SelecDate>
            <div class="mt-2">Campo Obligatorio</div>
           
          </div>
          
        </b-col>
        <b-col cols="12" md="3">
          <div>
            <SelecDate title="Hasta"  v-bind:dd="dateEnd" v-on:input="dateEnd = $event"></SelecDate>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col>
            <list-client v-on:idClient="enableNext" :buttonNewClient="false"></list-client>
        </b-col>
      </b-row>
        <b-row>
            <b-col class="pt-4">
            <b-button variant="primary" block @click="searchData" >
            <span class="simple-icon-magnifier"></span>
            Buscar
            </b-button>
            </b-col>
        </b-row>
    </b-card>

    <b-card class="mt-2" v-show="loadData">
        <b-card-sub-title class="text-center">Ventas por Días y Cliente</b-card-sub-title>
        <b-row>
            <b-col>
                <b-card-group deck>
                    <b-card bg-variant="primary" text-variant="white" header="Total Vendido Bruto" class="text-center">
                        <b-card-text>${{moneyFormat(resume.total)}}</b-card-text>
                    </b-card>

                    <b-card bg-variant="success" text-variant="white" header="Total Vendido Neto" class="text-center">
                        <b-card-text>${{moneyFormat(resume.netTotal)}}</b-card-text>
                    </b-card>

                    <b-card bg-variant="danger" text-variant="white" header="Premios" class="text-center">
                        <b-card-text>${{moneyFormat(resume.win)}}</b-card-text>
                    </b-card>
                </b-card-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table 
                striped 
                hover 
                responsive 
                :fields="fields" 
                :items="dataSaleDay"
                >
                <template #cell(total)="row">
                    ${{ moneyFormat(row.item.total) }}
                </template>
                <template #cell(netTotal)="row">
                    ${{ moneyFormat(row.item.netTotal) }}
                </template>
                <template #cell(win)="row">
                    ${{ moneyFormat(row.item.win) }}
                </template>
                <template #cell(totalN)="row">
                    ${{ moneyFormat(totalRowClientTotal(row.item.netTotal, row.item.win)) }}
                </template>
                </b-table>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="text-center h3">
                <b-badge>${{moneyFormat(totalClientN)}}</b-badge>
            </b-col>
        </b-row>
    </b-card>
     
  </container>
</template>

<script>
import 'vue-search-select/dist/VueSearchSelect.css';
import listClient from "../../components/Client/listClient";
import sale from './../../store/modules/sale';
import math from './../../helpers/math';
import moment from 'moment';
import SelecDate from './../Common/SelectDate'

export default {
    components: {
        'list-client': listClient,
        SelecDate
    },
    data () {
        return {
            loadData: false,
            dateEnd: moment().format('YYYY-MM-DD'),
            dateStart: moment().subtract(1, 'days').format('YYYY-MM-DD'),
            clientId: 0,
            totalClientN: 0,
            resume: [],
            dataSaleDay: [],
            fields: [
                { key: 'date', label: 'Fecha'},
                { key: 'total', label: 'Total Bruto'},
                { key: 'netTotal', label: 'Total Neto'},
                { key: 'win', label: 'Premios'},
                { key: 'totalN', label: 'Total'},
            ]
        }
    },
    mounted() {
        this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
    },
    methods: {
        searchData(){
            
            sale.getSaleDay(this.dateStart, this.dateEnd, this.clientId)
            .then(response => {
                console.log(response)
                if(response.status == 200){
                    this.dataSaleDay = response.data.stub;
                    this.resume = response.data.resume;
                    this.totalClientN = response.data.totalN;
                    this.loadData = this.dataSaleDay.length > 0 ? true : false;
                } else if(response.status == 400){
                    this.$notify('error', 'Error', 'Faltan Campos Para la Consulta', { duration: 4000, permanent: false });
                }
            })
            .catch((error) => {
                 this.$notify('error', 'Error', 'Faltan Campos Para la Consulta', { duration: 4000, permanent: false });
            })
        },
        moneyFormat(val){
            return math.formatPrice(val);
        },
        enableNext(val){
            this.clientId = val;
            console.log(val)
        }, 
        totalRowClientTotal(x, y){
            let totalTemp = parseFloat(x) - parseFloat(y);
            return totalTemp;
        },
    }
}
</script>

<style>

</style>