<template>
  <b-container fluid>
    <b-card>
      <b-row>
        <b-col cols="12" md="6" align-h="end">
          <h3 class="text-right">Ventas por Usuario</h3>
        </b-col>
        <b-col cols="12" md="6">
          
        </b-col>
      </b-row>
      <b-row class="pt-3">
        <b-col cols="12" md="3">
          <div>
            <b-form-group
            label="Fecha de Inicio"
            label-for="dateStart"
            class="mb-0">
            <b-form-datepicker today-button label-today-button="Hoy" initial-date locale="es" id="dateStart" v-model="dateStart" class="mb-2"></b-form-datepicker>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
           
          </div>
          
        </b-col>
        <b-col cols="12" md="3">
          <div>
            <b-form-group
            label="Fecha Fin"
            label-for="dateEnd"
            class="mb-0">
            <b-form-datepicker today-button label-today-button="Hoy" initial-date locale="es" id="dateEnd" v-model="dateEnd" class="mb-2"></b-form-datepicker>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
          
        </b-col>
        <b-col cols="12" md="3">
          <div>
            <b-form-group
            label="Usuarios"
            label-for="user_id"
            description="Usuarios Dependientes"
            class="mb-0">
            <model-select
            id="user_id"
            :options="listUser"
            v-model="selectUser"
            >
            </model-select>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col class="pt-4">
          <b-button variant="primary" block @click="searchData" >
          <span class="simple-icon-magnifier"></span>
          Buscar
          </b-button>
        </b-col>
      </b-row>
      <b-row class="pt-3">
        <b-col>
            <b-table 
            striped hover 
            :items="items" 
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            responsive
            ></b-table>
        </b-col>
      </b-row>
       <b-row>
          <b-col class="text-center">
           <h3>${{formatNumber(total)}}</h3> 
          </b-col>
        </b-row>
      <b-row v-if="loadData">
        <b-col >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</template>

<script>
import users from './../../store/modules/users';
import 'vue-search-select/dist/VueSearchSelect.css';
import { ModelSelect } from 'vue-search-select';
import {monthsData} from './../../constants/config';
import sale from './../../store/modules/sale';
import moment from 'moment';
import MathData from './../../helpers/math';

export default {
    components: {
      ModelSelect
    },
    data(){
        return {
            listUser: [],
            selectUser: null,
            items: [],
            fields: [
                {key: 'id', label: '#Colilla'},
                {key: 'client', label: 'Cliente'},
                {key: 'total', label: 'Apostado'},
                {key: 'status', label: 'Estado'},
            ],
            selectMonth: [],
            isSelectMonth: 0,
            dateStart: moment().format('YYYY-MM-DD'),
            dateEnd: moment().format('YYYY-MM-DD'),
            number: '',
            loadData: false,
            isBusy: false,
            totalRows: 1,
            currentPage: 1,
            perPage: 2,
            total: 0,
        }
    },
    mounted(){
        //Months for year
        for(const i in monthsData){
          this.selectMonth.push({value: parseInt(i)+1, text: monthsData[i]});
        }
       users.getUsers()
       .then(response => {
         const users = response.data;
         for(const i in users){
          this.listUser.push({value: users[i].id, text: `${users[i].name} : ${users[i].document}`});
         }
       })
      this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
    },
    methods:{
      searchData(){
        const data = {
          'loterry_id': this.selectLottery,
          'months' : this.dateStart,
          'number' : this.number
        }
        if(this.dateStart != null &&  this.dateEnd != '' && this.selectUser != null){
          this.loadData = true;
          //send data to server
          sale.getStubsUsers(this.dateStart, this.dateEnd, this.selectUser).then(response => {
            console.log(response.data);
            this.items = response.data.data;
            this.total = response.data.total;
            this.loadData = false;
          })
        }else{
          this.$bvModal.msgBoxOk('Los Campos Son Obligatorios', {
          title: 'Información del Sistema',
          size: 'lg',
          buttonSize: 'lg',
          okVariant: 'danger',
          headerClass: 'p-2 border-bottom-0',
          footerClass: 'p-2 border-top-0',
          centered: true
        });
        }
      },
      formatNumber(val){
        return MathData.formatPrice(val);
      }
    }
    
};
</script>

<style>


</style>