<template>
  <b-container fluid>

    <b-card>
      <b-row>
        <b-col class="text-center">
          <h3 class="text-right">Ventas por Loteria y Número</h3>
        </b-col>
       
      </b-row>
      <b-row class="pt-3">
        <b-col cols="12" md="3">
          <div>
            <b-form-group
            label="Loterias"
            label-for="loterry_id"
            class="mb-0">
            <model-select
            id="loterry_id"
            :options="listLotterySelect"
            v-model="selectLottery"
            >
            </model-select>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col cols="12" md="3">
          <div>
            <SelecDate title="Fecha"  v-bind:dd="dateStart" v-on:input="dateStart = $event"></SelecDate>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
          
        </b-col>
        <b-col cols="12" md="3">
          <div>
            <b-form-group
            label="Número"
            label-for="number"
            class="mb-0">
            <b-form-input
            type="number"
            placeholder="Numero a Buscar"
            v-model="number"
            
            >
            </b-form-input>
            </b-form-group>
            <div class="mt-2">Campo Obligatorio</div>
          </div>
        </b-col>
        <b-col class="pt-4">
          <b-button variant="primary" block @click="searchData" >
          <span class="simple-icon-magnifier"></span>
          Buscar
          </b-button>
        </b-col>
      </b-row>
      <b-row class="pt-3">
        <b-col>
            <b-table 
            striped hover 
            :items="items" 
            :fields="fields"
            :current-page="currentPage"
            :tbody-tr-class="rowClass"
            :per-page="perPage"
            responsive
            >
            <template #cell(stub_id)="row">
              <b-button variant="primary" @click="prepareWhatsApp(row)">
                  <span class="simple-icon-eye"></span>
                  {{ row.item.stub_id }} 
              </b-button>
            </template>
            <template #cell(number)="row">
              {{ row.item.number}}
            </template>
            <template #cell(bet)="row">
              <div v-for="i in inFor(row.item.bet)" :key="i">
                  <div>
                    {{inValFor(i)}}
                  </div>
                  
              </div>
            </template>
            </b-table>
        </b-col>
      </b-row>
      <b-row v-if="loadData">
        <b-col >
          <div class="d-flex justify-content-center text-center mb-3">
            <strong>Cargando...</strong>
            <b-spinner class="ml-auto"></b-spinner>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
        </b-col>
      </b-row>
    </b-card>

    <b-modal id="bv-modal-success" ref="bv-modal-success" hide-footer>
      <template #modal-title>
        Re Enviar Datos
      </template>
      <div class="d-block text-center">
        
        <whatsapp 
        no-enforce-focus=true 
        :pushNumber="pushNumber" 
        :nameLottery="nameLottery" 
        :numberTicket="numberTicket" 
        :totalToPay="totalToPay" 
        :dateBet="dateBet"

        ></whatsapp>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-success')">Cerrar</b-button>
    </b-modal>
  </b-container>
</template>

<script>
import getLottery from './../../store/modules/getLottery';
import 'vue-search-select/dist/VueSearchSelect.css';
import { ModelSelect } from 'vue-search-select';
import {monthsData} from './../../constants/config';
import sale from './../../store/modules/sale';
import moment from 'moment';
import whatsapp from '../Common/whatsapp';
import stub from './../../store/modules/stub';
import MathData from './../../helpers/math';
import SelecDate from './../Common/SelectDate'

export default {
    components: {
      ModelSelect,
      whatsapp,
      SelecDate
    },
    data(){
        return {
            listLotterySelect: [],
            selectLottery: null,
            items: [],
            fields: [
                {key: 'stub_id', label: '#Colilla'},
                {key: 'client', label: 'Cliente / Telefono'},
                {key: 'client_phone', label: 'Telefono'},
                {key: 'number', label: 'Numero'},
                {key: 'bet', label: 'Apostado'},
                {key: 'user_document', label: 'CC Vendedor'},
                {key: 'user', label: 'Vendedor'},
                {key: 'stub_status', label: 'Estado'},
            ],
            selectMonth: [],
            isSelectMonth: 0,
            dateStart: moment().format('YYYY-MM-DD'),
            number: '',
            loadData: false,
            isBusy: false,
            totalRows: 1,
            currentPage: 1,
            perPage: 2,
            pushNumber: [],
            nameLottery: [],
            numberTicket: 0,
            totalToPay: 0,
            dateBet: '',
        }
    },
    mounted(){
        getLottery.lottery().then(response => {
                for(const positionLottery in response){
                this.listLotterySelect.push({
                    value: response[positionLottery].id, text: response[positionLottery].desc_lottery
                });
            }
        });
        //Months for year
        for(const i in monthsData){
          this.selectMonth.push({value: parseInt(i)+1, text: monthsData[i]});
        }
        this.$store.dispatch('setTimeLogin', moment().format("YYYY-MM-DD hh:mm:ss"));
    },
    methods:{
      searchData(){
        const data = {
          'loterry_id': this.selectLottery,
          'months' : this.dateStart,
          'number' : this.number
        }
        if(this.selectLottery != null &&  this.dateStart != '' && this.number != ''){
          this.loadData = true;
          //send data to server
          sale.searchNumberDate(this.selectLottery, this.dateStart, this.number).then(response => {
            this.items = response.data;
            this.totalRows = response.data.length;
            this.loadData = false;
          })
        }else{
          this.$bvModal.msgBoxOk('Los Campos Son Obligatorios', {
          title: 'Información del Sistema',
          size: 'lg',
          buttonSize: 'lg',
          okVariant: 'danger',
          headerClass: 'p-2 border-bottom-0',
          footerClass: 'p-2 border-top-0',
          centered: true
        });
        }
      },
      prepareWhatsApp(data){
        stub.get(data.item.stub_id)
        .then(result => {
          console.log(result.data)
          this.nameLottery = result.data.lottery;
          this.pushNumber = result.data.numbers;
          this.numberTicket = data.item.id;
          this.totalToPay = parseFloat(result.data.stub.total);
          this.dateBet = result.data.stub.created_at
          this.$refs['bv-modal-success'].show();
        })
        .catch((error)=>{

        })
        },
        rowClass(item, type){
            if (!item || type !== 'row') return
            if (item.stub_status === 'Eliminado') return 'table-danger'
            //if (item.status === 'Activo') return 'table-success'

        },
        inFor(val){
          return val.split(',');
        },
        inValFor(val){
          let numVal = val.split(':');
          if(numVal[1] > 0){
            return numVal[0] + ': $' + MathData.formatPrice(numVal[1]);
          }
        }
    }
    
};
</script>

<style>


</style>